{% load static %}
<!doctype html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TITLE{% endblock %}</title>

    {% block opengraph %}
        {% if show_opengraph %}
            <meta name="title" content="{{ meta_title }}"/>
            <meta name="description" content="{{ meta_description }}">
            <link rel="canonical" href="https://agir.lafranceinsoumise.fr{{ request.path }}"/>
            <meta property="og:locale" content="fr_FR"/>
            <meta property="og:type" content="{{ meta_type }}"/>
            <meta property="og:title" content="{{ meta_title }}"/>
            <meta property="og:description"
                  content="{{ meta_description }}"/>
            <meta property="og:url" content="https://agir.lafranceinsoumise.fr  {{ request.path }}"/>
            <meta property="og:site_name" content="La France Insoumise - Agir"/>
            <meta property="fb:app_id" content="212018935817034"/>
            <meta property="og:image"
                  content="https://lafranceinsoumise.fr/app/uploads/2017/03/33542054765_ce59381e72_k.jpg"/>
            <meta property="og:image:secure_url"
                  content="https://lafranceinsoumise.fr/app/uploads/2017/03/33542054765_ce59381e72_k.jpg"/>
            <meta name="twitter:card" content="summary_large_image"/>
            <meta name="twitter:description"
                  content="{{ meta_description }}"/>
            <meta name="twitter:title" content="{{ meta_title }}"/>
            <meta name="twitter:site" content="@FranceInsoumise"/>
            <meta name="twitter:image"
                  content="https://lafranceinsoumise.fr/app/uploads/2017/03/33542054765_ce59381e72_k.jpg"/>
            <meta name="twitter:creator" content="@FranceInsoumise"/>
        {% endif %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "front/css/main-26d0194863.css" %}" type="text/css">
    <link rel="icon" href="{% static "front/images/cropped-cropped-phi-32x32.png" %}" sizes="32x32"/>
    <link rel="icon" href="{% static "front/images/cropped-cropped-phi-192x192.png" %}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" href="{% static "front/images/cropped-cropped-phi-180x180.png" %}"/>
    <meta name="msapplication-TileImage" content="{% static "front/images/cropped-cropped-phi-270x270.png" %}"/>
    {% block additional_headers %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">
    </script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js">
    </script>
    {% block extra_scripts %}{% endblock %}

</head>
<body class="home archive">
<!--[if IE]>
      <div class="alert alert-warning">
        Vous utilisez une version obsolète de votre navigateur. Veuillez le  <a href="http://browsehappy.com/">mettre à jour</a> pour visionner votre site correctement.      </div>
    <![endif]-->
<header class="banner">
    <nav class="nav-primary navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#main-navbar-collapse" aria-expanded="false">
                    Menu <span class="caret"></span>
                </button>
                <a href="https://lafranceinsoumise.fr" class="custom-logo-link" rel="home" itemprop="url"><img
                        src="{% static "front/images/170428_logoRectangle_transparent.png" %}"
                        class="custom-logo" alt="La France insoumise" itemprop="logo"
                        srcset="{% static "front/images/170428_logoRectangle_transparent.png" %} 1038w, {% static "front/images/170428_logoRectangle_transparent-300x145.png" %} 300w, {% static "170428_logoRectangle_transparent-768x370.png" %} 768w, {% static "front/images/170428_logoRectangle_transparent-1024x493.png" %} 1024w"
                        sizes="(max-width: 1038px) 100vw, 1038px"/></a></div>
            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <div id="menu-export"></div>
                <script>
                  (function () {
                    /** SETTINGS **/
                    var themeLocation = 'primary_navigation';
                    var addBootstrapCSS = true;
                    var menu_class = 'nav%20navbar-nav%20navbar-right';
                    var container = '';

                    var r = new XMLHttpRequest();
                    r.open('GET', 'https://lafranceinsoumise.fr/?menu_export=1&theme_location=' + themeLocation +
                      '&menu_class=' + menu_class + '&container=' + container +
                      (addBootstrapCSS ? '&bootstrap=1' : ''), true);
                    r.onreadystatechange = function () {
                      if (r.readyState != 4 || r.status != 200) return;
                      document.getElementById('menu-export').innerHTML = r.responseText;
                    };
                    r.send();
                  })();
                </script>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-secondary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#supporter-nav-collapse">
                    <span class="sr-only">Activer la navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="supporter-nav-collapse" class="collapse navbar-collapse">
                <div class="menu-menu-principal-container">
                    {% if user.is_authenticated %}
                        <ul id="menu-menu-principal" class="nav navbar-nav">
                            <li class="menu-item"><a title="Mes groupes" href="{% url "list_groups" %}">Mes groupes</a>
                            </li>
                            <li class="menu-item"><a title="Mes événements" href="{% url "list_events" %}">Mes
                                événements</a>
                            </li>
                            <li class="menu-item"><a title="J'en dis plus sur moi" href="{% url "change_profile" %}">J'en
                                dis plus sur moi</a></li>
                            <li class="menu-item"><a title="J'agis" href="{% url "volunteer" %}">J'agis</a></li>
                        </ul>
                    {% endif %}
                    <ul id="menu-menu-connexion" class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="menu-item"><a title="Déconnexion"
                                                     href="{% url "oauth_disconnect" %}">Déconnexion</a></li>
                        {% else %}
                            <li class="menu-item"><a title="Connexion"
                                                     href="{% url "oauth_redirect_view" %}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="wrap container" role="document">
    <div class="content row">
        <main class="main">
            {% if messages %}
                <div style="margin-top: 1em;">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block main %}
            {% endblock %}
        </main>
    </div>
</div>
</body>
</html>
