{% extends email_template %}

{% block subject %}
  Vous êtes déjà inscrit·e !
{% endblock %}

{% block header %}{% endblock %}

{% block html_content %}
  <p>{{ greetings }}</p>

  <p style="margin-top: 2rem;">
    Nous sommes heureux que vous souhaitiez nous rejoindre...
  </p>

  <p style="margin-top: 2rem;">
    Mais vous avez déjà un compte Action populaire !
    Nous pouvons même vous dire que vous nous avez rejoint <strong>{{ AGO }}</strong>.
  </p>

  <p style="margin-top: 2rem;">
    Si vous souhaitiez simplement accéder à votre compte, utilisez le bouton ci-dessous :
  </p>

  <p style="text-align: center;margin-top: 2rem;">
    <a href="{{ FRONT_DOMAIN }}" style="box-sizing: border-box; display: inline-block; width: 100%; max-width: 400px; text-decoration: none; color: #000A2C; font-weight: bold; padding: 1rem 1.5rem; background-color: #F4ED0F; font-size: 1rem; border-radius: 8px;">
      Je me connecte à Action populaire
    </a>
  </p>

  <p style="margin-top: 2rem;">Amitiés<br><br>L'équipe d'Action Populaire</p>
{% endblock %}

{% block html_footer %}{% endblock %}
