{% extends email_template %}

{% block subject %}
  Merci de votre soutien !
{% endblock %}

{% block html_content %}
  <p>{{ greetings }},</p>

  <p>
    Vous avez rejoint la plateforme <a style="font-weight: bold;" href="{{ dashboard_link }}">Action populaire</a> parce qu'un
    autre membre vous a ajouté·e.
  </p>
  <p>
    Bienvenue et merci à vous de votre soutien&nbsp;!
  </p>

  <p>
    Pour en savoir plus sur Action populaire et sur le mouvement de la France insoumise nous vous invitons à découvrir
    nos sites&nbsp;:
  </p>

  <p style="margin-top: 2rem;font-family: Arial, Helvetica, sans-serif; text-align: center;">
    <a href="{{ dashboard_link }}"
       style="display: inline-block; text-decoration: none; color: #000A2C; font-weight: bold; padding: 14px; background-color: #F4ED0F; border-radius: 5px; font-size: 1.25em;">
      Voir Action populaire
    </a>
  </p>

  <p style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
    <a href="https://lafranceinsoumise.fr/"
       style="display: inline-block; text-decoration: none; color: #000A2C; font-weight: bold; padding: 14px; background-color: #F4ED0F; border-radius: 5px; font-size: 1.25em;">
      Voir le site de la France insoumise
    </a>
  </p>

  <br/>

  <p>
    Si vous le pouvez, nous vous invitons également à soutenir financièrement les actions du mouvement et des
    ses groupes d'actions :
  </p>

  <p style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
    <a href="{{ donation_link }}"
       style="display: inline-block; text-decoration: none; color: white; font-weight: bold; padding: 14px; background-color: #e93a55; border-radius: 5px; font-size: 1.25em;">
      Faire un don
    </a>
  </p>

  <br/>

  {% if is_new %}
    <p>
      Vous n’êtes pas à l’origine de cette action et vous souhaitez pas être recontacté·e&nbsp;?
      Cliquez sur le lien ci-dessous&nbsp;:
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
      <a href="{{ delete_link }}"
         style="display: inline-block; text-decoration: none; color: white; font-weight: bold; padding: 14px; background-color: #571aff; border-radius: 5px; font-size: 1.25em;">
        Annuler l'inscription
      </a>
    </p>
    <p>
      Il vous sera demandé d'entrer un code que vous recevrez sur votre adresse e-mail et vous pourrez ensuite demander
      la suppression du compte.
    </p>
  {% else %}
    <p>
      Vous aviez déjà un compte sur <a style="font-weight: bold;" href="{{ dashboard_link }}">Action populaire</a> depuis
      le {{ subscription_date }}&nbsp;: par sécurité, vos informations n'ont pas été mises à jour.
    </p>
    <p>
      Vous pouvez à tout moment vérifier et mettre à jour vos informations directement sur la plateforme, sur la page de
      votre profil&nbsp;:
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
      <a href="{{ account_link }}"
         style="display: inline-block; text-decoration: none; color: white; font-weight: bold; padding: 14px; background-color: #571aff; border-radius: 5px; font-size: 1.25em;">
        Voir mes informations personnelles
      </a>
    </p>
  {% endif %}

  <br/>

  <p>Amitiés<br><br>L'équipe d'Action Populaire</p>
{% endblock %}
