{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Mes adresses emails" %}{% endblock %}

{% block main %}
    <h2 class="headline">Mes adresses emails</h2>
    <div>
        <div class="intro">
            <p>Vous pouvez ci-dessous ajouter ou supprimer des adresses emails.</p>
        </div>

        <h3>Mes adresses</h3>

        <ul class="list-group">
            {% for email in emails %}
            <li class="list-group-item">
                {{ email.address }}
                {% if can_delete %} <a class="btn btn-sm btn-default" href="{% url "delete_email" email.pk %}">Supprimer</a>{% endif %}
            </li>
            {% endfor %}
        </ul>

        <h3>Ajouter une adresse email</h3>

        {% crispy add_email_form %}

    </div>
{% endblock %}
