{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ poll.title }}{% endblock %}

{% block main %}
    <h2 class="headline">{{ poll.title }}</h2>
    <p>{{ poll.html_description }}</p>
    {% if already_voted %}
        <div class="alert alert-info">
            Vous avez déjà participé à cette consultation ! Pour mémoire, voici quels étaient les choix proposés.
        </div>

        <ul>
            {% for choice in poll.options.all %}
                {{ choice.html_description }}
            {% endfor %}
        </ul>
    {% else %}
        {% crispy form %}
    {% endif %}
{% endblock %}
