{% extends 'front/layout.html' %}

{% block main %}
<div>
  <h4>Vous faites déjà un don mensuel !</h4>
  <p>Si vous souhaitez modifier votre don mensuel, commencez d'abord par annuler l'ancien en vous rendant dans
    <a href="{% url "view_payments" %}">la section <em>paiements</em> de votre profil</a>.</p>
  <p>
    <strong>Pourquoi est-ce nécessaire ?</strong><br>
    Parce que nous n'avons pas encore eu le temps de mettre en place la fonctionnalité de modification d'un don
    mensuel ! Mais cela devrait venir rapidement.
  </p>
</div>
{% endblock %}
