{% extends 'front/layout.html' %}
{% load display_lib %}

{% block css %}
{{ block.super }}
<style>
  h2,
  h3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 1rem 0;
  }

  #card-wrapper .card {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 0px 3px 3px rgba(0, 35, 44, 0.1);
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex: 1 0;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #card-wrapper .card h4 {
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    flex: 1 1 auto;
  }

  #card-wrapper .card article {
    margin: 1rem 0;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  #card-wrapper .card ul {
    margin-top: .5rem;
    padding-left: 1.5rem;
  }

  #card-wrapper .card strong {
    font-weight: 600;
  }
</style>
{% endblock %}

{% block main %}
<div>
  <h2>Vous faites déjà un don mensuel&nbsp;!</h2>
  <form method="post" id="card-wrapper">
    {% csrf_token %}
    <div class="card">
      <h4>Je remplace mon don mensuel existant</h4>
      <article>
      <p>
        Je donnerai <strong>{{ new_subscription.amount | display_price_in_cent }}</strong> par mois {% if new_subscription.end_date %}
          jusqu'à <strong>{{ new_subscription.end_date | date:"F Y" }}</strong>
        {% endif %}.
      </p>
        {% if new_subscription.allocations %}
          {% include "donations/includes/allocation_description.html" with allocations=new_subscription.allocations national_amount=new_subscription.national_amount only %}
        {% endif %}
      </article>
      <button class="btn btn-primary" type="submit" name="choice" value="R">Je remplace le don existant</button>
    </div>
  </form>
</div>
{% endblock %}
