{% extends 'front/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  J'aide la France insoumise
{% endblock %}

{% block extra_scripts %}
  <style>
    body {
      background: url({% block background_url %}{% static "donations/convention_plan_large_comp.jpg" %}{% endblock %}) no-repeat;
      background-size: cover;
      background-position: center bottom;
      min-height: 100vh;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }

    .donation-block {
      background-color: white;
      padding: 22px;
      border-radius: 8px;
      box-shadow: 0px 0px 3px rgba(0, 35, 44, 0.1), 0px 2px 0px rgba(0, 35, 44, 0.08);
    }

    .donation-block--intro {
      border-radius: 0 0 8px 8px;
    }

    .donation-block--intro .clear {
      display: none;
    }

    .donation-block--form {
      padding: 20px 40px;
      margin: 100px auto;
      background-color: rgba(255,255,255,.9);
    }

    .donation-block--legal {
      font-size: small;
      border-radius: 8px 8px 0 0;
    }

    @media (max-width: 992px) {
      .donation-block {
        border-radius: 0;
      }
      .donation-block--intro .clear {
        display: block;
        height: 1em;
      }
    }
  </style>
{% endblock %}

{% block full_width %}
  <div class="container donation-block donation-block--intro">
    {% block donation_intro %}
      <div class="row">
        <div class="col-xs-12">
          <p>
            Pour financer les dépenses liées à l’organisation d’événements, à l’achat de matériel, au fonctionnement de ce site, etc., nous avons besoin du soutien financier de chacun·e d’entre vous.
            <span class="clear"></span>
            Sur cette page, vous pouvez faire un don à la France insoumise du montant de votre choix par carte de crédit ou par chèque.
          </p>
          <p>
            Un reçu détaché d'une formule numérotée éditée par la Commission nationale des comptes de campagne, vous sera adressé et vous permettra de déduire cette somme de vos impôts sur le revenu, dans les limites fixées par la loi.
            <span class="clear"></span>
            Votre don donne droit à une réduction d’impôt de 66% des sommes versées dans la limité de 20% du revenu imposable.
          </p>
          <p>
            <strong>
              Attention : il s'agit d'une réduction d'impôt, et non d'un crédit d'impôt. Vous ne pouvez en faire usage que si vous payez des impôts sur le revenu.
            </strong>
          </p>
        </div>
      </div>
    {% endblock %}
  </div>
  <div class="container donation-block donation-block--form">
    <div class="col-xs-12 text-center">
      <h2>
        {% block donation_dest %}
          {{ donation_title|default:"Je veux aider la France insoumise" }}
        {% endblock %}
      </h2>
      {% crispy form %}
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="container donation-block donation-block--legal">
    <div class='col-xs-12'>
      {% block legal %}
        {% include "donations/legal.html" %}
      {% endblock legal %}
    </div>
  </div>
{% endblock %}

{% block app_bundles %}
  {{ block.super }}
  {% include "donations/donationForm.bundle.html" %}
{% endblock %}
