{% extends 'front/layout.html' %}{% load crispy_forms_tags %}{% load static %}

{% block title %}
  Créer une demande de dépense ou de remboursement
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-responsive">
      <h1>Créer une demande de dépense ou de remboursement</h1>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          <legend>Les informations de votre demande</legend>
          {% crispy spending_request_form %}
        </fieldset>
        <fieldset>
          <legend>Les justificatifs de votre demande</legend>
          <p>Merci de fournir les documents permettant de justifier votre demande. <strong>Vous devez joindre <em>a
            minima</em> une facture correspondant à cette dépense</strong>, ainsi que tout autre élément justificatif
            pour votre dépense.</p>
          <p>
            Vous pourrez joindre d'autres documents après la validation de ce formulaire et avant la soumission de votre
            demande à l'équipe de suivi des questions financières de la France insoumise.
          </p>
          <p>
            <small>Les documents textuels peuvent être au format PDF, Word, Excel ou OpenOffice/LibreOffice. Les images
              peuvent être au format JPG ou PNG.
            </small>
          </p>
          {% crispy document_formset document_helper %}
        </fieldset>
        <div class="controls ">
          <input type="submit" name="submit" value="Créer un brouillon de demande" class="btn btn-primary"
                 id="submit-id-valider"/>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
