{% extends 'front/layout.html' %}{% load crispy_forms_tags %}{% load static %}

{% block title %}
  Créer une demande de dépense ou de remboursement
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "view_group_settings_finance" supportgroup.pk %}">
          <i class="fa fa-arrow-left"></i>&emsp;Retour
        </a>
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    <div class="col-xs-12 col-md-2 margintopmore"></div>
    <div class="col-xs-12 col-md-8 tab-content">
      <h2 class="headline">
        {{ supportgroup.name }}
      </h2>
      <hr />
      <h4 class="padbottom">
        Créer une demande de dépense ou de remboursement
      </h4>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          <legend>Les informations de votre demande</legend>
          {% crispy spending_request_form %}
        </fieldset>
        <fieldset>
          <legend>Les justificatifs de votre demande</legend>
          <p>Merci de fournir les documents permettant de justifier votre demande. <strong>Vous devez joindre <em>a
            minima</em> une facture correspondant à cette dépense</strong>, ainsi que tout autre élément justificatif
            pour votre dépense.</p>
          <p>
            Vous pourrez joindre d'autres documents après la validation de ce formulaire et avant la soumission de votre
            demande à l'équipe de suivi des questions financières de la France insoumise.
          </p>
          <p>
            <small>Les documents textuels peuvent être au format PDF, Word, Excel ou OpenOffice/LibreOffice. Les images
              peuvent être au format JPG ou PNG.
            </small>
          </p>
          {% crispy document_formset document_helper %}
        </fieldset>
        <div class="row padtopmore">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <input
              type="submit"
              name="submit"
              value="Créer un brouillon de demande"
              class="btn btn-block btn-lg btn-primary"
              id="submit-id-valider"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
