{% extends 'front/layout.html' %}{% load crispy_forms_tags %}{% load static %}

{% block title %}Ajout d'une pièce justificative{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "manage_spending_request" spending_request.pk %}">
        <i class="fa fa-arrow-left"></i>&emsp;Retour
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12 col-md-2 margintopmore"></div>
  <div class="col-xs-12 col-md-8 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <h4 class="padbottom">
      Ajouter une pièce justificative
    </h4>
    {% crispy form %}
  </div>
</div>
{% endblock %}
