{% load display_lib %}
<div>
  <h5>
    {{ payment_type.label }} à l'AFLFI
  </h5>
  <div>
    Vous avez donné <strong>{{ payment.price | display_price_in_cent }}</strong> à l'association de financement de
    la France insoumise le {{ payment.created | date }}
    {% if payment.type == "don_mensuel" %} dans le cadre de votre don mensuel automatique.
    {% elif payment.type == "contribution" %} dans le cadre de votre contribution financière volontaire.
    {% endif %}
  </div>
  {% if allocations|length > 0 %}
    {% include "donations/includes/allocation_description.html" with allocations=allocations national_amount=national_amount only %}
  {% endif %}
</div>
