{% extends 'front/layout.html' %}{% load crispy_forms_tags %}{% load static %}

{% block title %}Modifier une pièce justificative{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px;">
    <a
      class="btn btn-sm btn-default"
      href="{% url "view_group" supportgroup.pk %}">
      <i class="fa fa-external-link"></i> Page publique du groupe
    </a>
  </div>
  <div class="col-xs-12 col-md-3 margintopmore">
    {% include "groups/includes/manage_nav.html" with has_static_menu=True active="financement" %}
  </div>
  <div class="col-xs-12 col-md-9 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <h4 class="padbottom">
      Modifier une pièce justificative
    </h4>
    {% crispy form %}
  </div>
</div>
{% endblock %}
