{% extends 'front/layout.html' %}{% load static %}

{% block extra_scripts %}
  {% include "donations/spendingRequestLib.bundle.html" %}
{% endblock %}

{% block title %}
  Gérer l'avancement de votre demande de dépense ou de remboursement
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "view_group_settings_finance" supportgroup.pk %}">
          <i class="fa fa-arrow-left"></i>&emsp;Retour
        </a>
      </div>
      <div class="pull-right">
        {% if can_edit %}
          <a
            class="btn btn-sm btn-default"
            href="{% url "edit_spending_request" spending_request.pk %}">
            <i class="fa fa-pencil"></i> Modifier la demande
          </a>
          <a
            class="btn btn-sm btn-default"
            href="{% url "create_document" spending_request.pk %}">
            <i class="fa fa-plus"></i> Ajouter une pièce justificative
          </a>
        {% endif %}
        {% if can_delete %}
          <span
            class="delete-spending-request"
            data-delete-url="{% url "delete_spending_request" spending_request.pk %}">
          </span>
        {% endif %}
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    <div class="col-xs-12 tab-content">
      <h2 class="headline">
        {{ supportgroup.name }}
      </h2>
      <hr />
      <h4 class="padbottom">
        Gérer ma demande de dépense ou de remboursement
      </h4>
      <div class="row">
        <div class="col-md-8">
          <div class="padtop padbottommore">
            <h4>Détails</h4>
            <div class="table-responsive">
              <table class="table table-condensed">
                {% for field in summary %}
                <tr>
                  <th>{{ field.label }}</th>
                  <td>{{ field.value }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <div class="padtop padbottommore">
            <h4>Pièces justificatives</h4>
            {% if documents %}
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                  <tr>
                    <td>
                      {{ document.title }}
                    </td>
                    <td>{{ document.get_type_display }}</td>
                    <td>
                      <a
                        class="btn btn-sm btn-info"
                        href="{{ document.file.url }}"
                        title="Télécharger le document">
                        <span class="fa fa-eye"></span>
                      </a>
                    </td>
                    <td>
                      <a
                        href="{% url "edit_document" spending_request.pk document.pk %}"
                        class="btn btn-sm btn-info"
                        title="Modifier le document"
                      >
                        <span class="fa fa-pencil"></span>
                      </a>
                    </td>
                    <td>
                      <span style="display: inline-block" class="delete-document"
                           data-document-name="{{ document.title }}"
                           data-delete-url="{% url "delete_document" spending_request.pk document.pk %}"></span>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
              <p>
                Vous n'avez pas encore joint de pièce justificative à votre demande. Vous devez joindre au moins une facture, ainsi que l'ensemble des pièces nécessaires pour évaluer votre demane.
              </p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="padtop padbottommore">
            <h4>Statut de la demande</h4>
            <p class="padbottom">{{ action.explanation }}</p>
            {% if action.button %}
              <form method="post" style="display: inline;">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="validate"
                  value="{{ spendingrequest.status }}"
                />
                <input
                  type="submit"
                  value="{{ action.button }}"
                  class="btn btn-block btn-primary"
                />
              </form>
            {% endif %}
          </div>
          <div class="padtop padbottommore">
            <h4>Historique</h4>
            <div class="list-group">
              {% for step in history %}
                <div class="list-group-item marginbottom" style="border-radius: 8px;">
                  <p>
                    <small>Le {{ step.modified }}</small>
                    <br />
                    <strong>{{ step.title }}</strong>
                    {% if step.user %}
                      <br/><small>({{ step.user }})</small>
                    {% endif %}
                  </p>
                  {% if step.comment %}
                    <div class="well" style="font-size: 14px;">{{ step.comment }}</div>
                  {% endif %}
                  {% if step.diff %}
                    <p style="font-size: 12px;">
                      <em>Ont été modifiés&nbsp;:</em>
                      <br/>
                      <strong>
                        {{ step.diff|join:"</strong>, <strong>" }}
                      </strong>
                    </p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
