{% extends 'front/layout.html' %}
<div>
  <h4>Un email de confirmation vous a été envoyé</h4>
  <p>Pour finaliser votre don mensuel, vérifiez votre boîte mail : un message vous a été envoyé pour finaliser la
    procédure.</p>
  <p>
    <strong>Pourquoi cette étape ?</strong><br>
    Dans le cadre d'un don mensuel, nous pouvons avoir besoin de vous contacter, notamment pour vous transmettre votre
    reçu fiscal, ou si la <em>Commission nationale des comptes de campagne et des financements politiques</em>
    nous demande des informations supplémentaires. Nous devons donc nous assurer que vous avez bien accès à cette
    adresse email.
  </p>
</div>
