{% extends 'front/layout.html' %}
{% block main %}
<div class="row padtop padbottom">
  <div class="col-xs-12">
    {% if user.is_anonymous %}
      <div class="alert alert-info">
        <span aria-hidden="true" class="fa fa-arrow-up" style="font-weight: 700; text-shadow: 0 1px 0 #fff; float: right; font-size: 30px; margin-right: 20px;"></span>
        <p>
          Si vous avez déjà un compte sur <strong>lafranceinsoumise.fr</strong>, avez déjà soutenu sur <strong>melenchon2022.fr</strong> ou êtes inscrit sur <strong>actionpopulaire.fr</strong>, vous pouvez vous connecter pour éviter d'avoir à
          saisir toutes ces informations.
        </p>
      </div>
    {% endif %}
    <h2 class="headline">
      Finaliser mon don mensuel
    </h2>
    <div>
      <h4>
        Un email de confirmation vous a été envoyé
      </h4>
      <p>
        Pour finaliser votre don mensuel, vérifiez votre boîte mail : un message vous a été envoyé pour finaliser laprocédure.
      </p>
      <h4>Pourquoi cette étape ?</h4>
      <p>
        Dans le cadre d'un don mensuel, nous pouvons avoir besoin de vous contacter, notamment pour vous transmettre votre
        reçu fiscal, ou si la <em>Commission nationale des comptes de campagne et des financements politiques</em>
        nous demande des informations supplémentaires.
      </p>
      <p>
        Nous devons donc nous assurer que vous avez bien accès à cette adresse email.
      </p>
    </div>
  </div>
</div>
{% endblock %}
