{% extends 'front/layout.html' %}
{% block main %}
<div class="row padtop padbottom">
  <div class="col-xs-12">
    <h2 class="headline">
      Finaliser mon don régulier
    </h2>
    <div>
      <h4>
        Un email de confirmation vous a été envoyé
      </h4>
      <p>
        Pour finaliser votre don régulier, vérifiez votre boîte mail : un message vous a été envoyé pour finaliser la procédure.
      </p>
      <h4>Pourquoi cette étape ?</h4>
      <p>
        Dans le cadre d'un don mensuel, nous pouvons avoir besoin de vous contacter, notamment pour vous transmettre votre
        reçu fiscal, ou si l'administration fiscale nous demandait des informations supplémentaires.
      </p>
      <p>
        Nous devons donc nous assurer que vous avez bien accès à cette adresse email.
      </p>
    </div>
  </div>
</div>
{% endblock %}
