{% extends "front/layout.html" %}{% load crispy_forms_tags %} {% load display_lib %}

{% block title %}
  Mes informations personnelles
{% endblock %}

{% block main %}
  {% if user.is_anonymous %}
    <div class="alert alert-info">
            <span aria-hidden="true" class="fa fa-arrow-up"
                  style="font-weight: 700; text-shadow: 0 1px 0 #fff; float: right; font-size: 30px; margin-right: 20px;"></span>
      <p>
        Si vous avez déjà un compte sur <em>lafranceinsoumise.fr</em>, vous pouvez vous connecter pour éviter d'avoir à
        saisir toutes ces informations. </p>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-success">Je souhaite donner <strong>{{ amount | display_price }}</strong> à {% block donation_dest %}la France
        insoumise.{% endblock %}
        {% if group_name %}<strong>{{ national | display_price }}</strong> seront alloués aux activités et campagnes
          nationales et <strong>{{ allocation | display_price }}</strong> au financement des activités du groupe d'action
          &laquo;&nbsp;<em>{{ group_name }}</em>&nbsp;&raquo;.{% endif %}</div>

      {% crispy form %}
    </div>
    <div class="col-md-6">
      <div style="font-size: smaller">
        {% block legal %}
          {% include "donations/legal.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script>
    var fiscalResident = document.getElementById('id_fiscal_resident')
    var nationality = document.getElementById('id_nationality')

    function updateFiscalResident () {
      var currentNationality = nationality.value
      var display = currentNationality !== '' && currentNationality !== 'FR'
      fiscalResident.parentNode.style.display = display ? 'block' : 'none'
      fiscalResident.disabled = !display
      fiscalResident.required = display
    }

    nationality.addEventListener('change', updateFiscalResident)
    updateFiscalResident()
  </script>
{% endblock %}
