{% extends "donations/personal_information.html" %}

{% block donation_headline %}Mon don à la campagne présidentielle Mélenchon 2022{% endblock %}
{% block donation_dest %}la campagne présidentielle Mélenchon 2022{% endblock %}

{% block legal %}
<p>
  Les dons sont destinés à l'<strong><abbr title="Association de Financement de la Campagne Présidentielle de Jean-Luc Mélenchon 2022">AFCP JLM 2022</abbr></strong>, déclarée à la préfecture de Paris le 15 juin 2021, seule habilitée à recevoir les
  dons en faveur du candidat Jean-Luc Mélenchon, dans le cadre de la campagne pour l'élection présidentielle de 2022.
</p>
<p>
  Un reçu détaché d'une formule numérotée éditée par la Commission nationale des comptes de campagne vous sera directement adressé en mai de l’année suivant l’année de versement de votre don.
</p>
<p>
  Tout don de personne morale (entreprise, association, SCI, compte professionnel de professions libérales ou de commerçants…) est interdit.
</p>
<p>
  <strong>Alinéa 1, 2 et 3 de l'article L. 52-8 du Code électoral&nbsp;:</strong>
</p>
<p><em>
    Une personne physique peut verser un don à un candidat si elle est de nationalité française ou si elle réside en France. Les dons consentis par une personne physique dûment identifiée pour le financement de la campagne d'un ou plusieurs candidats
    lors des mêmes élections ne peuvent excéder 4 600 euros.

    Les personnes morales, à l'exception des partis ou groupements politiques, ne peuvent participer au financement de la campagne électorale d'un candidat, ni en lui consentant des dons sous quelque forme que ce soit, ni en lui fournissant des
    biens, services ou autres avantages directs ou indirects à des prix inférieurs à ceux qui sont habituellement pratiqués. [...]

    Tout don de plus de 150 euros consenti à un candidat en vue de sa campagne doit être versé par chèque, virement, prélèvement automatique ou carte bancaire.
  </em></p>
<p>
  <strong>III. de l'article L113-1 du Code électoral&nbsp;:</strong>
</p>
<p>
  <em>
    Sera puni de trois ans d'emprisonnement et de 45 000 € d'amende quiconque aura, en vue d'une campagne électorale, accordé un don ou un prêt en violation des articles L. 52-7-1 et L. 52-8.
  </em>
</p>
{% endblock %}
