{% load display_lib %}
<h4>Don mensuel à l'AFLFI</h4>
<p>Vous donnez <strong>{{ subscription.price | display_price_in_cent }}</strong> chaque {{ subscription.day_of_month }} du
mois à l'association de financement de la France insoumise.</p>
{% if subscription.allocations.count > 0 %}
  Sur ces {{ subscription.price | display_price_in_cent }}&nbsp;:
  <ul>
    <li>{{ national_amount |display_price_in_cent }} sont alloués aux actions, aux campagnes nationales, et aux outils mis à la disposition des insoumis⋅es (comme cette plateforme internet).</li>
  {% for allocation in subscription.allocations.all %}
    {#  TODO: implement other allocation types  #}
    {% if allocation.group %}
      <li>{{ allocation.amount | display_price_in_cent }} sont alloués aux actions du groupe &laquo;&nbsp;{{ allocation.group }}&nbsp;&raquo;</li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}
{% if expiry_date %}<p>Votre carte expire le {{ expiry_date }}.</p>{% endif %}
