{% extends "front/layout.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Connexion à la plateforme{% endblock %}

{% block main %}
  <div class="col-responsive">
    <h1>Un email vous a été envoyé</h1>
    {% if is_soft_logged %}
      <p>
        Vous cherchez à accéder à une page contenant des données personnelles.
        Pour vous authentifier, un e-mail vous a été envoyé à {{ email }}. (ce n'est pas vous ?
        <a href="{% url "disconnect" %}?next={% url "short_code_login" %}">Cliquez-ici pour vous reconnecter
        </a> avec votre compte.)
      </p>
    {% endif %}
    <p>
      Vérifiez votre boîte email. Vous devez entrer le code de
      connexion à 5 chiffres et lettres qui se trouve dans l'e-mail.
    </p>
    {% crispy form %}
  </div>
{% endblock %}
