{% extends "front/layout.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Connexion{% endblock %}

{% block main %}
  <div class="col-responsive">
    <h2>Un email vous a été envoyé</h2>
    {% if is_soft_logged %}
      <p>
        Vous cherchez à accéder à une page contenant des données personnelles.
        Pour vous authentifier, un e-mail vous a été envoyé à l'adresse <strong>{{ email }}</strong>.
      </p>
      <p>
        <em>Ce n'est pas vous ?</em>
        <br />
        <a href="{% url "disconnect" %}?next={% url "short_code_login" %}">Cliquez ici pour vous reconnecter
        </a> avec votre compte.
      </p>
    {% endif %}
    <p>
      Vérifiez votre boîte email. Si nous avons reconnu votre adresse, entrez le code de connexion à 5 chiffres et lettres qui se trouve dans l'e-mail. Sinon, il vous sera proposé de vous inscrire.
    </p>
    {% crispy form %}
  </div>
{% endblock %}
