{% extends "front/layout.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Connexion à la plateforme{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2 class="marginbottommore padbottommore">Se connecter</h2>
      {% if is_hard_logged %}
        <p>
          Vous êtes déjà connecté⋅e, <a href={% url 'disconnect' %}>cliquez ici</a> pour vous déconnecter.
        </p>
      {% else %}
        <div class="marginbottom">
          <a href="{% url "social:begin" "facebook" %}" class="btn btn-primary btn-block marginbottom" style="background-color: #475994; border-color: #475994;">
            Se connecter avec Facebook <i class="fa fa-facebook"></i></a>
          <p class="text-muted small">Vous devez utiliser la même adresse email sur Facebook et sur la France insoumise, ou avoir déjà associé manuellement vos comptes.</p>
        </div>
        {% if bookmarked_emails %}
          <form class="marginbottom" method="post">
            {% csrf_token %}
            <label>Utiliser une adresse précédemment utilisée&nbsp;</label>
            <div>
              {% for email in bookmarked_emails %}
                <p>
                  <button type="submit" class="btn btn-default btn-block" name="email" value="{{ email }}">{{ email }}</button>
                </p>
              {% endfor %}
            </div>
          </form>
        {% endif %}
        <div class="marginbottom">
          {% crispy form %}
        </div>
      {% endif %}
      <p class="margintopmore">
        Pas encore de compte&nbsp;?
        <a href="{% url "subscription" %}">Rejoignez la France insoumise</a>.
      </p>
    </div>
  </div>
{% endblock %}
