{% extends 'front/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    J'aide la France insoumise
{% endblock %}

{% block full_width %}
    <style>
        body {
            background: url({% static "donations/convention_plan_large_comp.jpg" %}) no-repeat;
            background-size: cover;
            background-position: center bottom;
            min-height: 100vh;
        }
    </style>

    <div style="background-color: white; margin-top: -22px; padding: 22px;">
        <div class="container">
            <p>Pour financer les dépenses liées à l’organisation d’événements, aux campagnes présidentielle et
                législatives, à l’achat de matériel, au fonctionnement de ce site, etc., nous avons besoin du soutien
                financier de chacun.e d’entre vous. Sur cette page, vous pouvez faire un don à la France insoumise du
                montant de votre choix par carte de crédit.</p>
            <p>Un reçu, édité par la CNCCFP, vous sera adressé et vous permettra de déduire cette somme de vos impôts
                dans les limites fixées par la loi. Votre don donne droit à une réduction d’impôt de 66% des sommes
                versées dans la limité de 20% du revenu imposable.</p>
            <p>Vous pouvez également faire un don par chèque libellé à l’ordre de AFLFI (Association de Financement de
                La France Insoumise) en envoyant votre chèque avec
                <a href="{% static "donations/formulaire_dons_20180104.pdf" %}">ce formulaire téléchargeable</a>.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="col-responsive"
             style="background-color: rgba(100%, 100%, 100%, 0.8); margin-top: 100px; margin-bottom: 100px; padding: 20px 40px;">
            <h2>Je veux aider la France insoumise</h2>
            {% crispy form %}
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="background-color: white; padding: 22px; font-size: smaller;">
        <div class="container">
            <b>Premier alinéa de l'article 11-4 </b> de la loi 88-227 du 11 mars 1988 modifiée : <i><b>Une personne
            physique peut verser un don à un parti ou groupement politique si elle est de nationalité française ou si
            elle réside en France.</b></i><i> </i><i><b>Les dons consentis et les cotisations versées en qualité
            d'adhérent d'un ou de plusieurs partis ou groupements politiques </b></i><i>par une personne physique dûment
            identifiée</i><i><b> à une ou plusieurs associations </b></i><i>agréées en qualité d'association de
            financement ou à un ou plusieurs mandataires financiers d'un ou de plusieurs partis ou groupements
            politiques</i><i><b> ne peuvent annuellement excéder 7 500 euros.</b></i>
            <b>Troisième alinéa de l'article 11-4</b> : <i><b>Les personnes morales à l'exception des partis ou
            groupements politiques ne peuvent contribuer au financement des partis</b></i><i> ou groupements politiques,
            ni en consentant des dons, sous quelque forme que ce soit, à leurs associations de financement ou à leurs
            mandataires financiers, ni en leur fournissant des biens, services ou autres avantages directs ou indirects
            à des prix inférieurs à ceux qui sont habituellement pratiqués. </i><i>Les personnes morales, à l'exception
            des partis et groupements politiques ainsi que des établissements de crédit et sociétés de financement ayant
            leur siège social dans un Etat membre de l'Union européenne ou partie à l'accord sur l'Espace économique
            européen, ne peuvent ni consentir des prêts aux partis et groupements politiques ni apporter leur garantie
            aux prêts octroyés aux partis et groupements politiques.</i>
            <b>Premier alinéa de l'article 11-5</b> : <i>Les personnes qui ont versé un don ou consenti un prêt à un ou
            plusieurs partis ou groupements politiques en violation des articles 11-3-1 et 11-4 sont punies de trois ans
            d'emprisonnement et de 45 000 € d'amende.</i>
            </div>
        </div>
    </div>
{% endblock %}
