{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static "front/assets/apple-touch-icon.png" %}" />

<link rel="icon" type="image/png" href="{% static "front/assets/favicon.ico" %}" />
<link rel="icon" type="image/png" sizes="16x16" href="{% static "front/assets/favicon-16x16.png" %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% static "front/assets/favicon-32x32.png" %}" />

<link rel="mask-icon" href="{% static "front/assets/safari-pinned-tab.svg" %}" color="#5bbad5">
<meta name="msapplication-TileImage" content="{% static "front/assets/mstile-150x150.png" %}" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" />

<script>
  // Change favicon on light/dark mode changes (if supported)
  (function () {
    var lightFavicons = [
      "{% static "front/assets/favicon.ico" %}",
      "{% static "front/assets/favicon-16x16.png" %}",
      "{% static "front/assets/favicon-32x32.png" %}"
    ];
    var darkFavicons = [
      "{% static "front/assets/dark-favicon.ico" %}",
      "{% static "front/assets/dark-favicon-16x16.png" %}",
      "{% static "front/assets/dark-favicon-32x32.png" %}"
    ];
    var darkModeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
    function handleDarkmode(e){
      var darkModeOn = e.matches;

      var favicons = document.querySelectorAll('link[rel="icon"]');
      for (var i = 0; favicons[i]; i++) {
        favicons[i].href = darkModeOn
          ? darkFavicons[i] || favicons[i].href
          : lightFavicons[i] || favicons[i].href
      }

      var themesMeta = document.querySelectorAll('meta[name="theme-color"]')
      for (var i = 0; themesMeta[i]; i++) {
        themesMeta[i].setAttribute("content", "#571AFF");
      }
    }
    handleDarkmode(darkModeMediaQuery);
    darkModeMediaQuery.addListener(handleDarkmode);
  }())
</script>
