{% load static %}

<link rel="apple-touch-icon" sizes="57x57" href="{% static "front/assets/apple-icon-57x57.png" %}" />
<link rel="apple-touch-icon" sizes="60x60" href="{% static "front/assets/apple-icon-60x60.png" %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static "front/assets/apple-icon-72x72.png" %}" />
<link rel="apple-touch-icon" sizes="76x76" href="{% static "front/assets/apple-icon-76x76.png" %}" />
<link rel="apple-touch-icon" sizes="114x114" href="{% static "front/assets/apple-icon-114x114.png" %}" />
<link rel="apple-touch-icon" sizes="120x120" href="{% static "front/assets/apple-icon-120x120.png" %}" />
<link rel="apple-touch-icon" sizes="144x144" href="{% static "front/assets/apple-icon-144x144.png" %}" />
<link rel="apple-touch-icon" sizes="152x152" href="{% static "front/assets/apple-icon-152x152.png" %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static "front/assets/apple-icon-180x180.png" %}" />

<link rel="icon" type="image/png" href="{% static "front/assets/favicon.ico" %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% static "front/assets/favicon-32x32.png" %}" />
<link rel="icon" type="image/png" sizes="96x96" href="{% static "front/assets/favicon-96x96.png" %}" />
<link rel="icon" type="image/png" sizes="16x16" href="{% static "front/assets/favicon-16x16.png" %}" />

<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="{% static "front/assets/ms-icon-144x144.png" %}" />

<meta name="theme-color" content="#ffffff" />

<script>
  // Change favicon on light/dark mode changes (if supported)
  (function () {
    var darkModeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
    function handleDarkmode(e){
      var darkModeOn = e.matches;
      var favicons = document.querySelectorAll('link[rel="icon"]');
      if (!favicons || favicons.length === 0) {
        return;
      }
      for (var i =0; favicons[i]; i++) {
        favicons[i].href = darkModeOn
          ? favicons[i].href
            .replace("/dark-favicon", "/favicon")
            .replace("/favicon", "/dark-favicon")
          : favicons[i].href = favicons[i].href
            .replace("/dark-favicon", "/favicon");
      }
    }
    handleDarkmode(darkModeMediaQuery);
    darkModeMediaQuery.addListener(handleDarkmode);
  }())
</script>
