{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "cover 98% in FR, last 2 versions, Firefox ESR, not dead"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}