# local configuration files
.python-version
/.idea/
jsconfig.json
.vscode

# bytecode compiled pyc files
__pycache__/

# development database
db.sqlite3

# coverage statistics
.coverage

# media directory in development
/media

/node_modules/

/assets/
.vagrant
/*.log

.env
*.xls
*.xlsx

# All CSV files are ignored by default
*.csv
!agir/elections/data/campaign_managers.csv

# clé google
gce.json
