# local configuration files
.python-version
/.idea/

# bytecode compiled pyc files
__pycache__/

# development database
db.sqlite3

# coverage statistics
.coverage

# media directory in development
/media

/node_modules/

/assets/
.vagrant
*cloudimg-console.log
.env
*.csv
*.xls
*.xlsx
