[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
# Django et extensions

django = ">=2.1.2,<3.0"

## config helpers
dj-database-url = "==0.5.*"  # for easing up database settings
dj-email-url = "==0.1.*"  # for easing up SMTP settings
django-cors-headers = "==2.*"  # configuring CORS Headers

## model and form fields
django-countries = "==5.*"  # country fields
django-phonenumber-field = "==2.*"  # phone number field
phonenumbers = "*"  # optional requirement of django-phonenumber-field
django-stdimage = "==4.*"  # better image field with handling of variations
django-dynamic-filenames = "*"  # better handling of upload path for file fields
unicode-slugify = "*"  # optional requirement of django-dynamic-filenames


## additional features
django-crispy-forms = "==1.*" # better forms
django-otp = "*"  # 2FA in admin
django-filter = "==2.*"  # add useful filters
django-oauth-toolkit = "*"  # add OAuth server
rules = "==2.0.*"  # add useful authorization rules
django-reversion = "==3.*"  # versioning of models


## Django Rest Framework
djangorestframework = "==3.8.*"
djangorestframework-gis = "==0.13.*"

## adapters for third-party systems
django-redis = "==4.*"
"psycopg2" = "*"
django-prometheus = "*"
django-webpack-loader = "==0.6.*"

## development helpers
django-silk = "==3.*"
django-debug-toolbar = "==1.*"

## deprecated
django-ajax-selects = "==1.7.*"  # should be removed once replaced with native ajax fields from Django 2
django-model-utils = "==3.*"  # used only to add fields created and modified, could be replace by simple AbstractModel


# celery
celery = "==4.*"
celery-prometheus-exporter = "==1.*"


# redis
redis = "==2.10.6"
hiredis = "==0.3.*"
redislite = "==3.2.*"  # used for testing


# HTTP
requests = ">=2.20.0, ==2.*"
"urllib3" = "~=1.23"


# HTML
bleach = "==3.*"  # sanitize HTML
"html2text" = "==2018.*"  # transforms HTML to text (used for plain text versions of HTML emails)
markdown = "==3.*"  # convert markdown text to HTML (should be deprecated)


# image handling
pillow = "==5.*"


# command line helpers
tqdm = "*"


# third party techs
prometheus-client = "*"
systemd = "==0.*"
ovh = "*"


# parsing and formats
ics = "*"  # calendar format
iso8601 = "*"  # parse ISO8601 dates
glom = "*"  # data wrangling


[dev-packages]
ipython = "*"
black = "==18.9b0"
coverage = "*"
