amqp==2.2.2
autopep8==1.3.2
Babel==2.5.1
billiard==3.5.0.3
bleach==2.1.1
celery==4.1.0
celery-prometheus-exporter==1.1.0
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
dj-database-url==0.4.2
dj-email-url==0.0.10
Django==1.11.5
django-admin-steroids==1.0.15
django-ajax-selects==1.6.1
django-cors-headers==2.1.0
django-countries==4.6.2
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-filter==1.0.4
django-model-utils==3.0.0
django-phonenumber-field==1.3.0
django-silk==1.0.0
django-stdimage==2.4.2
djangorestframework==3.6.4
djangorestframework-gis==0.11.2
drf-extensions==0.3.1
hiredis==0.2.0
html2text==2017.10.4
html5lib==1.0b10
idna==2.6
Jinja2==2.9.6
kombu==4.1.0
Markdown==2.6.9
MarkupSafe==1.0
oauthlib==2.0.4
olefile==0.44
phonenumberslite==8.8.2
Pillow==4.3.0
progressbar2==3.34.3
prometheus-client==0.0.21
psutil==5.3.1
psycopg2==2.7.3.1
pycodestyle==2.3.1
Pygments==2.2.0
python-dateutil==2.6.1
python-utils==2.2.0
pytz==2017.2
redis==2.10.6
redislite==3.2.311
requests==2.18.4
requests-oauthlib==0.8.0
rules==1.2.1
six==1.11.0
sqlparse==0.2.4
systemd==0.10.0
urllib3==1.22
vine==1.1.4
webencodings==0.5.1
