{% load display_lib %}

<div class="panel panel-primary margintop">
  <h6 class="panel-heading" style="margin: 0;">
    Ce montant sera reparti de la manière suivante&nbsp;:
  </h6>
  <ul class="list-unstyled panel-body" style="font-size: 0.875rem; margin-bottom: 0;">
  {% for allocation in allocations %}
    <li><strong>{{ allocation.amount | display_price_in_cent }}</strong> seront alloués
    <strong>
      {% if allocation.type == "group" %}
        aux actions du groupe &laquo;&nbsp;{{ allocation.group }}&nbsp;&raquo;
      {% elif allocation.type == "departement" %}
        aux actions de votre département ({{ allocation.departement }})
      {% elif allocation.type == "cns" %}
        à la Caisse nationale de solidarité
      {% endif %}
    </strong>
    </li>
  {% endfor %}
  {% if national_amount %}
    <li>
      <strong>{{ national_amount | display_price_in_cent }}</strong> seront alloués <strong>aux actions et campagnes nationales</strong>,
      ainsi qu'aux outils mis à la disposition des insoumis⋅es (comme Action populaire&nbsp;!).
    </li>
  {% endif %}
  </ul>
</div>
