{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Mes adresses emails" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;Retour à l'accueil
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="CONTACT" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" with tab_code="CONTACT" %}
      <p>Ce champ vous permet d'ajouter une adresse e-mail à votre compte.</p>
      <ul>
        <li>
          Après confirmation, il sera possible d'utiliser cette adresse pour se connecter à votre compte.
        </li>
        <li>
          Si l'adresse e-mail correspond à un autre compte sur la plateforme, une demande de fusion de compte
          sera envoyée.
        </li>
      </ul>
      <p>Dans les deux cas un e-mail sera envoyé à cette adresse afin de vérifier que vous en êtes bien le
        propriétaire.</p>
      <div>
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}
