{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block main %}
  <div class="row">
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="CONTACT" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      <div class="col-xs-12 col-md-12 ">
        <fieldset>
          <legend>Adresses e-mail</legend>
        </fieldset>
        {% if emails|length > 1 %}
          <table class="table table-responsive">
            <tbody>
            {% for email in emails %}
              <tr {% if email.address == person.email %} class="active" {% endif %}>
                <td class="col-xs-5 text-center"> {{ email.address }}</td>
                <td class="col-xs-5" style="text-align: left">
                  {% if email.address == person.email %}
                    L'adresse utilisée pour me contacter
                  {% elif not email.bounced %}
                    <a class="btn btn-sm btn-default " href="{% url "change_primary_mail" email.pk %}">
                      Utiliser cette adresse pour me contacter
                    </a>
                  {% elif email.bounced %}
                    <p class="text-danger small">
                      Cette adresse n'est plus utilisée car elle a mal fonctionné plusieurs fois. Cela peut être
                      du à une boîte pleine ou à une erreur de votre fournisseur.
                    </p><p class="small">
                      <a href="{% url "change_primary_mail" email.pk %}">J'ai réglé le problème, utiliser cette adresse à nouveau</a>
                    </p>
                  {% endif %}
                </td>
                <td class="col-xs-2"> {% if can_delete %}<a class="btn btn-sm btn-default"
                                                            href="{% url "delete_email" email.pk %}">Supprimer</a>{% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <a class="btn btn-sm btn-default alignright" href="{% url "manage_account" %}"
             style="font-size: medium;">Ajouter ou changer d'adresse email.</a>
          <br>
        {% else %}
          {{ person.email }}
          <a class="btn btn-sm btn-default alignright" href="{% url "manage_account" %}"
             style="font-size: medium;">Ajouter ou changer d'adresse email.</a>
          <br><br>
        {% endif %}
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}
