{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load display_lib %}

{% block title %}{% trans "Mes mandats" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;Retour à l'accueil
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="MANDATS" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" with tab_code="MANDATS" %}

      <h3>Vos mandats</h3>
      <div class="list-group">
        {% for mandat in mandats %}
          <div class="list-group-item{% if mandat.besoin_validation_personne %} list-group-item-danger{% endif %}">
            <a class="btn btn-xs btn-danger pull-right" href="{{ mandat.get_delete_url }}">
              Ce n'est pas vous ?
            </a>
            <h4>{{ mandat.titre_complet }} <small>{% if mandat.actif %}mandat actif{% elif mandat.passe %}ancien
              mandat{% else %}mandat pas encore débuté{% endif %}</small></h4>
            {% if mandat.epci %}
              <p><em>Aussi {% genrer "élu⋅e" %} à la {{ mandat.epci }}</em></p>
            {% endif %}
            {% if mandat.besoin_validation_personne %}
              <p><strong>
                Ces données ont été ajoutées automatiquement à votre compte parce que vous ou une personne qui porte
                les memes noms et prénoms que vous a été élue près de chez vous.
              </strong></p>
            {% endif %}
            <div class="btn-group">
              <a class="btn btn-default btn-sm" href="{{ mandat.get_absolute_url }}">
                {% if mandat.besoin_validation_personne %}
                  Vérifier ces informations
                {% else %}
                  Modifier ces informations
                {% endif %}
              </a>
            </div>
          </div>
        {% endfor %}
        <div class="list-group-item">
          <h4>{% if mandats_municipaux %}
            Vous exercez ou avez exercé un autre mandat ?
          {% else %}
            Vous exercez ou avez exercé un mandat ?
          {% endif %}</h4>
          <p>Signalez-nous :</p>
          <p>
            <a href="{% url "elus:creer_mandat_municipal" %}" class="btn btn-default btn-block btn-wrap">Un mandat municipal</a>
            <a href="{% url "elus:creer_mandat_departemental" %}" class="btn btn-default btn-block btn-wrap">Un mandat départemental ou métropolitain</a>
            <a href="{% url "elus:creer_mandat_regional" %}" class="btn btn-default btn-block btn-wrap">Un mandat régional ou auprès d'une collectivité unique</a>
            <a href="{% url "elus:creer_mandat_consulaire" %}" class="btn btn-default btn-block btn-wrap">Un mandat consulaire ou à l'assemblée des Français de l'étranger</a>
          </p>
        </div>
      </div>

      {% if form %}
        <h3>Réseau des élu⋅es insoumis⋅es et citoyen⋅nes</h3>
        {% crispy form %}
        Vous pouvez retrouver <a href="https://lafranceinsoumise.fr/comment-ca-marche/espace-des-elus-et-contre-pouvoirs/reseau-des-elus/"> des informations sur le réseau des élu⋅es</a> ou <a href="mailto:elus@lafranceinsoumise.fr">les contacter par email</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
