{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Paiements" %}{% endblock %}

{% block main %}
  <div class="row">
    {% block navbar %} {% include "people/profile/profile_nav.html" %} {% endblock %}
    <div class="col-xs-12 col-md-10">
      <div>
        <div class="intro">
          <p>Cette page vous permet de lister l'ensemble des dons, prêts ou participations payantes à des
            événements.</p>
        </div>
        <div class="panel-group" id="payments-accordion" role="tablist">
          {% regroup payments by created.year as payments_years %}
          {% for year, year_payments in payments_years %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="payments-accordion-{{ year }}">
                <h4 class="panel-title">
                  <a {% if not forloop.first %}class="collapsed"{% endif %} role="button" data-toggle="collapse" data-parent="#payments-accordion" href="#payments-year-{{ year }}" aria-expanded="true">
                    En {{ year }}&nbsp;
                  </a>
                </h4>
              </div>
              <div id="payments-year-{{ year }}" class="panel-collapse collapse{% if forloop.first %} in{% endif %}" role="tabpanel">
                <div class="list-group">
                  {% for payment in year_payments %}
                    <div class="list-group-item">
                      {{ payment.description }}
                    </div>
                  {% empty %}
                    <div class="list-group-item">
                      Vous n'avez effectué aucun don ou prêt et n'avez pas participé à un événement payant.
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
