{% extends "front/layout.html" %}
{% load static %}

{% block title %}Dons et paiements{% endblock %}

{% block css %}
    {{ block.super }}
  <style>
    .payment-section-title {
      margin: 3rem 0 1.5rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .list-group-item.payment-item {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .list-group-item.payment-item > * {
      margin: 0;
    }
    .list-group-item.payment-item > footer {
      margin-top: 1rem;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      gap: 1rem;
    }
    .list-group-item.payment-item > footer > .btn {
      margin: 0;
      flex: 1 1 max-content;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;Retour à l'accueil
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" %}
      <div class="intro">
        <p>Cette page vous permet de lister l'ensemble de vos dons, prêts ou participations payantes à des
          événements.</p>
      </div>
      {% if renewable_active_contribution %}
        <h3 class="payment-section-title" id="contributions">
          Paiements à renouveller
        </h3>
        <div class="list-group-item payment-item">
          {{ renewable_active_contribution.description }}
          <footer>
            <span><strong>Votre contribution arrive bientôt à expiration.</strong> Vous pouvez dès à présent la renouveller pour l'année
              prochaine dès liquant sur le bouton ci-dessous :</span>
              <a href="{% url "contribution_renewal" %}" class="btn btn-block btn-primary">
                <i class="fa-solid fa-refresh"></i>&ensp;Renouveller la contribution
              </a>
            </footer>
        </div>
      {% endif %}
      {% if subscriptions %}
        <h3 class="payment-section-title" id="contributions">
          Paiements automatiques actifs
        </h3>
        <div class="list-group">
          {% for subscription in subscriptions %}
            <div class="list-group-item payment-item">
              {{ subscription.description }}
              {% if subscription == renewable_active_contribution %}
                <footer>
                  <span><strong>Votre contribution arrive bientôt à expiration.</strong> Vous pouvez dès à présent la renouveller pour l'année
                  prochaine en cliquant sur le bouton ci-dessous :</span>
                  <a href="{% url "contribution_renewal" %}" class="btn btn-block btn-primary">
                    <i class="fa-solid fa-refresh"></i>&ensp;Renouveller la contribution
                  </a>
                </footer>
              {% endif %}
              <footer>
                <a href="{% url "subscription_page" subscription.pk %}" class="btn btn-block btn-sm btn-default">
                  <i class="fa-solid fa-credit-card"></i>&ensp;Changer de carte de paiement
                </a>
                <a href="{% url "subscription_terminate" subscription.pk %}" class="btn btn-block btn-sm btn-danger">
                  <i class="fa-solid fa-ban"></i>&ensp;Mettre fin à ce paiement
                </a>
              </footer>
            </div>
          {% endfor %}
        </div>
      {% elif can_make_contribution %}
        <div class="padtopmore padbottommore">
          <h3 class="payment-section-title" id="contributions">
            Devenir financeur·euse de la France insoumise
          </h3>
          <p>
            En devenant financeur·euse de la France insoumise, vous vous engagez à ce que votre contribution soit versée
            automatiquement tous les mois et jusqu'à la fin de l'année.
          </p>
          <p>
            Grâce à <strong>votre engagement dans la durée</strong>, vous
            permettrez à notre mouvement de mieux planifier et organiser ses
            activités au niveau local et/ou national tout au long de l’année.
          </p>
          <p>
            <a class="btn btn-primary" href="{% url "contribution_amount" %}">Je deviens financeur·euse</a>
          </p>
        </div>
      {% endif %}

      {% if pending_payments %}
        <h3 class="payment-section-title" id="cheques">Chèques en attente de reception</h3>
        <div class="list-group">
          {% for payment in pending_payments %}
            <div class="list-group-item payment-item">
              {{ payment.description }}
              <footer>
                <a href="{% url "payment_page" payment.pk %}?next=profile" class="btn btn-block btn-sm btn-info">
                  <i class="fa-regular fa-money-check"></i>&ensp;Voir le détail
                </a>
                <a href="{% url "check_payment_terminate" payment.pk %}" class="btn btn-block btn-sm btn-danger">
                  <i class="fa-solid fa-ban"></i>&ensp;Annuler ce chèque
                </a>
              </footer>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if recus_fiscaux %}
        <h3 class="payment-section-title" id="recus">Reçus fiscaux</h3>
        <div class="list-group">
        {% for recu in recus_fiscaux %}
          <div class="list-group-item payment-item">
            <h4>{{ recu.titre }} — <small>{{ recu.date|date:"SHORT_DATE_FORMAT" }}</small></h4>
            <footer>
              <a href="{{ recu.fichier.url }}" class="btn btn-block btn-sm btn-info">
                <i class="fa-regular fa-download"></i> Télécharger le document
              </a>
            </footer>
          </div>
        {% endfor %}
        </div>
      {% endif %}

      <h3 class="payment-section-title" id="paiements">Paiements passés</h3>
      {% if is_hard_logged %}
        <div class="panel-group" id="payments-accordion" role="tablist">
            {% regroup payments by created.year as payments_years %}
            {% for year, year_payments in payments_years %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="payments-accordion-{{ year }}">
                  <h4 class="panel-title">
                    <a {% if not forloop.first %}class="collapsed"{% endif %} role="button" data-toggle="collapse"
                       data-parent="#payments-accordion" href="#payments-year-{{ year }}" aria-expanded="true">
                      En {{ year }}&nbsp;
                    </a>
                  </h4>
                </div>
                <div id="payments-year-{{ year }}" class="panel-collapse collapse{% if forloop.first %} in{% endif %}"
                     role="tabpanel">
                  <div class="list-group">
                      {% for payment in year_payments %}
                        <div class="list-group-item payment-item">
                            {{ payment.description }}
                            {% if payment == renewable_active_contribution %}
                              <footer>
                                <span><strong>Votre contribution arrive bientôt à expiration.</strong> Vous pouvez dès à présent la renouveller pour l'année
                                prochaine en cliquant sur le bouton ci-dessous :</span>
                                <a href="{% url "contribution_renewal" %}" class="btn btn-block btn-primary">
                                  <i class="fa-solid fa-refresh"></i>&ensp;Renouveller la contribution
                                </a>
                              </footer>
                            {% endif %}
                        </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            {% empty %}
              <p>
                Vous n'avez effectué aucun don ou prêt et n'avez pas participé à un événement payant.
              </p>
            {% endfor %}
        </div>
      {% else %}
        <p>Pour voir vos anciens paiements, vous devez <a
                href="{% url "short_code_login" %}?next={% url "view_payments" %}">vous authentifier.</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
