{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Profil" %}{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;Retour à l'accueil
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" %}
      {% crispy form %}
    </div>
  </div>
{% endblock %}
