<li role="presentation" class="{% if tab_code == "IDENTITY" %} active {% endif %}">
  <a href="{% url "personal_information" %}">Identité</a>
</li>
<li role="presentation" class="{% if tab_code == "CONTACT" %} active {% endif %}">
  <a href="{% url "contact" %}">Contacts</a>
</li>
<li role="presentation" class="{% if tab_code == "MANDATS" %} active {% endif %}">
  <a href="{% url "mandats" %}">Mandats</a>
</li>
<li role="presentation" class="{% if tab_code == "SKILLS" %} active {% endif %}">
  <a href="{% url "skills" %}">Expérience et savoir faire</a>
</li>
<li role="presentation" class="{% if tab_code == "ACT" %} active {% endif %}">
  <a href="{% url "volunteer" %}">Engagement</a>
</li>
<li role="presentation"
    class="{% if tab_code == "PAYMENTS" %}active{% endif %}">
  <a href="{% url "view_payments" %}">Dons et paiements</a>
</li>
<li role="presentation"
    class="{% if tab_code == "PERSONAL_DATA" %} active {% endif %}">
  <a href="{% url "personal_data" %}">Données personnelles</a>
</li>
