<div class="col-xs-12 col-md-3 margintopmore">
  <menu class="hidden-xs hidden-sm nav nav-pills nav-stacked">
    {% include "people/profile/profile_menu.html" %}
  </menu>
</div>
<menu class="nav nav-pills hidden-md hidden-lg">
  <li class="dropdown">
    <a
      href="#"
      class="dropdown-toggle text-info"
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="fa fa-bars" aria-hidden="true"></span>
      &nbsp;
      <span class="text-primary">
        {% if tab_code == "IDENTITY" %}
          Identité
        {% elif tab_code == "CONTACT" %}
          Contacts
        {% elif tab_code == "MANDATS" %}
          Mandats
        {% elif tab_code == "SKILLS" %}
          Expérience et savoir faire
        {% elif tab_code == "ACT" %}
          Engagement
        {% elif tab_code == "BECOME_INSOUMISE" %}
          Devenir insoumis⋅e
        {% elif tab_code == "PAYMENTS" %}
          Dons et paiements
        {% elif tab_code == "PERSONAL_DATA" %}
          Données personnelles
        {% endif %}
      </span>
      <span class="text-primary caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% include "people/profile/profile_menu.html" %}
    </ul>
  </li>
</menu>
