{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Valider mon numéro de téléphone" %}{% endblock %}

{% block main %}

  <div class="row">
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="CONTACT" %} {% endblock %}
    <div class="col-xs-12 col-md-10">
      <h2 class="headline">Valider mon numéro de téléphone</h2>
      <div>
        <div class="intro">
          <p>Pour certaines opérations, nous vous demanderons de valider votre numéro de téléphone : cela permet de
            s'assurer que vous êtes bien une vraie personne capable de recevoir des SMS.
          </p>
          <p><strong>Cette vérification est facultative, et n'est possible que pour les numéros de téléphone français.</strong></p>
        </div>
        <div class="form-wrap">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
