{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Engagement" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;Retour à l'accueil
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" %}
      <div class="row">
        <div class="intro col-sm-8">
          <p> N’attendez pas les consignes pour agir. Faites ce que vous trouverez de plus utile et
            convaincant pour
            élargir le nombre de ceux qui peuvent nous rejoindre et nous aider. Sur
            <a href="https://materiel.actionpopulaire.fr/">la partie matériel du site</a>, vous
            pourrez commander des tracts, des affiches et des autocollants pour agir.
            Mais vous pouvez aussi trouver sur ce site des idées à mettre en œuvre, des projets auxquels
            participer.
            En remplissant ce formulaire, vous nous permettez de vous contacter par téléphone ou par email
            selon vos
            centres d'intérêts.</p>
        </div>
        <div class="col-sm-4">
          <div class="alert alert-info">
            <p>
              <span class="fa fa-info-circle" aria-hidden="true"></span>
              La France insoumise compte <a href="https://lafranceinsoumise.fr/comment-ca-marche/">plusieurs espaces</a>
              ouverts, aux activités diverses, dans lesquels il est possible de s'investir. Vous pouvez par exemple
              <a href="{% url "thematic_groups" %}">rejoindre une équipe thématique</a>
              de l'espace programme.
            </p>
          </div>
        </div>
      </div>
      <div class="form-wrap">
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}
