{% extends "admin/change_form.html" %}{% load crispy_forms_tags i18n admin_modify static %}

{% block content_title %}
  <h1>Résumé des événements</h1>
{% endblock %}

{% block content %}
  <div id="content-main">

    <form method="post" id="export_summary_form" novalidate>{% csrf_token %}

      {% if errors %}
        <p class="errornote">
          {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
            {% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ adminform.form.non_field_errors }}
      {% endif %}

      {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
      {% endfor %}

      <input type="submit" value="Valider">

      {% block admin_change_form_document_ready %}
        <script type="text/javascript" id="django-admin-form-add-constants" src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}></script>
      {% endblock %}

      {# JavaScript for prepopulated fields #} {% prepopulated_fields_js %}

    </form>

    <div>
      {% for region, events_by_date in events_by_region %}

        <h2>{{ region }}</h2>

        {% for date, events in events_by_date %}
          <h3>{{ date }}</h3>
          {% for event in events %}
            <h4>{{ event.name }}{% if event.calendars.all %}<br>
              <small>({% for c in event.calendars.all %}{{ c.name }}{% if not forloop.last %},
              {% endif %}{% endfor %})
              </small>
            {% endif %}</h4>
            <p>{{ event.html_full_address }}</p>
            <p>{{ event.html_description }}</p>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

{% endblock %}