{% extends "front/layout.html" %}

{% block title %}Bienvenue ! - la France insoumise{% endblock %}

{% block main %}
  <h2 class="headline">Bienvenue !</h2>
  <div class="row marginbottommore">
    <div class="col-sm-6 marginbottom">
      <a class="btn btn-primary btn-block" href="{% url "volunteer" %}">Agir</a>
    </div>
    <div class="col-sm-6 marginbottom">
      <a class="btn btn-primary btn-block" href="https://dons.lafranceinsoumise.fr/">Je donne</a>
    </div>
    <div class="col-sm-6 marginbottom">
      <a class="btn btn-primary btn-block" href="{% url "personal_information" %}">J'en dis plus sur moi</a>
    </div>
    <div class="col-sm-6 marginbottom">
      <a class="btn btn-primary btn-block" href="https://lafranceinsoumise.fr/groupes-appui/carte/">Je rejoins un groupe
        d'action</a>
    </div>
  </div>
  <div id="content">
    <div class="text-content">
      <p>
        Bonjour,
      </p>
      <p>
        Vous venez de rejoindre la France insoumise. Nous en sommes très heureux. Nous vous accueillons avec
        plaisir dans ce mouvement que nous animons ensemble désormais.
      </p>
      <p>
        C’est ce mouvement qui a permis la formidable campagne de l’élection présidentielle. Chacun y est le
        bienvenu pour contribuer à l’action collective en fonction de ses savoir-faire et de ses disponibilités.
      </p>
      <p>
        Chacun peut prendre sa part des batailles qui s’annoncent.
        Pour commencer, nous vous proposons ci-dessous des moyens d’agir et nous vous invitons à contribuer
        financièrement ou à rejoindre un groupe d’appui pour rencontrer d’autres insoumis.e.s près de chez vous.
      </p>
      <p>
        Fidèlement,
      </p>
      <p>
        L’équipe de la France insoumise
      </p>

    </div>
  </div>
{% endblock %}
