{% extends "front/layout.html" %}

{% block title %}Plus qu'un dernier clic{% endblock %}

{% block main %}
  <h2 class="headline">Plus qu'un dernier clic pour nous rejoindre</h2>

  <div id="content">
    <div class="text-content">
      <p>
        Vous n'êtes plus qu'à un clic de rejoindre la France insoumise !
      </p>
      <p>
        Pour confirmer votre inscription, vérifiez votre boîte email et cliquez sur le bouton de validation.
      </p>
      <p>
        Nous utilisons cette procédure pour vérifier que vous êtes bien propriétaire de l'adresse email inscrite.
      </p>
    </div>
  </div>
{% endblock %}
