{% extends "front/layout.html" %}

{% block title %}Plus qu'un dernier clic{% endblock %}

{% block main %}
    <h1 class="headline">Veuillez confirmer votre nouvelle adresse : </h1>
    <h2 class="text-success">{{ new_mail }}</h2>
    <div id="content">
        <div class="text-content">
            <p>
                Pour confirmer votre nouvelle adresse, vérifiez votre boîte email et cliquez sur le bouton de validation.
            </p>
            <p>
                Cette procédure est utilisée pour vérifier que vous êtes bien propriétaire de l'adresse email inscrite.
            </p>
        </div>
    </div>
{% endblock %}
