{% extends "front/layout.html" %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block title %}Mon tableau de bord{% endblock title %}

{% block extra_scripts %}
  {% render_bundle 'lib/masonry' attrs='defer' %}
{% endblock %}

{% block main %}
  <div class="row masonry">
    <div class="col-md-6 gblock">
      <div class="help-dialog" data-hint="Mon agenda">
        Vous trouverez ici tous les événements auxquels vous avez indiqué participer.
        Attention&nbsp;! Le fait que vous organisiez un événement ne veut pas nécessairement
        dire que vous y participez, même si c'est souvent le cas.
      </div>
      <h3 class="clearfix">Mon agenda</h3>
      <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" id="rechercher-evenement" data-toggle="dropdown"
                aria-expanded="true">
          <i class="fa fa-search"></i> Rechercher un événement
        </button>
        <ul class="dropdown-menu">
          <li class="menu-item">
            <form method="get" action="{% url "search_event" %}">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Votre recherche...">
                <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">Chercher</button>
                    </span>
              </div>
            </form>
          </li>
        </ul>
        <a class="btn btn-default btn-sm" href="{% url 'create_event' %}">
          <i class="fa fa-plus"></i> Créer un événement
          <div class="help-dialog" data-hint="Les informations de votre événement">
            Vous pouvez créer un nouvel événement et y inviter d'autres personnes en cliquant sur ce bouton.
          </div>
        </a>
      </div>
      {% include "events/includes/events_list.html" with events=rsvped_events empty_message="Vous n'avez aucun événément prévu pour le moment." %}
    </div>
    <div class="col-md-6 gblock">
      <div class="help-dialog" data-hint="Mes groupes">
        Vous trouverez ici tous les groupes dont vous êtes membre. Être membre d'un
        groupe vous permet de suivre son agenda. Pour en savoir plus lisez la
        <a href="https://lafranceinsoumise.fr/groupes-appui/charte-groupes-dappui-de-france-insoumise/">
          Charte des groupes d’action de la France insoumise</a>.
      </div>
      <h3 class="clearfix">Mes groupes</h3>
      <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" id="rechercher-evenement" data-toggle="dropdown"
                aria-expanded="true">
          <i class="fa fa-search"></i> Rechercher un groupe
        </button>
        <ul class="dropdown-menu">
          <li class="menu-item">
            <form method="get" action="{% url "search_group" %}">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Votre recherche...">
                <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">Chercher</button>
                    </span>
              </div>
            </form>
          </li>
        </ul>
        <a class="btn btn-default btn-sm" href="{% url 'create_group' %}">
          <i class="fa fa-plus"></i> Créer un groupe
        </a>
      </div>
      <div class="list-group">
        {% for group in members_groups %}
          <div class="list-group-item">
            <div class="input-group">
              <i class="fa fa-users" aria-hidden="true"></i>
              <a href="{% url 'view_group' group.pk %}">{{ group.name }}</a><br>
              {{ group.short_location }}
              {% if group.user_is_manager %}
                {% if promo_code_delayed %}
                      <em>Les codes promos seront disponibles le {{ promo_code_delay|date }}</em>
                {% elif group.has_promo_code %}
                  <div>Code promo du mois : <strong>{{ group.promo_codes.0 }}</strong></div>
                  <div>Code promo du mois dernier : <strong>{{ group.promo_codes.1 }}</strong></div>
                {% endif %}
                <span class="input-group-btn">
                                <a class='btn btn-default' href="{% url 'manage_group' group.pk %}">Gestion</a>
                                </span>
              {% endif %}
            </div>
          </div>
        {% empty %}
          <div class="list-group-item">
            Vous n'êtes membre d'aucun groupe.
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6 gblock">
      <div class="help-dialog" data-hint="Événements suggérés">
        Ces événements pourraient vous intéresser. Passer votre souris sur <span
              class="text-muted">Pourquoi ?</span>
        pour savoir pourquoi chaque événement vous a été suggéré.
      </div>
      <h3>Événements suggérés</h3>
      {% include "events/includes/events_by_day.html" with events=suggested_events empty_message="Aucun événement suggéré ! Rejoignez un groupe d'action pour voir des événements." %}
    </div>
    <div class="col-md-6 gblock">
      <h3>Événements passés</h3>
      <div class="help-dialog" data-hint="Événements passés">
        Ce sont les derniers événements auxquels vous avez participé. En retournant sur ces pages,
        vous pouvez par exemple poser des photos sur les événements auxquels vous avez participé
        et des comptes rendus sur ceux que vous avez organisé.
      </div>
      <div class="list-group">
        {% include "events/includes/events_list.html" with events=last_events page_param="last_events_page" empty_message="Aucun événement récent&nbsp;! Participez à des événements pour contribuer à leur compte-rendu." %}
      </div>
    </div>
    <div class="col-md-6 gblock">
      <h3>Derniers comptes-rendus publics</h3>
      <div class="help-dialog" data-hint="Comptes-rendu publiés">
        Ce sont les derniers compte-rendus d'événement écrits par les insoumis⋅es sur la plateforme. Écrivez le
        votre pour apparaître ici !
      </div>
      <div class="list-group">
        {% for event in past_reports %}
          <div class="list-group-item">
            <div class="media">
              <div class="media-left media-middle" style="min-width:64px">
                {% if event.image %}
                  <img src="{{ event.image.thumbnail.url }}" class="media-object img-responsive">
                {% endif %}
              </div>
              <div class="media-body">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <a href="{% url 'view_event' event.pk %}">{{ event.name }}</a>
                {% if event.organizers_groups %}(organisé par
                  {{ event.organizers_groups.all|join:', ' }}){% endif %}
                <br>
                {{ event.get_display_date }} - {{ event.short_location }}
              </div>
            </div>
          </div>
        {% empty %}
          <div class="list-group-item">
            Aucun événement récent dans la région.
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="help-dialog" data-hint="Administration">
      Ceci est votre espace d'administration. Vous pouvez y gérer les événements que vous organisez, qu'ils soient
      passés ou à venir.
    </div>
    <div class="col-md-6 gblock">
      <h3>Événements que j'organise</h3>
      <div class="button-group">
        <a class="btn btn-default btn-sm" href="{% url 'create_event' %}">
          <i class="fa fa-plus"></i> Créer un événement
        </a>
      </div>
      <div class="list-group">
        {% for event in organized_events %}
          <div class="list-group-item">
            <div class="media">
              <div class="media-left media-middle" style="min-width:64px">
                {% if event.image %}
                  <img src="{{ event.image.thumbnail.url }}" class="media-object img-responsive">
                {% endif %}
              </div>
              <div class="media-body">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <a href="{% url 'manage_event' event.pk %}">{{ event.name }}</a>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="list-group-item">
            Vous n'organisez aucun événement futur. Voulez-vous <a href="{% url 'create_event' %}">en créer
            un</a>&nbsp;?
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6 gblock">
      <h3>Événements que j'ai organisé</h3>
      <div class="list-group">
        {% include "events/includes/events_list.html" with events=past_organized_events page_param="past_organized_events_page" empty_message="Vous n'avez organisé aucun événement terminé." %}
      </div>
    </div>
  </div>
{% endblock %}
