{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ person_form.title }}{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .form-control {
      scroll-margin-top: 200px;
    }
    .btn-submit {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% endblock %}

{% block main_column %}
{% if person_form.config.public %}
    <p class="col-xs-12 margintopmore marginbottom text-right">
      <a href="{% url "person_form_submissions" person_form.slug %}" class="btn btn-sm btn-default">
        Voir les réponses
      </a>
    </p>
{% endif %}

<h2 class="col-xs-12 headline center">
  {{ person_form.title }}
</h2>

{% if not is_authorized %}
  <div class="col-xs-12 intro">
    {{ person_form.html_unauthorized_message }}
  </div>
{% elif person_form.is_open %}
  <div class="intro">
    {{ person_form.html_description }}
  </div>
  <div class="intro">
  <form method="post">
    {% csrf_token %}
    {{ form.render }}

    <input type="submit" value="Envoyer" class="btn btn-primary btn btn-primary btn-block margintopmore btn-submit">
  </form>
  </div>
  {% if person_form.campaign_template %}
    <script>
    document.getElementById("submit-id-preview").onclick = function() {
      document.getElementById("submit-id-submit").disabled = false;
    };
    </script>
  {% endif %}
{% else %}
  <div class="col-xs-12 intro">
    {{ person_form.html_closed_message }}
  </div>
{% endif %}

{% endblock %}
