{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ person_form.title }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-offset-3">
      {% if person_form.config.public %}
        <p class="col-sm-offset-8 col-sm-4 margintopmore marginbottom">
          <a href="{% url "person_form_submissions" person_form.slug %}" class="btn btn-default btn-block">
            Voir les réponses
          </a>
        </p>
      {% endif %}
      <h2 class="headline col-md-9">
        {{ person_form.title }}
      </h2>
      <div class="row">
        {% if not is_authorized %}
          <div class="col-xs-12 col-md-9 intro">
            {{ person_form.html_unauthorized_message }}
          </div>
        {% elif person_form.is_open %}
          <div class="col-xs-12 col-md-9 intro">
            {{ person_form.html_description }}
          </div>
          <div class="col-xs-12 col-md-9 intro">
            {% crispy form %}
          </div>
          {% if person_form.campaign_template %}
            <script>
            document.getElementById("submit-id-preview").onclick = function() {
              document.getElementById("submit-id-submit").disabled = false;
            };
            </script>
          {% endif %}
        {% else %}
          <div class="col-xs-12 intro">
            {{ person_form.html_closed_message }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
