{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ person_form.title }}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-responsive">
      <h2 class="headline">
        {{ person_form.title }}
        {% if person_form.config.public %}
          <a href="{% url "person_form_submissions" person_form.slug %}" class="btn btn-default">Voir les réponses</a>
        {% endif %}
      </h2>
      {% if not is_authorized %}
        <div class="intro">
          {{ person_form.html_unauthorized_message }}
        </div>
      {% elif person_form.is_open %}
        <div class="intro">
          {{ person_form.html_description }}
        </div>
        {% crispy form %}
        {% if person_form.campaign_template %}
          <script>
          document.getElementById("submit-id-preview").onclick = function() {
            document.getElementById("submit-id-submit").disabled = false;
          };
          </script>
        {% endif %}
      {% else %}
        <div class="intro">
          {{ person_form.html_closed_message }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
