.amount-component .input-group {
    width: 30%;
    margin: 10px 0;
    height: 50px;
    min-width: 200px;
}

.amount-component .input-group input {
    height: 50px;
    text-align: center;
    font-weight: bold;
}
