.amount-component {
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

.amount-component .input-group {
  border-radius: 8px;
  overflow: hidden;
  color: #c9462c;
}

.amount-component .input-group.selected {
  border: 3px solid #c9462c;
}

.amount-component .input-group input {
  height: 49px;
  text-align: center;
  font-weight: bold;
  border: none;
  background-color: #c9462c;
  color: white;
  background-color: white;
  color: #c9462c;
  box-shadow: none;
}

.amount-component .input-group input::placeholder {
  font-weight: normal;
  font-size: small;
}

.amount-component .input-group .input-group-addon {
  border: none;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
}

.amount-component .input-group.selected .input-group-addon {
  background-color: #c9462c;
  color: white;
}
