{% extends "front/layout.html" %}

{% block extra_scripts %}
  {{ block.super }}
  <style>

  </style>
{% endblock %}

{% block title %}{{ commune.name }}{% endblock title %}


{% block main %}

  <h1>{{ commune.name }}
    {% if change_commune %}
      <a class="btn btn-default" href="{% url "change_commune" commune.code_departement commune.slug %}">
        Modifier ces informations
      </a>
      <a class="btn btn-default" href="{% url "municipales_certificate_form" commune.code_departement commune.slug %}">
        Télécharger mon attestation de coût
      </a>
    {% endif %}
  </h1>
  <div class="row masonry">
    <div class="col-md-6 gblock">
      <h3>La campagne à {{ commune.name }}</h3>
      {% if commune.liste_tour_1 %}
        <p><em><strong>{{ commune.liste_tour_1 }}</strong></em></p>{% endif %}
      {% if commune.tete_liste %}
        <p><strong>Tête de liste</strong> : {{ commune.tete_liste }}</p>{% endif %}
      {% if commune.chiefs %}
        <p><strong>Chef⋅fe⋅s de file France insoumise</strong> : {{ commune.chiefs }}</p>{% endif %}
      {% if commune.website %}
        <p><i class="fa fa-link" aria-hidden="true"></i> <a href="{{ commune.website }}">{{ commune.website }}</a></p>{% endif %}
      {% if commune.contact_email %}
        <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ commune.contact_email }}">{{ commune.contact_email }}</a>
        </p>{% endif %}

      <a href="{% url "procuration_commune" commune.code_departement commune.slug %}">
          Je cherche quelqu'un pour prendre ma procuration à {{ commune.name }}
      </a>

    </div>

    {% if commune.ordre_don and commune.adresse_don %}
      <div class="col-md-6 gblock">
        <h3>Donnez à cette campagne !</h3>
        <h5>Mentions légales</h5>
        <p>
          En donnant à cette campagne, je certifie sur l'honneur être une personne physique et que conformément à la loi
          N°95-65 du 19 janvier 1995
          relative au financement de la vie politique, le règlement de mon don ne provient pas d'une personne morale
          (société, association, société civile...) mais de mon compte bancaire personnel.
        </p>
        <p>Les dons consentis par une personne physique dûment identifiée pour le financement de la campagne d'un ou
          plusieurs candidats lors des mêmes élections ne peuvent excéder 4 600 euros.</p>
        <p>Vous pouvez envoyer vos chèques de dons à l'ordre et à l'adresse suivantes.</p>
        <div>
          <h5>Ordre du chèque</h5>
          <div style="border: 1px solid #555; padding: 0.2em 1em; background: #F0F0F0;">{{ commune.ordre_don }}</div>
        </div>
        <div>
          <h5>Adresse d'envoi</h5>
          <div style="border: 1px solid #555; padding: 0.2em 1em; background: #F0F0F0;">{{ commune.adresse_don|linebreaks }}</div>
        </div>

        <h5>Réduction d'impôt</h5>
        <p>Dans les communes de 9000 habitants ou plus, votre don ouvre droit à une réduction d’impôt égale à 66% des
          sommes versées. Un reçu détaché d'une formule numérotée éditée par la Commission nationale des comptes de
          campagne vous sera directement adressé en avril de
          l’année suivant l’année de versement de votre don.</p>
      </div>
    {% endif %}

    <div class="col-md-6 gblock">
      <h3>Agenda</h3>
      {% include "events/includes/events_by_day.html" with events=events empty_message="Aucun événement à venir dans cette commune." %}
    </div>
    <div class="col-md-6 gblock">
      <h3>Rejoignez un groupe d'action&nbsp;!</h3>
      <iframe
              title="Carte"
              src="{{ MAP_DOMAIN }}{% url "carte:commune_groups_map" commune.code_departement commune.slug %}"
              height="300"
              style="width: 100%;" scrolling="no"
              frameBorder="0"></iframe>
    </div>

    {% if commune.facebook %}
      <div class="col-md-3 gblock">
        <div class="fb-page" data-href="https://www.facebook.com/{{ commune.facebook }}/" data-tabs="timeline"
             data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
             data-hide-cover="false" data-show-facepile="true" style="margin-bottom: 2em;">
          <blockquote cite="https://www.facebook.com/{{ commune.facebook }}/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/{{ commune.facebook }}/">Page Facebook en chargement...</a>
          </blockquote>
        </div>
      </div>
    {% endif %}
    {% if commune.twitter %}
      <div class="col-md-3 gblock">
        <a class="twitter-timeline"
           href="https://twitter.com/{{ commune.twitter }}"
           data-height="500">
          Tweets de {{ commune.twitter }}
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    {% endif %}
  </div>
{% endblock %}
