{% extends "admin/change_list.html" %}
{% load i18n crispy_forms_tags %}

{% block object-tools-items %}
  <li>
    <a href="{{ changelist_link }}">
      Liste
    </a>
  </li>
  {{ block.super }}
{% endblock %}


{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; <a
      href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
      &rsaquo; <a
      href="{% url 'admin:people_person_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
      &rsaquo; Statistiques
    </div>
  {% endblock %}
{% endif %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const ctx = document.getElementById('myChart').getContext('2d');
  const chartData = {{ chart_data | safe }};

  // Parse the dates to JS
  chartData.forEach((d) => {
    d.x = new Date(d.subscription_date);
  });
  cumChartData = chartData.reduce((cum, d, i) => {
    cum.push({x: d.x, y: (i > 0 ? (cum[i-1].y + d.y) : d.y)})
    return cum;
  }, []);

  // Render the chart
  const chart = new Chart(ctx, {
    type: 'bar',
    data: {
      datasets: [
        {
          label: 'Inscriptions NSP par jour (gauche)',
          data: chartData,
          backgroundColor: 'rgba(220,20,20,0.5)',
          yAxisID: 'day-axis',
        },
        {
          label: 'Total inscriptions NSP (droite)',
          data: cumChartData,
          type: 'line',
          yAxisID: 'cum-axis',
        }
      ],
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [
          {
            type: 'time',
            time: {
              unit: 'day',
              round: 'day',
              displayFormats: {
                day: 'MMM D',
              },
            },
          },
        ],
        yAxes: [
          {
            id: 'day-axis',
            ticks: {
              beginAtZero: true,
            },
          },
          {
            id: 'cum-axis',
            ticks: {
              beginAtZero: true,
            },
            position: 'right',
          }
        ],
      },
    },
  });
});
</script>
{% endblock %}

{% block search %}{% endblock %}
{% block result_list %}
<div>
  <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
</div>

{% include "admin/people/person/statistics_table.html" %}

{% endblock %}
{% block pagination %}{% endblock %}
