{% load i18n humanize %}

<style>
  @keyframes load {
      from { background-size: 0%; }
      to { background-size: 100%; }
  }

  :root{
    --r: 0;
  }

  table.stats {
    table-layout: fixed;
    width: 100%;
  }

  table.stats tr {
    background: rgba(255,255,255,0);
    background: linear-gradient(90deg, #b4ffdb 0% , #d9ffed var(--r) ,  rgba(255,255,255,0) var(--r)) no-repeat;
    background-blend-mode: difference;
    animation: load 2s ease-out;
  }

  table.stats th,
  table.stats td {
    font-size: 1rem;
    line-height: 1.5;
    font-variant-numeric: tabular-nums;
  }

  table.stats th {
    width: 40%;
    font-weight: 500;
    vertical-align: middle;
  }

  table.stats th em {
    font-style: normal;
    font-weight: 700;
  }

  table.stats th[colspan="2"] {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #16a460;
    color: white;
  }

  table.stats td {
    width: 60%;
    font-weight: 600;
  }

  table.stats meter {
    width: 100%;
  }

  @media (max-width: 992px) {
    table.stats th,
    table.stats td {
      width: auto;
    }

    table.stats td {
      text-align: right;
    }
  }
</style>

<table class="stats">
  <tr>
    <th>Total</th>
    <td>{{ statistics.total }}</td>
  </tr>
  <tr>
    <th colspan="2">Types</th>
  </tr>
  <tr style="--r: {% widthratio statistics.is_2022 statistics.total 100 %}%">
    <th>Signataires <em>Mélenchon 2022</em></th>
    <td>{{ statistics.is_2022 }}
      <meter value="{{ statistics.is_2022 }}" title="{{ statistics.is_2022 }}" min="0" max="{{ statistics.total }}">
        {{ statistics.is_2022 }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.is_insoumise statistics.total 100 %}%">
    <th>Signataires <em>La France insoumise</em></th>
    <td>{{ statistics.is_insoumise }}
      <meter value="{{ statistics.is_insoumise }}" title="{{ statistics.is_insoumise }}" title="{{ statistics.is_insoumise }}" title="{{ statistics.is_insoumise }}" min="0" max="{{ statistics.total }}">
        {{ statistics.is_insoumise }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.liaisons statistics.total 100 %}%">
    <th>Correspondants d'immeuble</th>
    <td>{{ statistics.liaisons }}
      <meter value="{{ statistics.liaisons }}" title="{{ statistics.liaisons }}" title="{{ statistics.liaisons }}" title="{{ statistics.liaisons }}" min="0" max="{{ statistics.total }}">
        {{ statistics.liaisons }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.contacts statistics.total 100 %}%">
    <th>Contacts</th>
    <td>{{ statistics.contacts }}
      <meter value="{{ statistics.contacts }}" title="{{ statistics.contacts }}" title="{{ statistics.contacts }}" title="{{ statistics.contacts }}" min="0" max="{{ statistics.total }}">
        {{ statistics.contacts }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.elected_representatives statistics.total 100 %}%">
    <th>Élu·es</th>
    <td>{{ statistics.elected_representatives }}
      <meter value="{{ statistics.elected_representatives }}" title="{{ statistics.elected_representatives }}" title="{{ statistics.elected_representatives }}" title="{{ statistics.elected_representatives }}" min="0"
        max="{{ statistics.total }}">{{ statistics.elected_representatives }}
      </meter>
    </td>
  </tr>
  <tr>
    <th colspan="2">Groupes d'action</th>
  </tr>
  <tr style="--r: {% widthratio statistics.group_members statistics.total 100 %}%">
    <th>Membres de groupe d'action</th>
    <td>
      {{ statistics.group_members }}
      <meter value="{{ statistics.group_members }}" title="{{ statistics.group_members }}" title="{{ statistics.group_members }}" title="{{ statistics.group_members }}" min="0" max="{{ statistics.total }}">
        {{ statistics.group_members }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.certified_group_members statistics.total 100 %}%">
    <th>Membres de groupe d'action certifié</th>
    <td>
      {{ statistics.certified_group_members }}
      <meter value="{{ statistics.certified_group_members }}" title="{{ statistics.certified_group_members }}" title="{{ statistics.certified_group_members }}" title="{{ statistics.certified_group_members }}" min="0"
        max="{{ statistics.total }}">{{ statistics.certified_group_members }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.group_referents statistics.total 100 %}%">
    <th>Animateur·ices de groupe d'action</th>
    <td>
      {{ statistics.group_referents }}
      <meter value="{{ statistics.group_referents }}" title="{{ statistics.group_referents }}" title="{{ statistics.group_referents }}" title="{{ statistics.group_referents }}" min="0" max="{{ statistics.total }}">{{ statistics.group_referents }}
      </meter>
    </td>
  </tr>
  <tr>
    <th colspan="2">Dons</th>
  </tr>
  <tr style="--r: {% widthratio statistics.is_2022_donors statistics.total 100 %}%">
    <th>Donateur·ices à <em>Mélenchon 2022</em></th>
    <td>
      {{ statistics.is_2022_donors }}
      <meter value="{{ statistics.is_2022_donors }}" title="{{ statistics.is_2022_donors }}" min="0" max="{{ statistics.total }}">
        {{ statistics.is_2022_donors }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.is_insoumise_donors statistics.total 100 %}%">
    <th>Donateur·ices à <em>La France insoumise</em></th>
    <td>
      {{ statistics.is_insoumise_donors }}
      <meter value="{{ statistics.is_insoumise_donors }}" title="{{ statistics.is_insoumise_donors }}" min="0" max="{{ statistics.total }}">
        {{ statistics.is_insoumise_donors }}
      </meter>
    </td>
  </tr>
  <tr>
    <th colspan="2">Âge</th>
  </tr>
  <tr style="--r: {% widthratio statistics.known_birthdates statistics.total 100 %}%">
    <th>Dates de naissance renseignées</th>
    <td>
      {{ statistics.known_birthdates }}
      <meter value="{{ statistics.known_birthdates }}" title="{{ statistics.known_birthdates }}" min="0" max="{{ statistics.total }}">
        {{ statistics.known_birthdates }}
      </meter>
    </td>
  </tr>
  {% if statistics.mean_age %}
  <tr style="--r: {% widthratio statistics.mean_age 100 100 %}%">
    <th>Âge moyen</th>
    <td>{{ statistics.mean_age|floatformat:"-1" }}&nbsp;ans</td>
  </tr>
  {% endif %}
  {% if statistics.median_age %}
  <tr style="--r: {% widthratio statistics.median_age 100 100 %}%">
    <th>Âge médian</th>
    <td>{{ statistics.median_age|floatformat:"-1" }}&nbsp;ans</td>
  </tr>
  {% endif %}
  <tr>
    <th colspan="2">Communication</th>
  </tr>
  <tr style="--r: {% widthratio statistics.newsletter_subscribers statistics.total 100 %}%">
    <th>Inscrit·es à au moins une newsletter</th>
    <td>
      {{ statistics.newsletter_subscribers }}
      <meter value="{{ statistics.newsletter_subscribers }}" title="{{ statistics.newsletter_subscribers }}" min="0" max="{{ statistics.total }}">
        {{ statistics.newsletter_subscribers }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.sms_subscribers statistics.total 100 %}%">
    <th>Inscrit·es aux informations par SMS</th>
    <td>
      {{ statistics.sms_subscribers }}
      <meter value="{{ statistics.sms_subscribers }}" title="{{ statistics.sms_subscribers }}" min="0" max="{{ statistics.total }}">
        {{ statistics.sms_subscribers }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.known_phone_numbers statistics.total 100 %}%">
    <th>Numéros de téléphone renseignés</th>
    <td>
      {{ statistics.known_phone_numbers }}
      <meter value="{{ statistics.known_phone_numbers }}" title="{{ statistics.known_phone_numbers }}" min="0" max="{{ statistics.total }}">
        {{ statistics.known_phone_numbers }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.last_week_connections statistics.total 100 %}%">
    <th>Connecté·es pendant les derniers sept jours </th>
    <td>
      {{ statistics.last_week_connections }}
      <meter value="{{ statistics.last_week_connections }}" title="{{ statistics.last_week_connections }}" min="0" max="{{ statistics.total }}">
        {{ statistics.last_week_connections }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.android_users statistics.total 100 %}%">
    <th>Utilisateurs·ices de l'application Android</th>
    <td>
      {{ statistics.android_users }}
      <meter value="{{ statistics.android_users }}" title="{{ statistics.android_users }}" min="0" max="{{ statistics.total }}">
        {{ statistics.android_users }}
      </meter>
    </td>
  </tr>
  <tr style="--r: {% widthratio statistics.ios_users statistics.total 100 %}%">
    <th>Utilisateurs·ices de l'application iOS</th>
    <td>
      {{ statistics.ios_users }}
      <meter value="{{ statistics.ios_users }}" title="{{ statistics.ios_users }}" min="0" max="{{ statistics.total }}">
        {{ statistics.ios_users }}
      </meter>
    </td>
  </tr>
  <tr>
    <th colspan="2">Codes postaux le plus représentés</th>
  </tr>
  {% for zip, count in statistics.zip_codes %}
  <tr style="--r: {% widthratio count statistics.total 100 %}%">
    <th>{{ zip }}</th>
    <td>
      {{ count }}
      <meter value="{{ count }}" title="{{ count }}" min="0" max="{{ statistics.total }}">
        {{ count }}
      </meter>
    </td>
  </tr>
  {% endfor %}
</table>
