{% extends email_template %}

{% block header %}{% endblock %}

{% block subject %}
  {{ GROUP_NAME }} deviendra bientôt inactif
{% endblock %}

{% block html_content %}
  <p>{{ greetings }}</p>
  <p>
    Votre groupe d’action <a href="{{ GROUP_PAGE_URL }}"><strong>{{ GROUP_NAME }}</strong></a> n’a pas organisé d’événements depuis plus de {{ DAYS_SINCE_LAST_EVENT_WARNING }} jours. De ce fait, il va bientôt être classé parmi les groupes les moins actifs. Il restera publié sur la carte des groupes d’action, mais n’apparaîtra que quand sera décochée la case &laquo;&nbsp;<em>Groupe les plus actifs</em>&nbsp;&raquo; ce qui le rendra moins visible.
  </p>
  <p>
    Nous vous rappelons que la création régulière d’événements fait partie de <a href="https://infos.actionpopulaire.fr/charte-des-groupes-action-populaire/">la Charte des groupes d’action</a>. Elle est l’une des conditions nécessaires à la certification.
  </p>
  <p>
    Si votre groupe est certifié et ne crée pas d’événements dans le mois qui vient, il pourra être décertifié.
  </p>
  <p>
    Si l’animation de votre groupe a changé, <a href="https://actionpopulaire.fr/formulaires/demande-changement-animation-ga/">merci de nous l’indiquer ici</a>.
  </p>
  <p>
    Amitiés,
    <br/>
    <br/>
    Alexandra et Clément
    <br/>
    pour le Pôle des groupes d’action
    <br/>
    <em>groupes@actionpopulaire.fr</em>
  </p>
{% endblock %}

{% block html_footer %}{% endblock %}
