$white: #fff;

$black1000: #000a2c;
$black700: #4f4f4f;
$black500: #777777;
$black200: #c4c4c4;
$black100: #dfdfdf;
$black50: #eeeeee;
$black25: #fafafa;

$primary600: #4d26b9;
$primary500: #571aff;
$primary150: #cbbfec;
$primary100: #e9e1ff;
$primary50: #f6f2fc;

$secondary600: #f5e30f;
$secondary500: #f4ed0f;
$secondary100: #fcfbd9;

$green500: #16a460;
$green200: #b4ffdb;
$green100: #d9ffed;

$redLFI: #c9462c;
$redNSP: #e93a55;
$red100: #fdecee;
$vermillon: #ff5e35;

$facebook: #1778f2;
$twitter: #1da1f2;
$whatsapp: #00e676;
$telegram: #0088cc;

$referralPink: #f831a0;
$materielBlue: #38a5f4;
$votingProxyOrange: #ea610b;
$PULBleu: #3f2682;

$nupesBlue: #502582;
$nupesRed: #f53b3b;
$nupesPink: #f831a0;
$nupesGreen: #34ad6c;
$nupesYellow: #ffec00;

$font-family-base: "Poppins", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.428571429;
$text-color: $black1000;

$link-color: $primary500;
$link-hover-color: $primary600;
$link-hover-decoration: underline;

$collapse-mobile: 992;
$collapse-tablet: 1282;

$elaborate-shadow: 0px 0px 3px rgba(0, 35, 44, 0.1),
  0px 2px 0px rgba(0, 35, 44, 0.08);

$card-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 0px 3px 3px rgba(0, 35, 44, 0.1);

$soft-border-radius: 4px;
$border-radius: 8px;

$zindex__mainContent: 2;
$zindex__topBar: 10;
$zindex__bottomBar: 10;
$zindex__navigationCounter: 10;
$zindex__feedback-button: 15;
$zindex__modal: 20;
$zindex__panel: 20;

:export {
  white: $white;

  black1000: $black1000;
  black700: $black700;
  black500: $black500;
  black200: $black200;
  black100: $black100;
  black50: $black50;
  black25: $black25;

  primary500: $primary500;
  primary600: $primary600;
  primary150: $primary150;
  primary100: $primary100;
  primary50: $primary50;

  secondary600: $secondary600;
  secondary500: $secondary500;
  secondary100: $secondary100;

  green500: $green500;
  green200: $green200;
  green100: $green100;

  redLFI: $redLFI;
  redNSP: $redNSP;
  red100: $red100;
  vermillon: $vermillon;

  facebook: $facebook;
  twitter: $twitter;
  whatsapp: $whatsapp;
  telegram: $telegram;

  referralPink: $referralPink;
  materielBlue: $materielBlue;
  votingProxyOrange: $votingProxyOrange;
  PULBleu: $PULBleu;

  nupesBlue: $nupesBlue;
  nupesRed: $nupesRed;
  nupesPink: $nupesPink;
  nupesGreen: $nupesGreen;
  nupesYellow: $nupesYellow;

  fontFamilyBase: $font-family-base;
  fontSizeBase: $font-size-base;
  lineHeightBase: $line-height-base;
  textColor: $text-color;

  linkColor: $link-color;
  linkHoverColor: $link-hover-color;
  linkHoverDecoration: $link-hover-decoration;

  collapse: $collapse-mobile;
  collapseMobile: $collapse-mobile;
  collapseTablet: $collapse-tablet;

  elaborateShadow: $elaborate-shadow;
  cardShadow: $card-shadow;
  softBorderRadius: $soft-border-radius;
  borderRadius: $border-radius;

  zindexMainContent: $zindex__mainContent;
  zindexTopBar: $zindex__topBar;
  zindexBottomBar: $zindex__bottomBar;
  zindexNavigationCounter: $zindex__navigationCounter;
  zindexModal: $zindex__modal;
  zindexPanel: $zindex__panel;
  zindexFeedbackButton: $zindex__feedback-button;
}
