$white: #fff;

$black1000: #000a2c;
$black700: #4f4f4f;
$black500: #777777;
$black200: #c4c4c4;
$black100: #dfdfdf;
$black50: #eeeeee;
$black25: #fafafa;

$primary600: #4d26b9;
$primary500: #571aff;
$primary150: #cbbfec;
$primary100: #e9e1ff;

$secondary600: #f5e30f;
$secondary500: #f4ed0f;
$secondary100: #faedea;

$green500: #16a460;

$redNSP: #e93a55;

$font-family-base: "Poppins", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.428571429;
$text-color: $black1000;

$link-color: $primary500;
$link-hover-color: $primary600;
$link-hover-decoration: underline;

$collapse: 992;

$elaborate-shadow: 0px 0px 3px rgba(0, 35, 44, 0.1),
  0px 2px 0px rgba(0, 35, 44, 0.08);

$default-border-radius: 0;

:export {
  white: $white;

  black1000: $black1000;
  black700: $black700;
  black500: $black500;
  black100: $black100;
  black50: $black50;
  black25: $black25;

  primary500: $primary500;
  primary600: $primary600;
  primary150: $primary150;
  primary100: $primary100;

  secondary600: $secondary600;
  secondary500: $secondary500;
  secondary100: $secondary100;

  green500: $green500;

  fontFamilyBase: $font-family-base;
  fontSizeBase: $font-size-base;
  lineHeightBase: $line-height-base;
  textColor: $text-color;

  linkColor: $link-color;
  linkHoverColor: $link-hover-color;
  linkHoverDecoration: $link-hover-decoration;

  collapse: $collapse;

  elaborateShadow: $elaborate-shadow;
  defaultBorderRadius: $default-border-radius;
}
