@import "../../../../node_modules/normalize.css";
@import "./_variables.scss";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: #fff;
  margin: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

a:focus {
  outline: .3125rem auto -webkit-focus-ring-color;
  outline-offset: -0.125rem;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  color: #00232c;
  margin-top: 0.8em;
  margin-bottom: 0.7em;
}

/* Headings */

h1 {
  font-size: 2.5625rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: $font-size-base;
}

h6 {
  font-size: .875rem;
}

p {
  margin: 0 0 .6875rem;
}

hr {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
  border: 0;
  border-top: .0625rem solid $black50;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
}

/* Lists */

ul,
ol {
  margin-top: 0;
  margin-bottom: .6875rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* Tables */

table {
  background-color: transparent;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

th {
  text-align: left;
}

/* Forms */

fieldset {
  min-width: 0;
  padding: 0;
  border: 0;
  margin: 2em 0 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: inherit;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: .3125rem;
  font-weight: 500;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin: .25rem 0 0;
  margin-top: .0625rem \9;
  line-height: normal;
}

input[type="radio"][disabled],
input[type="radio"].disabled,
fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled,
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: .3125rem auto -webkit-focus-ring-color;
  outline-offset: -0.125rem;
}

output {
  display: block;
  padding-top: .4375rem;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $black500;
}

* {
  overflow-wrap: anywhere;
}

mark {
  background-color: $primary50;
  padding: 0 .3125em;
  font-weight: 500;
  box-decoration-break: clone;
}