{% extends "front/layout.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Créer un groupe d'action{% endblock %}

{% block main %}
    {% if form.errors %}
      <ul>
        {% for key, error in form.errors.items %}
          <li>{{ key }} : {{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h3 class="text-center">Créer un groupe d'action</h3>
    <div id="create-group-react-app" data-turbolinks="false"></div>
    {% render_bundle 'creationForms' %}
    <script>creationForms.createGroupForm();</script>
{% endblock %}
