{% extends "front/layout.html" %}

{% block title %}Groupe d'appui «&nbsp;{{ supportgroup.name }}&nbsp;»{% endblock %}

{% block main %}
    <div class="row">
        <h3 class="col-sm-10">
            {{ supportgroup.name }}
            {% for tag in supportgroup.tags.all %}<span class="badge">{{ tag }}</span>{% endfor %}
        </h3>
        {% if user.is_authenticated and user.is_staff %}
            <div class="col-sm-2">
                <a href="{% url "admin:groups_supportgroup_change" supportgroup.id %}">Administration</a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <hr/>
            {% if supportgroup.description %}
                <div class="intro">
                    {{ supportgroup.html_description }}
                    <hr/>
                </div>
            {% endif %}
            <h5>Adresse&nbsp;:</h5>
            <p><strong>{{ supportgroup.location_name }}</strong></p>
            <p>{{ supportgroup.location_address }}</p>
            <h5>
                Contact&nbsp;:
            </h5>
            <p>{{ supportgroup.html_full_contact }}</p>
            <hr/>
        </div>
        <iframe title="Carte" class="col-md-6"
                src="https://carte.lafranceinsoumise.fr/?event_id={{ supportgroup.pk }},groups&hide_panel=1&hide_address=1"
                height="300" scrolling="no" frameBorder="0"></iframe>
    </div>

    {% if user.is_authenticated %}
        {% if is_member %}
            <div class="row">
                <div class="col-md-push-3 col-md-6" style="margin-top: 1em; margin-bottom: 1em;">
                    Je suis membre de ce groupe
                    &bull; <a href="{% url "quit_group" supportgroup.pk %}">Quitter le groupe</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-push-3 col-md-6" style="margin-top: 1em; margin-bottom: 1em;">
                    <form action="{% url "view_group" supportgroup.pk %}" method="post" class="padbottom">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="join"/>
                        <input type="submit" class="btn btn-primary btn-block" value="Rejoindre ce groupe"/>
                    </form>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-md-push-3 col-md-6" style="margin-top: 1em; margin-bottom: 1em;">
                <a class="btn btn-primary btn-block" title="Connexion" href="{% url "oauth_redirect_view" %}">Se
                    connecter pour
                    rejoindre le groupe</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
