{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load l10n %}

{% block title %}Rechercher un groupe par code postal{% endblock %}

{% block main %}
    <h1>Rechercher un groupe par code postal</h1>

    <div>
        <p>Sur cette page, vous trouverez l'ensemble des groupes organisés de la France insoumise.</p>

        <p>Si aucun groupe ne s'est organisé près de chez vous, vous pouvez en créer un vous-même.</p>

        <p>Vous pouvez aussi rechercher des événements en utilisant
            <a href="https://lafranceinsoumise.fr/groupes-appui/carte/">la carte.</a>
        </p>
    </div>

    <div class="text-center">
        <a class="btn btn-info" href="{% url "create_group" %}"><i class="fa fa-plus"></i> Créer un groupe d'action</a>
        <a class="btn btn-default" href="https://lafranceinsoumise.fr/groupes-appui/carte/">Accéder à la carte des groupes</a>
    </div>

    <div class="container">
        <h4>Recherche des groupes d'action</h4>

        <div class="row">
            <div class="col-responsive">
                <form>
                    <div class="form-group{% if form.zipcode.errors %} has-error{% endif %}">
                        <div class="input-group">
                            {{ form.zipcode }}
                            <div class="input-group-btn">
                                <input class="btn btn-primary" value="Rechercher" type="submit">
                            </div>
                        </div>
                        {% for error in form.zipcode.errors %}
                            <div class="help-block">{{ error }}</div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>

        {% if groups %}
            <div class="list-group">
                {% for group in groups %}
                    <div class="list-group-item ">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <a href="{% url "view_group" group.pk %}">{{ group.name }}</a>
                        <a class="btn btn-default pull-right" href="{% url "view_group" group.pk %}">Voir
                            le groupe</a>
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-map-marker"></i> {{ group.location_name }}
                                ({{ group.location_city }})
                            </li>
                            {% if group.distance %}
                                <li>
                                    <i class="fa fa-long-arrow-right"></i> à {{ group.distance.km|floatformat:0 }}
                                    km
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
