{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Gérer le groupe «&nbsp;{{ supportgroup.name }}&nbsp;»{% endblock %}

{% block main %}
    <h2 class="text-center">{{ supportgroup.name }}</h2>

    <h3>Les informations de mon groupe</h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{ supportgroup.name }}</strong>
            <small>{{ supportgroup.get_type_display }}</small>
            {% for subtype in supportgroup.subtypes.all %}
                {% if not subtype.hide_text_label %}
                    <span class="badge">{{ subtype.description }}</span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="subhead">Où</h6>
                    <p>{{ supportgroup.html_full_address|default:"Pas d'adresse enregistré." }}</p>

                    <h6 class="subhead">Contact</h6>
                    <p>{{ supportgroup.html_full_contact|default:"Pas de contact enregistré." }}</p>
                </div>
                <div class="col-md-6">
                    <iframe title="Carte" class="col-xs-6" style="width: 100%;"
                            src="https://carte.lafranceinsoumise.fr/?event_id={{ event.pk }},events&hide_panel=1&hide_address=1"
                            height="300" scrolling="no" frameBorder="0"></iframe>
                    {% if not supportgroup.coordinates %}
                        <p>Pas de géolocalisation.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <ul class="list-inline">
                <li><a class="btn btn-default" href="{% url "edit_group" supportgroup.pk %}">Modifier ces informations</a>
                <li><a class="btn btn-default" href="{% url "change_group_location" supportgroup.pk %}">Corriger la localisation</a>
            </ul>
        </div>
    </div>

    {% if certified %}
        <h3>Mon code promo pour ce mois-ci</h3>

        <div style="text-align: center; margin: 2em auto;">
            <span style="padding: 10px; font-weight: bolder; font-size: 2em; border: 2px solid darkgrey;">{{ group_promo_code }}</span>
        </div>

        <p>
            Ce code peut être utilisé sur le <a href="https://materiel.lafranceinsoumise.fr">site d'achat de
            matériel</a>.
        </p>

    {% endif %}

    <h3>Les animateur⋅rice⋅s et autres gestionnaires du groupe</h3>

    <h4>Les animateur⋅rices⋅s du groupe</h4>

    <ul class="list-group">
        {% for membership in referents %}
            {% with person=membership.person %}
                <li class="list-group-item list-group-item-success">
                    {% if person.first_name and person.last_name %}
                        {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
                    {% else %}
                        {{ person.email }}
                    {% endif %}
                </li>
            {% endwith %}
        {% endfor %}
    </ul>

    {% if referents|length == 1 and is_referent %}
        <div>
            <p>
                Vous etes à l'heure actuelle l'unique animatrice ou animateur enregistré de ce groupe d'action. La
                charte des groupes
                d'action de la France insoumise prévoit que les groupes d'action</p>
            <blockquote>
                sont animés par deux personnes de genres différents, n’appartenant pas, le cas échéant, toutes les deux
                à une même formation politique qui soutient la France insoumise.
            </blockquote>
            <p>
            Si vous souhaitez ne plus être animatrice ou animateur de ce groupe d'action, il vous faut d'abord indiquer
            une autre personne, car un groupe d'action ne peut se trouver sans animation.
            </p>
            <p>
                Vous pouvez nous indiquer ici qui est l'autre animatrice ou animateur au sein du groupe.
            </p>
            {% crispy add_referent_form %}
        </div>
    {% endif %}

    <h4>Les autres gestionnaires du groupe</h4>

    <p>Les autres gestionnaires ont accès à la liste des membres, peuvent modifier les informations du groupe, et créer
        des événements au nom du groupe. Ils peuvent ainsi assister les animateurs pour la gestion technique
        au quotidien du groupe sur la plateforme.</p>

    {% if managers %}
        <ul class="list-group">
            {% for membership in managers %}
                {% with person=membership.person %}
                    <li class="list-group-item list-group-item-info">
                        {% if person.first_name and person.last_name %}
                            {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
                        {% else %}
                            {{ person.email }}
                        {% endif %}
                        <a href="{% url 'remove_manager' pk=membership.pk %}" aria-label="Retirer ce gestionnaire">
                            <i class="fa fa-remove" aria-hidden="true" title="Retirer ce gestionnaire"></i>
                        </a>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <p><strong>Il n'y a pas de membres gestionnaires dans le groupe pour le moment !</strong></p>
    {% endif %}

    {% if is_referent %}
        <p>Ajouter un membre gestionnaire :</p>
        {% crispy add_manager_form %}
    {% endif %}

    <h3>Liste des membres</h3>

    <p>Votre groupe comprend à l'heure actuelle {{ members|length }}
        membre{% if members|length > 1 %}s{% endif %}.</p>

    <p>Cette liste peut etre copiée-collée directement dans votre logiciel de messagerie !</p>

    <ul class="list-group">
        {% for membership in members %}
            {% with person=membership.person %}
                <li class="list-group-item">
                    {% if person.first_name and person.last_name %}
                        {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
                    {% else %}
                        {{ person.email }}
                    {% endif %}
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}
