#login-page {
  background: linear-gradient(175deg, #f4ed0f 25%, white 25%, white);
  padding-top: 47px;

  p {
    max-width: 500px;
    margin: 0 auto 11px;
  }

  #login-widget {
    background-color: white;
    padding: 50px 32px;
    border: 1px solid #dfdfdf;
    margin: 30px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
      padding: 30px 16px;
      margin: 0;
    }

    & > * {
      margin-bottom: 0;
      max-width: 600px;

      @media (max-width: 992px) {
        max-width: 100%;
      }
    }

    & > * + * {
      margin-top: 20px;
    }

    h2 {
      font-size: 26px;
      font-weight: 700;
    }

    h3 {
      color: $brand-primary;
      font-size: 16px;
      font-weight: 700;
    }

    .btn-secondary {
      background-color: $brand-primary;
      color: white;
    }

    .or {
      font-size: 14px;
      text-transform: uppercase;
    }

    #facebook-login {
      p {
        color: #777777;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.4;
      }

      .btn {
        background-color: white;
        border-color: #c4c4c4;
        color: $brand-black;
        margin-bottom: 20px;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: normal;
        white-space: normal;

        .fa-facebook-square {
          color: #1778f2;
          border-radius: 100%;
          margin-right: 8px;
        }
      }
    }

    #email-login {
      width: 100%;
      max-width: 600px;

      form {
        width: 100%;
        justify-content: center;
        display: flex;

        @media (max-width: 992px) {
          flex-flow: column nowrap;
          align-items: stretch;
        }

        & > * {
          margin: 8px;
          flex: 0 0 auto;

          &#div_id_email {
            flex: 1 1 auto;
          }
        }

        input {
          height: 48px;
          width: 100%;
        }

        .btn-primary {
          &,
          &:hover,
          &:focus,
          &:active {
            background-color: $brand-secondary;
            color: $brand-black;
            border: none;
          }

          &:hover,
          &:focus,
          &:active {
            background-color: rgb(245, 227, 15);
          }
        }
      }
    }
  }

  #sign-in-link {
    a {
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
