// Forms
.form-group {
  label {
    display: block;
  }
  input + input {
    @extend .margintopless;
  }
}

fieldset {
  margin-top: 2em;

  label {
    font-weight: 500;
  }

  legend {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    border: 0;
  }
}

.help-block {
  font-size: 14px;
  line-height: 17px;
  color: #777777;
}

// Buttons
// 	@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size, $line-height-base, $btn-border-radius-base);
.btn {
  @include button-size(
    12px,
    24px,
    14px,
    $line-height-base,
    $btn-border-radius-base
  );
}
.btn-lg {
  @include button-size(
    $padding-large-vertical,
    $padding-large-horizontal,
    16px,
    $line-height-large,
    $btn-border-radius-large
  );
}
.btn-sm {
  @include button-size(
    6px,
    12px,
    13px,
    $line-height-small,
    $btn-border-radius-small
  );
}
.btn-xs {
  @include button-size(
    3px,
    7px,
    12px,
    1,
    $btn-border-radius-small
  );
}

button,
.btn {
  &.btn-wrap {
    white-space: normal;
  }
}

// Anchors
a.alt-color {
  color: $brand-secondary;

  &:hover,
  &:active {
    color: darken($brand-secondary, 15%);
  }
}

.menu-back-link {
  &,
  &:focus,
  &:hover,
  &:active {
    font-weight: 700;
    color: #777777;
    font-size: 12px;
    line-break: 15px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

// Navigation
.nav {
  .dropdown-menu {
    padding-top: 20px;
    padding-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 35, 44, 0.1), 0px 3px 2px rgba(0, 35, 44, 0.05);
    width: 100vw;
  }

  li {
    color: #4F4F4F;

    & > a,
    &.active > a {
      &,
      &:focus,
      &:hover,
      &:active {
        padding: 10px 15px;
        color: inherit;
        background-color: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }

      &.menu-title {
        color: $brand-black;
        cursor: default;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 700;
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: transparent;
    }

    &.active {
      color: $brand-primary;
    }
  }
}
