body {
  margin: auto;
  padding-bottom: 40px;
  padding-top: 72px;
  @media (max-width: 992px) {
    padding-top: 56px;
  }
}

.wrap.container {
  padding-top: 72px;
  @media (max-width: 992px) {
    padding-top: 56px;
  }
}

.bottom-margin {
  margin-bottom: 20px;
}

.error-message {
  @extend .text-danger;
}

@mixin make-one-main-column() {
  @include make-sm-column(12);
  @include make-md-column(10);
  @include make-md-column-offset(1);
  @include make-lg-column(8);
  @include make-lg-column-offset(2);
}

.col-responsive {
  @include make-one-main-column();
}


@media (max-width: 992px) {
  .mobile-vertical {
    display: flex;
    flex-direction: column;
  }
}
