{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load display_lib %}

{% block title %}
  Signaler un mandat municipal dont je suis investi
{% endblock %}

{% block main %}
  <div class="row">
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="MANDATS" %} {% endblock %}
    <div class="col-xs-12 col-md-10">
      <div class="col-xs-12 col-md-12 ">
        <h1>Je signale un mandat municipal dont je suis {% genrer "investi⋅e" %}</h1>

        <p>Vous avez été {% genrer "élu⋅e" %} lors des dernières élections municipales, ou à une date antérieure, et
          souhaitez être {% genrer "intégré⋅e" %} au réseau des élus de la France insoumise ? Signalez-le nous via ce
          formulaire.</p>

        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}
