{% extends "front/layout.html" %}
{% load display_lib %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}
  <div class="row">
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="MANDATS" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
    {% include "people/profile/profile_title.html" with tab_code="MANDATS" %}
    <h3>Je met à jour les informations de mon mandat d'{% genrer "élu⋅e" %} {{ conseil_avec_charniere }}</h3>

      <p>Vous êtes {% genrer "identifié⋅e" %} comme {% genrer "élu⋅e" %} {% genrer mandat_adjectif %}
        {{ conseil_avec_charniere }}. Cette page vous permet
      de préciser ou corriger les informations que nous avons sur votre mandat, et à demander à rejoindre le réseau
      des élu⋅es de la France insoumise.</p>

      {% crispy form %}
    </div>
  </div>
{% endblock %}
