{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Gérer l'événement «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block main %}
    <h2 class="text-center">{{ event.name }}</h2>

    <h3>Les informations de mon événement</h3>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>{{ event.name }}</strong></div>
        <div class="panel-body">
            {% spaceless %}
            {% if event.organizers_groups.all|length > 0 %}
            <p>
                Organisé par le(s) groupe(s) d'action
                {% for supportgroup in event.organizers_groups.all.distinct %}
                    <a href="{% url "view_group" supportgroup.pk %}">{{ supportgroup.name }}</a>{% if not forloop.last %}{%  if forloop.revcounter0 == 1 %} et {% else %}, {% endif %}{% else %}.{% endif %}
                {% endfor%}
            </p>
            {%  endif %}
            {% endspaceless %}

            <h6 class="subhead">Quand</h6>
            <p>{{ event.get_display_date }}</p>

            <h6 class="subhead">Où</h6>
            <p>{{ event.html_full_address }}</p>

            <h6 class="subhead">Contact</h6>
            <p>{{ event.html_full_contact }}</p>
        </div>
        <div class="panel-footer">
            <ul class="list-inline">
                <li><a class="btn btn-default" href="{% url "edit_event" event.pk %}">Modifier ces informations</a></li>
                <li><a class="btn btn-default" href="{% url "change_event_location" event.pk %}">Corriger la localisation de l'événement</a></li>
                <li><a class="btn btn-default" href="{% url "cancel_event" event.pk %}">Annuler l'événement</a></li>
            </ul>
        </div>

    </div>
    <h3>Les organisateurs de l'événement</h3>

    <ul class="list-group">
        {% for organizer in organizers %}
            <li class="list-group-item list-group-item-success">
                {% if organizer.first_name and organizer.last_name %}
                    {{ organizer.first_name }} {{ organizer.last_name }} &lt;{{ organizer.email }}&gt;
                {% else %}
                    {{ organizer.email }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div>
        <p>
            Vous pouvez sélectionner d'autres personnes pour co-organiser l'événement avec vous parmi celles qui ont
            indiqué participer à l'événement.
        </p>
        {% crispy add_organizer_form %}
    </div>

    <h3>Liste des participants</h3>

    <p>{{ rsvps|length }} personne{% if rsvps|length > 1 %}s ont{% else %} a{% endif %} indiqué souhaiter participer à
        votre événement pour le moment.</p>

    <p>Cette liste peut etre copiée-collée directement dans votre logiciel de messagerie !</p>

    <ul class="list-group">
        {% for rsvp in rsvps %}
            {% with person=rsvp.person %}
                <li class="list-group-item">
                    {% if person.first_name and person.last_name %}
                        {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
                    {% else %}
                        {{ person.email }}
                    {% endif %}
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}
