{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Modifier la localisation de mon groupe{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "view_group_settings_location" supportgroup.pk %}">
        <i class="fa fa-arrow-left"></i>&emsp;Retour à la page du groupe
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12 col-md-2 margintopmore"></div>
  <div class="col-xs-12 col-md-8 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <h4 class="padbottom">Modification de la localisation du groupe</h4>
    <p>
      Si votre groupe n'apparaît au bon endroit sur la carte, vous pouvez utiliser ci-dessous la petite carte pour
      le localiser correctement. Cliquez-déplacez le point existant, ou cliquez sur le lien « Supprimer toutes les
      localisations » puis directement sur la carte.
    </p>
    <p>
      Si vous souhaitez revenir à une localisation automatique de votre groupe à partir de son adresse,
      cochez la case correspondante et sauvegardez le formulaire.
    </p>
    <p>
      <strong>Après sauvegarde de ce formulaire, les modifications peuvent mettre jusqu'à 5 minutes pour apparaître sur la carte.</strong>
    </p>
    <div class="row">
      <div class="col-sm-12 form-group">
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
