{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Modifier la localisation de mon groupe{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px;">
    <a
      class="btn btn-sm btn-default"
      href="{% url "view_group" supportgroup.pk %}">
      <i class="fa fa-external-link"></i> Page publique du groupe
    </a>
  </div>
  <div class="col-xs-12 col-md-3 margintopmore">
    {% include "groups/includes/manage_nav.html" with has_static_menu=True %}
  </div>
  <div class="col-xs-12 col-md-9 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <h4 class="padbottom">Modification de la localisation du groupe</h4>
    <p>
      Si votre groupe n'apparaît au bon endroit sur la carte, vous pouvez utiliser ci-dessous la petite carte pour
      le localiser correctement. Cliquez-déplacez le point existant, ou cliquez sur le lien « Supprimer toutes les
      localisations » puis directement sur la carte.
    </p>
    <p>
      Si vous souhaitez revenir à une localisation automatique de votre groupe d'action à partir de son adresse,
      cochez la case correspondante et sauvegardez le formulaire.
    </p>
    <p>
      <strong>Après sauvegarde de ce formulaire, les modifications peuvent mettre jusqu'à 5 minutes pour apparaître
        sur la carte.</strong>
    </p>
    <div class="row">
      <div class="col-sm-12 form-group">
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
