{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Créer un groupe{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore">
      <h2 class="headline text-center">
        Créer un groupe
      </h2>
      {% if form.errors %}
        <ul class="alert alert-danger">
          {% for key, error in form.errors.items %}
            <li>{{ key }} : {{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div id="create-group-react-app">
        <div class="text-center"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
      </div>
      {{ props | json_script:"react-json-script" }}
    </div>
  </div>
{% endblock %}

{% block app_bundles %}
  {{ block.super }}
  {% include "lib/creationForms.bundle.html" %}
{% endblock %}
