{% extends "front/layout.html" %}

{% block title %}«&nbsp;{{ supportgroup.name }}&nbsp;»{% endblock %}

{% block main %}
    <header>
        {% if supportgroup.image %}
            <img src="{{ supportgroup.image.banner.url }}" class="img-responsive center-block">
        {% endif %}
        <h1>
            {{ supportgroup.name }}
            <small>{{ supportgroup.get_type_display }}</small>
            {% for subtype in supportgroup.subtypes.all %}
                {% if not subtype.hide_text_label %}
                    <span class="badge">{{ subtype.description }}</span>
                {% endif %}
            {% endfor %}
        </h1>
        <div class="text-right">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="btn btn-default" href="{{ API_DOMAIN }}{% url "admin:groups_supportgroup_change" supportgroup.pk %}">Administration</a>
                {% endif %}
                {% if is_member %}
                    {% if is_referent_or_manager %}
                        <a class="btn btn-default" href="{% url "manage_group" supportgroup.pk %}">Gérer mon groupe</a>
                        <a class="btn btn-default" href="{% url "create_event" %}?as_group={{ supportgroup.pk }}"><i class="fa fa-plus"></i> Créer un événement organisé par ce groupe</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url "quit_group" supportgroup.pk %}">Quitter le groupe</a>
                {% elif user.person.is_insoumise or supportgroup.allow_external %}
                    <form style="display:inline;" action="{% url "view_group" supportgroup.pk %}" method="post" class="padbottom">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="join"/>
                        <input type="submit" class="btn btn-primary" value="Rejoindre ce groupe"/>
                    </form>
                    <p class="help-block"><small>Votre adresse email sera communiquée aux gestionnaires du groupe.</small></p>
                {% else %}
                    <span class="btn btn-primary">Groupe réservé aux insoumis⋅es</span>
                {% endif %}
            {% elif supportgroup.allow_external %}
              <p class="text-left"><em>{{ supportgroup.external_help_text }}</em></p>
                  <form class="form-inline" method="post" action="{% url 'external_join_group' supportgroup.pk %}">
                    {% csrf_token %}
                    <div class="input-group">
                      <input type="email" name="email" class="form-control" placeholder="email@exemple.fr">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Rejoindre ce groupe <i class="fa fa-check"></i></button>
                      </span>
                    </div>
                  </form>
                  <p class="help-block"><small>Votre adresse email sera communiquée à l'organisateur⋅rice.</small></p>
            {% else %}
                <a class="btn btn-primary" title="Connexion" href="{% url "short_code_login" %}?next={{ request.get_full_path|urlencode }}">
                    Se connecter pour rejoindre le groupe</a>
            {% endif %}
        </div>
    </header>

    <hr/>
    <div class="row">
        <div class="{% if supportgroup.coordinates %}col-sm-6{% else %}col-responsive{% endif %}">
            {%  if supportgroup.html_full_address|length > 0 %}
            <h4>Adresse&nbsp;:</h4>
            <p>{{ supportgroup.html_full_address }}</p>
            {% endif %}
            {%  if supportgroup.html_full_contact|length > 0 %}
            <h4>
                Contact&nbsp;:
            </h4>
            <p>{{ supportgroup.html_full_contact }}</p>
            {% endif %}
            <hr/>
            {% if supportgroup.description %}
                <div class="intro" style="clear: both;">
                    {{ supportgroup.html_description }}
                    <hr/>
                </div>
            {% endif %}
            {% if supportgroup.is_certified %}
                <a class="btn btn-primary" href="{% url "donation_amount" %}?group={{ supportgroup.pk }}">Financer les actions de ce groupe</a>
            {% endif %}
        </div>
        {% if supportgroup.coordinates %}
        <iframe title="Carte" class="col-sm-6"
        src="{{ MAP_DOMAIN }}{% url "carte:single_group_map" supportgroup.id %}"
        height="300" scrolling="no" frameBorder="0"></iframe>
        {% endif %}
    </div>

    <div class="row masonry">
        <div class="col-md-6">
            <h3>Agenda du groupe
              {% url 'ics_group' supportgroup.pk as calendar_url %}
              <small>S'abonner {% include 'events/calendar_subscribe_modal.html' with url=calendar_url %}</small>
            </h3>
            <div class="list-group">
                {% for day, events in events_future %}
                    <div class="list-group-item disabled">
                        {{ day|date:"l d F" }}
                    </div>
                    {% for event in events %}
                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left media-middle"  style="min-width:64px">
                                    {% if event.image %}
                                        <img src="{{ event.image.thumbnail.url }}" class="media-object img-responsive">
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    <strong>
                                        <a href="{% url "view_event" event.pk %}">{{ event.name }}</a>
                                        <small>
                                            &bull; <a href="{% url "manage_event" event.pk %}">Gestion</a>
                                        </small>
                                    </strong>
                                    <div>{{ event.start_time|date:"H:i" }} {% if event.location_name %}- {{ event.location_name }} {% endif %}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% empty %}
                    <div class="list-group-item">
                        Ce groupe n'a aucun événement à venir.
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h3>Événements passés</h3>
            <div class="list-group">
                {% for day, events in events_past %}
                    <div class="list-group-item disabled">
                        {{ day|date:"l d F" }}
                    </div>
                    {% for event in events %}
                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left media-middle"  style="min-width:64px">
                                    {% if event.image %}
                                        <img src="{{ event.image.thumbnail.url }}" class="media-object img-responsive">
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    <strong>
                                        <a href="{% url "view_event" event.pk %}">{{ event.name }}</a>
                                        <small>
                                            &bull; <a href="{% url "manage_event" event.pk %}">Gestion</a>
                                        </small>
                                    </strong>
                                    <div>{{ event.start_time|date:"H:i" }} {% if event.location_name %}- {{ event.location_name }} {% endif %}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% empty %}
                    <div class="list-group-item">
                        Ce groupe n'a organisé aucun événement.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
