{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Vous avez été invité⋅e à rejoindre la France insoumise{% endblock %}

{% block main %}
  <h1>Vous avez été invité⋅e à rejoindre la France insoumise</h1>

  {% if group %}
    <p>Un des animateurs du groupe d'action <em><a target="_blank"
                                                   href="{% url "view_group" group.pk %}">{{ group.name }}</a></em> vous
      a invité à rejoindre la France insoumise et son groupe d'action.</p>
    <p>Pour valider votre inscription, merci de remplir le formulaire ci-dessous.</p>
  {% endif %}

  {% crispy form %}
{% endblock %}
