{% extends "front/layout.html" %}
{% load global_urls %}{% load crispy_forms_tags %}
{% load display_lib %}

{% block title %}Gérer le groupe «&nbsp;{{ supportgroup.name }}&nbsp;»{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "view_group" supportgroup.pk %}">
        <i class="fa fa-arrow-left"></i>&emsp;Retour à la page du groupe
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12 col-md-3 margintopmore">
    {% include "groups/includes/manage_nav.html" %}
  </div>
  <div class="col-xs-12 col-md-9 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <div role="tabpanel" class="tab-pane{% if not active or active == "informations" %} active{% endif %}" id="informations">
      {% include "groups/includes/information_panel.html" %}
    </div>
    <div role="tabpanel" class="tab-pane{% if active == "membership" %} active{% endif %}" id="membership">
      {% include "groups/includes/membership_panel.html" %}
    </div>
    <div role="tabpanel" class="tab-pane{% if active == "animation" %} active{% endif %}" id="animation">
      {% include "groups/includes/animation_panel.html" %}
    </div>
    <div role="tabpanel" class="tab-pane{% if active == "materiel" %} active{% endif %}" id="materiel">
      {% include "groups/includes/materiel_panel.html" %}
    </div>
    <div role="tabpanel" class="tab-pane{% if active == "financement" %} active{% endif %}" id="financement">
      {% include "groups/includes/financement_panel.html" %}
    </div>
    <div role="tabpanel" class="tab-pane{% if active == "certification" %} active{% endif %}" id="certification">
      {% include "groups/includes/certification_panel.html" %}
    </div>
  {% if not supportgroup.is_2022 %}
    <div role="tabpanel" class="tab-pane{% if active == "invitation" %} active{% endif %}" id="invitation">
      {% include "groups/includes/invitation_panel.html" %}
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}
