{% extends "front/layout.html" %}

{% block title %}Quitter le groupe {{ group.name }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "view_group" group.pk %}">
        <i class="fa fa-arrow-left"></i>&emsp;Retour à la page du groupe
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12 col-md-2 margintopmore"></div>
  <div class="col-xs-12 col-md-8 tab-content">
    <h2 class="headline">
      Quitter le groupe : {{ group.name }}
    </h2>
    <hr />
    <div class="form-group">
      <p>
        Souhaitez vous réellement quitter le groupe <strong>{{ group.name }}</strong> ?
      </p>
      <form method="POST">
        {% csrf_token %}
        <div class="row padtop">
          <div class="col-sm-12 col-md-4 padbottom">
            <a
              href="{% url "view_group" group.pk %}"
              class="btn btn-block btn-default">
              Retour
            </a>
          </div>
          <div class="col-sm-12 col-md-4 padbottom">
            <button
              type="submit"
              class="btn btn-lg btn-block btn-danger">
              Quitter le groupe
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
