{% extends "front/layout.html" %}
{% load static %}

{% block title %}Les équipes thématiques de l'espace programme{% endblock %}

{% block main %}
  <h2>Les équipes thématiques de l'espace programme</h2>

  <div class="row">
    <div class="col-md-6">
      <p><strong>Les équipes thématiques de l'espace programme</strong> sont issues des travaux des livrets pendant la
        campagne présidentielle. Elles ont été constituées pour faire vivre les thèmes initiés en 2017. Aujourd’hui,
        ces équipes continuent de produire du contenu, de réagir à l’actualité et de monter des initiatives.</p>

      <p>Retrouvez sur cette page les activités des équipes thématiques de l'espace programme ainsi que leur adresse
        de contact. N'hésitez pas à leur apporter votre aide&nbsp;!</p>
    </div>
    <div class="col-md-6">
      <div class="alert alert-info">
        <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <strong>Les «&nbsp;livrets de la France insoumise&nbsp;» complètent l’<em>Avenir en commun</em></strong>,
          le programme de la France insoumise et de son candidat Jean-Luc Mélenchon. Il est également consultable
          gratuitement sur <a href="https://laec.fr">laec.fr</a>.</p>

        <p><strong>Les livrets abordent une variété de sujets qui donneront à la France son nouveau visage et
          l’inscriront différemment dans le monde</strong>. Chaque livret expose les enjeux du sujet et dessine
          les perspectives d’une révolution citoyenne dont notre pays a tant besoin. Chaque livret présente
          aussi les mesures nécessaires pour y arriver. Le tout a été chaque fois le fruit d’un travail collectif
          et coordonné.</p>

        <p><strong>La collection des livrets de la France insoumise</strong> est consultable sur le site du
          programme <a href="https://avenirencommun.fr/livrets-thematiques/">avenirencommun.fr</a>.</p>
      </div>
    </div>
  </div>

  {% if groups %}
    <div>
      <hr>
      {% for group in groups %}
        <div class="row">
          <div class="col-md-4">
            {% if group.image %}
              <img src="{{ group.image.thumbnail.url }}" class="img-responsive">
            {% else %}
              <img src="{% static default_image %}" class="img-responsive">
            {% endif %}
          </div>
          <div class="col-md-8">
            <h4><a href="{% url "view_group" group.pk %}">{{ group.name }}</a></h4>
            <div>{{ group.html_description }}</div>
          </div>
        </div>
        <hr/>
      {% endfor %}
    </div>
  {% else %}
    <div class="lead text-center">
      Pas d'équipe thématique enregistrée...
    </div>
  {% endif %}
{% endblock %}
