{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Transfert de membres de «&nbsp;{{ supportgroup.name }}&nbsp;»{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "view_group_settings_members" supportgroup.pk %}">
        <i class="fa fa-arrow-left"></i>&emsp;Retour à la page du groupe
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12 col-md-2 margintopmore"></div>
  <div class="col-xs-12 col-md-8 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <h4 class="padbottom">Transférer mes membres vers un autre groupe</h4>
    <p>
      Depuis cette page, vous pouvez transférer des membres de <strong>{{ supportgroup.name }}</strong> vers un autre groupe.
    </p>
    <p>
      Pour ce faire, commencez par proposez à vos membres de créer un nouveau groupe. Une fois le nouveau groupe créé, sélectionnez les membres dans la liste que vous souhaitez transférer et validez le transfert.
    </p>
    <p>
      <a href="https://infos.actionpopulaire.fr/nombre-ideal-division/">En savoir plus sur la division des groupes &rarr;</a>
    </p>
    <div class="padtop padbottom">
      {% crispy form %}
    </div>
  </div>
</div>
{% endblock %}
