{% extends "front/layout.html" %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .payment-title {
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.5;
    }
    .payment-description {
      border-radius: 0.5rem;
      padding: 1.5rem;
      margin: 1rem -1.5rem 2rem;
      background-color: #fcfbd9;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      gap: 1rem;
    }
    .payment-description > * {
      margin: 0;
    }
    .check-details {
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem 0;
      background-color: #eeeeee;
    }
    .check-details strong {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.5rem;
    }
    .payment-warning {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem 0;
      background-color: #FDECEE;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="col-responsive">
    <h1 class="payment-title">
      Je donne {{ payment.get_price_display }} par chèque
    </h1>

    <div class="payment-description">
      {{ payment.description }}
    </div>

    <div>
      <p>
        Pour valider le paiement, il ne vous reste maintenant qu'à <strong>remplir
        puis envoyer le chèque par courrier</strong>.
      </p>

      <div class="check-details">
        Ordre&nbsp;: <strong>{{ order }}</strong><br />
        Montant&nbsp;: <strong>{{ payment.get_price_display }}</strong><br />
        Numéro à inscrire au dos du chèque&nbsp;: <strong style="font-size: 1.5rem;">{{ payment.id }}</strong>
      </div>

      <div style="margin: 1rem 0;">
        {% include "checks/includes/check.html" %}
      </div>

      <p class="margintopmore">
        L'<strong>adresse postale</strong> à laquelle envoyer le chèque est la suivante&nbsp;:
      </p>
      <div class="check-details">
        {{ address }}
      </div>

      <p class="margintopmore">
        {{ additional_information }}
      </p>

      {% if warnings %}
          {% for warning in warnings %}
            <div class="payment-warning">
              <span>⚠</span>
              <span>{{ warning }}</span>
            </div>
          {% endfor %}
      {% endif %}

      <p>
        Pour régler plusieurs transactions avec un seul chèque&nbsp;: transmettez le chèque unique en indiquant bien tous les numéros de commande au dos du chèque.
      </p>

      <p class="text-center margintopmore">
        <a class="btn btn-info" href="{{ next_url }}">
          Terminer
        </a>
      </p>

    </div>
  </div>
{% endblock %}
