{% extends "front/layout.html" %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .payment-title {
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.5;
    }
    .payment-description {
      border-radius: 0.5rem;
      padding: 1.5rem;
      margin: 1rem -1.5rem 2rem;
      background-color: #fcfbd9;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      gap: 1rem;
    }
    .payment-description > * {
      margin: 0;
    }
    .payment-info {
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem 0;
      background-color: #FAFAFA;
    }
    .payment-warning {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem 0;
      background-color: #FDECEE;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="col-responsive">
    <h1 class="payment-title">{{ title }}</h1>

    <div class="payment-description">
      {{ payment.description }}
    </div>

    <div>
      <p>
        Pour valider le paiement, il faut maintenant envoyer le chèque.
      </p>

      <ul>
        <li>Ordre : <strong>{{ order }}</strong></li>
        <li>Montant : <strong>{{ payment.get_price_display }}</strong></li>
        <li>Numéro à inscrire au dos du chèque : <strong>{{ payment.id }}</strong></li>
      </ul>

      <p class="margintopmore">
        Adresse à laquelle envoyer le chèque&nbsp;:
      </p>

      <div class="payment-info">
        {{ address }}
      </div>

      <p>
        {{ additional_information }}
      </p>

      {% if warnings %}
          {% for warning in warnings %}
            <div class="payment-warning">
              <span>⚠</span>
              <span>{{ warning }}</span>
            </div>
          {% endfor %}
      {% endif %}

      <p>
        Pour régler plusieurs transactions avec un seul chèque&nbsp;: transmettez le chèque unique en indiquant bien tous les numéros de commande au dos du chèque.
      </p>

      <p class="text-center margintopmore">
        <a class="btn btn-info" href="{{ next_url }}">
          Terminer
        </a>
      </p>

    </div>
  </div>
{% endblock %}
