{% extends "donations/personal_information.html" %}

{% load display_lib %}

{% block donation_headline %}
	Mon prêt à la campagne de Manon Aubry
{% endblock %}

{% block donation_reminder %}
  Je souhaite prêter <strong>{{ amount | display_price_in_cent }}</strong> à la campagne de Manon Aubry
  pour les élections européennes de 2024.

  {{ form.errors }}
{% endblock %}

{% block legal %}
  {% include "europeennes2024/legal_prets.html" %}
{% endblock %}delet file

{% block script %}
  <script>
    var countryOfBirth = document.getElementById("id_country_of_birth");
    var departementOfBirth = document.getElementById("id_departement_of_birth");

    function updateDepartementOfBirth() {
      if (countryOfBirth.value === "FR") {
        departementOfBirth.required = true;
        departementOfBirth.disabled = false;
      } else {
        departementOfBirth.required = false;
        departementOfBirth.disabled = true;
      }

    }

    countryOfBirth.addEventListener("change", updateDepartementOfBirth);
    updateDepartementOfBirth();

  </script>
{% endblock %}
