<h3>Code électoral</h3>
<dl>
  <dt>Article L52-7-1, quatre premiers alinéas</dt>
  <dd>
    <p>
      Les personnes physiques peuvent consentir des prêts à un candidat dès lors que ces prêts ne sont pas effectués à
      titre habituel.
    </p>
    <p>
      La durée de ces prêts ne peut excéder cinq ans. Un décret en Conseil d'Etat fixe le plafond et les conditions
      d'encadrement du prêt consenti pour garantir que ce prêt ne constitue pas un don déguisé.
    </p>
    <p>
      Le candidat bénéficiaire du prêt fournit au prêteur les informations concernant les caractéristiques du prêt
      s'agissant du taux d'intérêt applicable, du montant total du prêt, de sa durée ainsi que de ses modalités et de
      ses
      conditions de remboursement.
    </p>
    <p>
      Le candidat bénéficiaire du prêt informe le prêteur des conséquences liées à la défaillance de l'emprunteur.
    </p>
  </dd>
  <dt>Article R39-2-1</dt>
  <dd>
    <p>
      I.-Les candidats auxquels sont applicables les dispositions de l'article L. 52-7-1 du code électoral peuvent
      emprunter
      auprès de personnes physiques à un taux d'intérêt compris entre zéro et le taux d'intérêt légal en vigueur au
      moment
      du consentement des prêts. Le taux d'intérêt légal est celui applicable aux créances des personnes physiques
      n'agissant pas pour des besoins professionnels. Ces prêts sont consentis aux conditions suivantes :
    </p>
    <ol>
      <li>La durée de chaque prêt est inférieure ou égale à 18 mois ;</li>
      <li>Le montant total dû par le candidat à des personnes physiques est inférieur ou égal à 47,5 % du plafond de
      remboursement forfaitaire des dépenses de campagne mentionné à l' article L. 52-11-1 du code électoral ;</li>
      </ol>
  </dd>
  <dt>Article L113-1</dt>
  <dd>
    <p>
      III. – Sera puni de trois ans d'emprisonnement et de 45 000 € d'amende quiconque aura, en vue d'une campagne
      électorale, accordé un don ou un prêt en violation des articles L. 52-7-1 et L. 52-8.
    </p>
  </dd>
</dl>
