<h3>Code électoral</h3>
<dl>
  <dt>Article L52-8, deux premiers alinéas</dt>
  <dd>
    <p>
      Une personne physique peut verser un don à un candidat si elle est de nationalité française ou si elle réside en
      France. Les dons consentis par une personne physique dûment identifiée pour le financement de la campagne d'un ou
      plusieurs candidats lors des mêmes élections ne peuvent excéder 4 600 euros.
    </p>
    <p>
      Les personnes morales, à l'exception des partis ou groupements politiques, ne peuvent participer au financement de
      la campagne électorale d'un candidat, ni en lui consentant des dons sous quelque forme que ce soit, ni en lui
      fournissant des biens, services ou autres avantages directs ou indirects à des prix inférieurs à ceux qui sont
      habituellement pratiqués.Les personnes morales, à l'exception des partis et groupements politiques ainsi que des
      établissements de crédit ou sociétés de financement ayant leur siège social dans un Etat membre de l'Union
      européenne ou partie à l'accord sur l'Espace économique européen, ne peuvent ni consentir des prêts à un candidat,
      ni lui apporter leur garantie pour l'obtention de prêts.
    </p>
  </dd>
  <dt>Article L113-1, III</dt>
  <dd>
    Sera puni de trois ans d'emprisonnement et de 45 000 € d'amende quiconque aura, en vue d'une campagne électorale, accordé un don ou un prêt en violation des articles L. 52-7-1 et L. 52-8.

    Lorsque le donateur ou le prêteur sera une personne morale, le premier alinéa du présent III sera applicable à ses dirigeants de droit ou de fait.
  </dd>

  </dd>
</dl>
