{% extends "front/layout.html" %}
{% load static %}

{% block title %}
  Annuler votre paiement automatique
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "list_events" %}">
        <i class="fa fa-arrow-left"></i>&emsp;Retour à l'accueil
      </a>
    </div>
    <div class="pull-right">
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="PAYMENTS" %} {% endblock %}
  <div class="col-xs-12 col-md-9 margintopmore">
    {% include "people/profile/profile_title.html" with tab_code="PAYMENTS" %}
    <div class="padtop padbottom">
      <p>
        Voulez-vous vraiment mettre fin à ce paiement automatique&nbsp;?
      </p>
      <p>
        {{ subscription.description }}
      </p>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="padtop col-md-6">
          <button type="submit" class="btn btn-block btn-primary">
            Mettre fin au paiement
          </button>
        </div>
        <div class="padtop col-md-4">
          <a class="btn btn-block btn-info" href="{% url 'view_payments' %}">Annuler</a>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
