{% extends "front/layout.html" %}
{% load static %}

{% block title %}
  Annuler votre paiement automatique
{% endblock %}

{% block main %}
<div class="row">
  {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="PAYMENTS" %} {% endblock %}
  <div class="col-xs-12 col-md-9 margintopmore">
    {% include "people/profile/profile_title.html" with tab_code="PAYMENTS" %}
    <div class="padtop padbottom">
      <p>
        Voulez-vous vraiment mettre fin à ce paiement automatique&nbsp;?
      </p>
      <p>
        {{ subscription.description }}
      </p>
    </div>
    <form method="post" class=" row padtop padbottom">
      {% csrf_token %}
      <div class="col-xs-12 col-sm-5 marginbottom">
        <a class="btn btn-block btn-default" href="{% url 'view_payments' %}">
          Retour à la liste de mes paiements
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 marginbottom">
        <button type="submit" class="btn btn-block btn-primary">
          Mettre fin au paiement
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
