@font-face {
  font-family: "Poppins";
  src: url("Poppins-BoldItalic.eot");
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-BoldItalic.woff2") format("woff2"),
    url("Poppins-BoldItalic.woff") format("woff"),
    url("Poppins-BoldItalic.ttf") format("truetype"),
    url("Poppins-BoldItalic.svg#Poppins-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-LightItalic.eot");
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"),
    url("Poppins-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-LightItalic.woff2") format("woff2"),
    url("Poppins-LightItalic.woff") format("woff"),
    url("Poppins-LightItalic.ttf") format("truetype"),
    url("Poppins-LightItalic.svg#Poppins-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"),
    url("Poppins-Light.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Light.woff2") format("woff2"),
    url("Poppins-Light.woff") format("woff"),
    url("Poppins-Light.ttf") format("truetype"),
    url("Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Poppins-SemiBold.woff2") format("woff2"),
    url("Poppins-SemiBold.woff") format("woff"),
    url("Poppins-SemiBold.ttf") format("truetype"),
    url("Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.ttf") format("truetype"),
    url("Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Medium.woff2") format("woff2"),
    url("Poppins-Medium.woff") format("woff"),
    url("Poppins-Medium.ttf") format("truetype"),
    url("Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBoldItalic.eot");
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("Poppins-SemiBoldItalic.woff") format("woff"),
    url("Poppins-SemiBoldItalic.ttf") format("truetype"),
    url("Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-MediumItalic.eot");
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"),
    url("Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-MediumItalic.woff2") format("woff2"),
    url("Poppins-MediumItalic.woff") format("woff"),
    url("Poppins-MediumItalic.ttf") format("truetype"),
    url("Poppins-MediumItalic.svg#Poppins-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Italic.eot");
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("Poppins-Italic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Italic.woff2") format("woff2"),
    url("Poppins-Italic.woff") format("woff"),
    url("Poppins-Italic.ttf") format("truetype"),
    url("Poppins-Italic.svg#Poppins-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Bold.woff2") format("woff2"),
    url("Poppins-Bold.woff") format("woff"),
    url("Poppins-Bold.ttf") format("truetype"),
    url("Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
