{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ poll.title }}{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    .form-group {
      margin-top: 2rem;
    }
    label + .controls {
      padding-left: 0.5rem;
    }
    .help-block strong {
      font-weight: 500;
    }
  </style>
{% endblock %}

{% block main_column %}
  <h2 class="headline">{{ poll.title }}</h2>
  {% if not is_authorized %}
    <div class="col-xs-12 col-md-8 intro">
      {{ poll.html_unauthorized_message }}
    </div>
  {% elif already_voted %}
    <p>{{ poll.html_description }}</p>
    <div class="alert alert-info">
      Vous avez bien participé à cette consultation&nbsp;! Votre identifiant unique et anonyme est le
      <strong>{{ anonymous_id }}</strong>. Lors de la publication des résultats, vous pourrez vous
      en servir pour vérifier que votre vote a bien été pris en compte.
    </div>
    <p>
    {{ poll.html_confirmation_note }}
    </p>
  {% else %}
    <p>{{ poll.html_description }}</p>
    {% crispy form %}
  {% endif %}
{% endblock %}
