{% extends "donations/ask_amount.html" %}
{% load static %}

{% block title %}
  J'aide la campagne européenne
{% endblock %}

{% block background_url %}{% static "europeennes/dons_europeennes_bg.jpg" %}{% endblock %}

{% block donation_intro %}
    <p>Pour financer les dépenses liées à l’organisation la campagne pour les élections européennes du 26 mai 2019,
      nous avons besoin du soutien financier de chacun.e d’entre vous. Sur cette page, vous pouvez
      faire un don à l'Association de Financement de la Campagne Européenne de la liste soutenue par la France insoumise
      du montant de votre choix par carte de crédit.</p>
    <p>Un reçu détachée d'une formule numérotée éditée par la Commission nationale des comptes de campagne,
      vous sera adressé et vous permettra de déduire cette somme de vos impôts
        sur le revenu, dans les limites fixées par la loi. Votre don donne droit à une réduction d’impôt de 66%
        des sommes versées dans la limité de 20% du revenu imposable. <strong>Attention : il s'agit d'une
            réduction d'impôt, et non d'un crédit d'impôt. Vous ne pouvez en faire usage que si vous payez des
            impôts sur le revenu.</strong></p>
{% endblock %}

{% block donation_dest %}la campagne européenne{% endblock %}

{% block legal %}
  {% include "europeennes/legal.html" %}
{% endblock %}

