<h5>Extraits de l'article L. 52-8 du Code électoral</h5>
<p>Une personne physique peut verser un don à un candidat si elle est de nationalité française ou si elle réside en
  France. Les dons consentis par une personne physique dûment identifiée pour le financement de la campagne d'un ou
  plusieurs candidats lors des mêmes élections ne peuvent excéder 4 600 euros.</p>

<p>Les personnes morales, à l'exception des partis ou groupements politiques, ne peuvent participer au financement de la
  campagne électorale d'un candidat, ni en lui consentant des dons sous quelque forme que ce soit, ni en lui fournissant
  des biens, services ou autres avantages directs ou indirects à des prix inférieurs à ceux qui sont habituellement
  pratiqués. [...]</p>

<p>Tout don de plus de 150 euros consenti à un candidat en vue de sa campagne doit être versé par chèque, virement,
  prélèvement automatique ou carte bancaire.</p>

<p>Le montant global des dons en espèces faits au candidat ne peut excéder 20 % du montant des dépenses autorisées
  lorsque ce montant est égal ou supérieur à 15 000 euros en application de l'article L. 52-11.</p>

<p style="font-style: italic; margin-top: 2em;">
  L’AFCE LFI 2019 (Association de Financement de la Campagne Européenne de la liste soutenue par La France
  Insoumise 2019), déclarée à la Sous-Préfecture de Palaiseau le 8 novembre 2018 sous le numéro W9130011929, est
  la seule habilitée à recevoir les dons en faveur de la liste soutenue par La France Insoumise, conformément à
  l’article L52-9 du code électoral.
</p>
