{% extends "donations/ask_amount.html" %}
{% load static %}

{% block title %}
  Je prête à la campagne européenne
{% endblock %}

{% block background_url %}{% static "europeennes/dons_europeennes_bg.jpg" %}{% endblock %}

{% block donation_intro %}
    <p>Pour financer les dépenses liées à l’organisation la campagne pour les élections européennes du 26 mai 2019,
      nous avons besoin du soutien financier de chacun.e d’entre vous. Sur cette page, vous pouvez
      faire un prêt à l'Association de Financement de la Campagne Européenne de la liste soutenue par la France insoumise
      du montant de votre choix par carte de crédit.</p>
  <div class="row">
    <div class="col-sm-4">
      <div style="text-align: center"><span class="fa fa-5x fa-credit-card"></span></div>
      <h4>Je prête aujourd'hui</h4>
      <p>Je signe le contrat et met à disposition l'argent en utilisant ma carte bleue. J'indique l'IBAN du compte en banque où je souhaite être remboursé.</p>
    </div>
    <div class="col-sm-4">
      <div class="img-responsive" style="text-align: center"><span class="fa fa-5x fa-comments"></span></div>
      <h4>Mon argent est utile dès maintenant</h4>
      <p>Il servira à financer le déroulement de la campagne européenne de la France insoumise</p>
    </div>
    <div class="col-sm-4 ">
      <div class="img-responsive" style="text-align: center"><span class="fa fa-5x fa-undo"></span></div>
      <h4>Je suis remboursé après la campagne</h4>
      <p>Nous vous rembourserons dès que nous aurons reçu le remboursement de la campagne, au plus tard le 28/02/2020.</p>
    </div>
    <p style="clear:both;">Si vous souhaitez financer la campagne européenne, il est aussi possible de <a href="{% url "europeennes_donation_amount" %}">faire un don !</a></p>

  </div>

{% endblock %}

{% block donation_dest %}Je fais un prêt à la campagne européenne{% endblock %}

{% block legal %}{% include "europeennes/loans/legal.html" %}{% endblock %}
