<p><strong>Loi 88-227 du 11 mars 1988</strong></p>
<p><em>Article 11-3-1, quatre premiers alinéas</em> :
  Les personnes physiques peuvent consentir des prêts aux partis ou groupements politiques dès lors que ces prêts ne
  sont pas effectués à titre habituel.
  La durée de ces prêts ne peut excéder cinq ans. Un décret en Conseil d'Etat fixe le plafond et les conditions
  d'encadrement du prêt consenti pour garantir que ce prêt ne constitue pas un don déguisé.
  Le parti ou groupement politique fournit au prêteur les informations concernant les caractéristiques du prêt
  s'agissant du taux d'intérêt applicable, du montant total du prêt, de sa durée ainsi que de ses modalités et de ses
  conditions de remboursement.
  Le parti ou groupement politique informe le prêteur des conséquences liées à la défaillance de l'emprunteur.
</p>
<p>
  <em>Article 11-5, premier alinéa</em> :
  les personnes qui ont versé un don ou consenti un prêt à un ou plusieurs partis ou groupements politiques en violation des articles 11-3-1 et 11-4 sont punies de trois ans d'emprisonnement et de 45 000 € d'amende.
</p>
