{% load i18n humanize %}

<style>
  @keyframes load {
    from {
      background-size: 0%;
    }
    to {
      background-size: 100%;
    }
  }

  :root {
    --r: 0;
  }

  table.stats {
    table-layout: fixed;
    width: 100%;
  }

  table.stats tr {
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, #b4ffdb 0%, #d9ffed var(--r), rgba(255, 255, 255, 0) var(--r)) no-repeat;
    background-blend-mode: difference;
    animation: load 2s ease-out;
  }

  table.stats th,
  table.stats td {
    font-size: 1rem;
    line-height: 1.5;
    font-variant-numeric: tabular-nums;
  }

  table.stats th {
    width: 40%;
    font-weight: 500;
    vertical-align: middle;
  }

  table.stats th em {
    font-style: normal;
    font-weight: 700;
  }

  table.stats th[colspan="2"] {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #16a460;
    color: white;
  }

  table.stats td {
    width: 60%;
    font-weight: 600;
  }

  table.stats meter {
    width: 100%;
  }

  @media (max-width: 992px) {
    table.stats th,
    table.stats td {
      width: auto;
    }

    table.stats td {
      text-align: right;
    }
  }
</style>

<table class="stats">
  <tr>
    <th>Total</th>
    <td>{{ statistics.total }}</td>
  </tr>
  {% with total=statistics.total %}
    <tr>
      <th colspan="2">Types</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.is_2022 label="Signataires <em>Mélenchon 2022</em>" %}
    {% include "./statistics_row.html" with value=statistics.is_insoumise label="Signataires <em>La France insoumise</em>" %}
    {% include "./statistics_row.html" with value=statistics.liaisons label="Correspondants d'immeuble" %}
    {% include "./statistics_row.html" with value=statistics.contacts label="Contacts" %}
    {% include "./statistics_row.html" with value=statistics.elected_representatives label="Élu·es" %}
    <tr>
      <th colspan="2">Groupes d'action</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.group_members label="Membres de groupe d'action" %}
    {% include "./statistics_row.html" with value=statistics.certified_group_members label="Membres de groupe d'action certifié" %}
    {% include "./statistics_row.html" with value=statistics.group_referents label="Animateur·ices de groupe d'action" %}
    <tr>
      <th colspan="2">Dons</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.is_2022_donors label="Donateur·ices à <em>Mélenchon 2022</em>" %}
    {% include "./statistics_row.html" with value=statistics.is_insoumise_donors label="Donateur·ices à <em>La France insoumise</em>" %}
    <tr>
      <th colspan="2">Âge</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.known_birthdates label="Dates de naissance renseignées" %}
    {% if statistics.mean_age %}
      <tr style="--r: {% widthratio statistics.mean_age 100 100 %}%">
        <th>Âge moyen</th>
        <td>{{ statistics.mean_age|floatformat:"-1" }}&nbsp;ans</td>
      </tr>
    {% endif %}
    {% if statistics.median_age %}
      <tr style="--r: {% widthratio statistics.median_age 100 100 %}%">
        <th>Âge médian</th>
        <td>{{ statistics.median_age|floatformat:"-1" }}&nbsp;ans</td>
      </tr>
    {% endif %}
    <tr>
      <th colspan="2">Communication</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.newsletter_subscribers label="Inscrit·es à au moins une newsletter" %}
    {% include "./statistics_row.html" with value=statistics.sms_subscribers label="Inscrit·es aux informations par SMS" %}
    {% include "./statistics_row.html" with value=statistics.known_phone_numbers label="Numéros de téléphone renseignés" %}
    {% include "./statistics_row.html" with value=statistics.last_week_connections label="Connecté·es pendant les derniers sept jours" %}
    {% include "./statistics_row.html" with value=statistics.android_users label="Utilisateurs·ices de l'application Android" %}
    {% include "./statistics_row.html" with value=statistics.ios_users label="Utilisateurs·ices de l'application iOS" %}
    <tr>
      <th colspan="2">Codes postaux les plus représentés</th>
    </tr>
    {% for label, value in statistics.zip_codes %}
      {% include "./statistics_row.html" %}
    {% endfor %}
  {% endwith %}
</table>
