{% load i18n humanize %}

<style>
  @keyframes load {
    from {
      background-size: 0%;
    }
    to {
      background-size: 100%;
    }
  }

  :root {
    --r: 0;
  }

  table.stats {
    table-layout: fixed;
    width: 100%;
  }

  table.stats tr {
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, #b4ffdb 0%, #d9ffed var(--r), rgba(255, 255, 255, 0) var(--r)) no-repeat;
    background-blend-mode: difference;
    animation: load 2s ease-out;
  }

  table.stats th,
  table.stats td {
    font-size: 0.875rem;
    line-height: 1.2;
    font-variant-numeric: tabular-nums;
    vertical-align: middle;
    border-color: white;
  }

  table.stats th {
    width: 40%;
    font-weight: 500;
  }

  table.stats th em {
    font-style: normal;
    font-weight: 700;
  }

  table.stats th[colspan="2"] {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #16a460;
    color: white;
    font-weight: 700;
  }

  table.stats td {
    width: 60%;
    font-weight: 600;
    text-align: right;
  }

  table.stats td > span {
    display: flex;
    gap: 1rem;
  }

  table.stats td > span > span {
    flex: 0 0 50px;
  }

  table.stats td > span > meter {
    flex: 1 1 auto;
  }

  table.stats meter {
    width: 100%;
  }

  @media (max-width: 992px) {
    table.stats th,
    table.stats td {
      width: auto;
    }

    table.stats td > span {
      display: inline;
    }

    table.stats td > span > meter {
      display: none;
    }
  }
</style>

<table class="stats">
  <tr>
    <th>Total</th>
    <td>{{ statistics.total }}</td>
  </tr>
  {% if statistics.total > 0 %}
  {% with total=statistics.total %}
    <tr>
      <th colspan="2">Types</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.is_political_support label="Soutiens politiques de la France insoumise" %}
    {% include "./statistics_row.html" with value=statistics.liaisons label="Correspondants d'immeuble" %}
    {% include "./statistics_row.html" with value=statistics.contacts label="Contacts" %}
    <tr>
      <th colspan="2">Groupes d'action</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.group_members label="Membres de groupe d'action" %}
    {% include "./statistics_row.html" with value=statistics.certified_group_members label="Membres de groupe d'action certifié" %}
    {% include "./statistics_row.html" with value=statistics.group_referents label="Animateur·ices de groupe d'action" %}
    {% include "./statistics_row.html" with value=statistics.person_groups total=statistics.groups label="Nombre de groupes d'actions" %}
    <tr>
      <th colspan="2">Dons</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.is_2022_donors label="Donateur·ices à <em>Mélenchon 2022</em>" %}
    {% include "./statistics_row.html" with value=statistics.is_insoumise_donors label="Donateur·ices à <em>La France insoumise</em>" %}
    <tr>
      <th colspan="2">Âge</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.ages|length label="Dates de naissance renseignées" %}
    {% if statistics.mean_age %}
      {% include "./statistics_row.html" with value=statistics.mean_age label="Âge moyen" total=100 no_meter=True unit="ans" %}
    {% endif %}
    {% if statistics.median_age %}
      {% include "./statistics_row.html" with value=statistics.median_age label="Âge médian" total=100 no_meter=True unit="ans" %}
    {% endif %}
    {% if statistics.age_pyramid %}
      {% for label, value in statistics.age_pyramid %}
        {% include "./statistics_row.html" with total=statistics.ages|length %}
      {% endfor %}
    {% endif %}
    <tr>
      <th colspan="2">Genre</th>
    </tr>
    {% for label, value in statistics.genders|dictsortreversed:1 %}
      {% include "./statistics_row.html" %}
    {% endfor %}
    <tr>
      <th colspan="2">Communication</th>
    </tr>
    {% include "./statistics_row.html" with value=statistics.newsletter_subscribers label="Inscrit·es à au moins une newsletter" %}
    {% include "./statistics_row.html" with value=statistics.sms_subscribers label="Inscrit·es aux informations par SMS" %}
    {% include "./statistics_row.html" with value=statistics.known_phone_numbers label="Numéros de téléphone renseignés" %}
    {% include "./statistics_row.html" with value=statistics.last_week_connections label="Connecté·es pendant les derniers sept jours" %}
    {% include "./statistics_row.html" with value=statistics.android_users label="Utilisateurs·ices de l'application Android" %}
    {% include "./statistics_row.html" with value=statistics.ios_users label="Utilisateurs·ices de l'application iOS" %}
    {% if statistics.departements|length > 0 %}
      <tr>
        <th colspan="2">Départements les plus représentés</th>
      </tr>
      {% for label, value in statistics.departements.items|dictsortreversed:1|slice:":10" %}
        {% include "./statistics_row.html" %}
      {% endfor %}
    {% endif %}
    {% if statistics.zip_codes|length > 0 %}
      <tr>
        <th colspan="2">Codes postaux les plus représentés</th>
      </tr>
      {% for label, value in statistics.zip_codes.items|dictsortreversed:1|slice:":10" %}
        {% include "./statistics_row.html" %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% endif %}
</table>
