{% extends email_template %}

{% block subject %}
  Aidez-nous. Rejoignez l'action !
{% endblock %}

{% block header %}{% endblock %}

{% block logo %}{% with logo="LFI" %}{{ block.super }}{% endwith %}{% endblock %}

{% block html_content %}
  <p>{{ greetings }}</p>

  <p style="margin-top: 2rem;font-weight: bold;">
    Vous venez de rejoindre la France insoumise. Bienvenue !
  </p>

  <p style="margin-top: 2rem;">
    <strong>
      Il y a quelques jours, vous avez fait le choix de rejoindre la France insoumise. Encore une fois, nous vous en
      remercions !
    </strong>
  </p>

  <p style="margin-top: 2rem;">
    Être à la France insoumise recouvre plusieurs formes d’implications. Cela commence par défendre nos propositions
    en repas de famille jusqu’à militer activement dans l’un des 4 500 groupes d’action locaux !
  </p>

  <p style="margin-top: 2rem;">
    Si vous souhaitez vous impliquer, vous pouvez rejoindre un groupe d’action près de chez vous et retrouver toutes
    leurs actions sur <a href="{{ FRONT_DOMAIN }}?{{ MERGE_LOGIN }}">Action populaire, notre réseau social d’action</a>.
  </p>

  <p style="text-align: center;margin-top: 2rem;">
    <a href="{{ FRONT_DOMAIN }}{% url "group_map_page" %}?{{ MERGE_LOGIN }}" style="box-sizing: border-box; display: inline-block; width: 100%; max-width: 400px; text-decoration: none; color: #FFFFFF; font-weight: bold; padding: 1rem; background-color: #3F2682; font-size: 1rem;">
      Retrouver les groupes près de chez moi
    </a>
    <br/>
    <br/>
    <a href="{{ FRONT_DOMAIN }}{% url "event_map_page" %}?{{ MERGE_LOGIN }}" style="box-sizing: border-box; display: inline-block; width: 100%; max-width: 400px; text-decoration: none; color: #FFFFFF; font-weight: bold; padding: 1rem; background-color: #F53B3B; font-size: 1rem;">
      Retrouver les événements près de chez moi
    </a>
  </p>

  <p style="margin-top: 2rem;">
    Vous ne savez pas par où commencer ? N’ayez pas peur ! Vous pouvez consulter la documentation du
    <a href="https://info.actionpopulaire.fr/">Centre d’aide</a> (fiches pratiques, livret de l’animateur·rice…) et
    prendre contact avec les insoumis·es localement ! Un livret d’accueil est également disponible pour vous guider.
  </p>

  <p style="text-align: center;margin-top: 1rem;">
    <a href="https://infos.actionpopulaire.fr/livret-accueil.pdf" style="margin: 0.5rem 0.25rem; box-sizing: border-box; display: inline-block; width: 196px; text-decoration: none; color: #FFFFFF; font-weight: bold; padding: 1rem; background-color: #571aff; font-size: 1rem;">
      Livret d'accueil
    </a><a href="https://info.actionpopulaire.fr/" style="margin: 0.5rem 0.25rem 0; box-sizing: border-box; display: inline-block; width: 196px; text-decoration: none; color: #000a2c; font-weight: bold; padding: 1rem; background-color: #f4ed0f; font-size: 1rem;">
      Centre d'aide
    </a>
  </p>

  <p style="margin-top: 2rem;">Amitiés<br><br>La France insoumise.</p>
{% endblock %}

{% block app_banner %}{% with app_banner=True %}{{ block.super }}{% endwith %}{% endblock %}

{% block html_footer %}{% endblock %}
