{% extends email_template %}

{% block subject %}
  Faites un don à la France insoumise !
{% endblock %}

{% block header %}{% endblock %}

{% block logo %}{% with logo="LFI" %}{{ block.super }}{% endwith %}{% endblock %}

{% block html_content %}
  <p>{{ greetings }}</p>

  <p style="margin-top: 2rem;">
    <strong>
      Il y a quelques jours, vous avez fait le choix de rejoindre la France insoumise. Encore une fois, nous vous en
      remercions !
    </strong>
  </p>

  <p style="margin-top: 2rem;">
    <strong>Comme vous le savez peut-être, la France insoumise est un mouvement de manière à être le plus ouvert
    possible sur la société.</strong> Cela signifie qu’elle vit grâce aux financements publics de l’État (calculés en
    fonction des résultats du premier tour des élections législatives), aux réversions de ses élu·es et aux dons
    qu’elle perçoit. Mais contrairement aux partis politiques traditionnels, il n’y a pas de cotisations des
    militant·es au sein de la France insoumise.
  </p>

  <p style="margin-top: 2rem;">
    <strong>
      Pour pouvoir fonctionner et se développer, la France insoumise a toutefois besoin d’argent, car les financements
      de l’État ne lui suffisent pas.
    </strong>
  </p>

  <p style="margin-top: 2rem;">
    <strong>Pour nous aider, vous pouvez contribuer à notre réussite en faisant un don, même d’un euro !</strong> Si
    vous êtes imposables, ces dons ouvrent droit à une réduction fiscale à hauteur de 66 % du montant du don pour les
    personnes assujetties à l’impôt sur le revenu. Ainsi, pour 10 € de dons, vous pourrez déduire 6,60 € de vos impôts.
    Pour encore plus nous aider, vous pouvez vous engager à faire un don chaque mois jusqu’à la fin de l’année civile
    en devenant financeur·euse.
  </p>

  <p style="text-align: center;margin-top: 2rem;">
    <a href="{{ FRONT_DOMAIN }}{% url "donation_landing_page" %}?{{ MERGE_LOGIN }}" style="box-sizing: border-box; display: inline-block; width: 100%; max-width: 400px; text-decoration: none; color: #FFFFFF; font-weight: bold; padding: 1rem; background-color: #3F2682; font-size: 1rem;">
      Je fais un don pour aider le mouvement
    </a>
  </p>

  <p style="margin-top: 2rem;">En vous remerciant par avance,<br><br>Amitiés<br><br>La France insoumise.</p>
{% endblock %}

{% block html_footer %}{% endblock %}
