@import url("https://use.typekit.net/teu2xsh.css");
@import "../../../../node_modules/normalize.css";


* {
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}