@import "../../../../node_modules/normalize.css";


* {
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.progress {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

.progress h2 {
    margin: 0 0 8px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:empty {
        display: none;
    }
}

.progress .bar {
    width: 100%;
    position: relative;

    & > .fill {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 0;

        background: #ff2e20;
        will-change: width;
    }

    & > .text {
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        font-size: 80px;
        padding: 0 16px;

        @media (max-width: 700px) {
            font-size: 48px;
        }
    }
}