{% extends "front/layout.html" %}
{% load static %}

{% block title %}
    Problème d'identification de votre paiement
{% endblock %}

{% block main %}
    <div class="col-responsive">
        <h1>Problème d'identification de votre paiement</h1>

        <div>
            Nous n'avons pas pu établir si votre paiement a été correctement enregistré ou non. Il n'y a probablement
            pas de problème, et même dans le pire des cas, les données ne sont pas perdues.
            Si vous avez un doute, <a href="https://lafranceinsoumise.fr/formulaire-de-contact/">n'hésitez pas à nous contacter</a>.
        </div>
    </div>
{% endblock %}
