{% extends "front/layout.html" %}
{% load static %}

{% block title %}
  Succès du paiement
{% endblock %}

{% block main %}
  <div class="col-responsive">
    <h1>Votre paiement est un succès</h1>

    <div>
      Votre paiement est un succès, mais nous n'avons pas réussi à identifier de quel paiement il s'agit, ce qui
      nous empêche de vous montrer le message correspondant à votre transaction. Vous avez probablement reçu une
      confirmation par email. Si vous avez un doute,
      <a href="https://lafranceinsoumise.fr/formulaire-de-contact/">n'hésitez pas à nous contacter</a>.
    </div>
  </div>
{% endblock %}
