<!doctype html>
<html>
<head>
  <!--
    resolve sentry.io and matomo DNS and do TLS+TCP handshakes so the first requests are faster
  -->
  <link rel="preconnect" href="https://sentry.io">
  <link rel="preconnect" href="https://matomo.lafranceinsoumise.fr">
</head>
<body>
<form action="{{ form.form_action }}" method="post" id="payment-form">
  {{ form }}
</form>
<script>
  var _paq = window._paq = window._paq || [];
  {% if user.is_authenticated %}
  _paq.push(['setUserId', '{{ user.person.id }}']);
  {% else %}
  _paq.push(['resetUserId']);
  {% endif %}
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.lafranceinsoumise.fr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '10']);
    {% if matomo_goal %}
      _paq.push(['trackGoal', {{ matomo_goal }}, {{ form.vads_amount.value }} / 100]);
    {% endif %}
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
  {% block matomo_extra_tracking %}{% endblock %}
</script>
<script>
  setTimeout(function() {document.getElementById('payment-form').submit()}, 500);
</script>
</body>
</html>
