{% extends "front/layout.html" %}
{% load static %}

{% block title %}
  La procédure de mise en place de votre paiement mensuel a échoué
{% endblock %}

{% block main %}
  <div class="col-responsive">
    {% if status == "error" %}
      <h1>Erreur lors de la mise en place de votre paiement mensuel</h1>

      <div>
        Notre banque a rencontré une erreur inconnue en traitant notre demande d'autorisation pour votre paiement
        mensuel. Vous pouvez tenter de retenter votre paiement, ou <a
              href="https://lafranceinsoumise.fr/formulaire-de-contact/formulaire-de-signalement-derreurs/">nous
        contacter directement</a> si cela se reproduit.
      </div>

    {% elif status == "refused" %}
      <h1>Paiement refusé</h1>
      <div>
        Votre banque a refusé la mise en place du paiement mensuel. Vous pouvez retenter le paiement, mais si cela
        se reproduit, il faudra contacter votre banque ou utiliser un autre moyen de paiement.
      </div>

    {% else %}
      <h1>Vous avez annulé la mise en place de votre paiement mensuel</h1>
      <div>
        <p>Vous avez annulé la mise en place de votre paiement mensuel. Votre carte ne sera pas débitée.</p>
        <p>Si vous ne souhaitiez pas annuler, vous pouvez relancer la procédure.</p>
      </div>
      <a class="btn btn-primary" href="{{ retry_url }}">Relancer le paiement</a>
    {% endif %}
  </div>
{% endblock %}
