{% extends email_template %}

{% block subject %}
  {{ subject }}
{% endblock %}

{% block html_content %}
  <p>{{ greetings|safe }}</p>

  {{ body }}

  <div bgcolor="#EEEEEE" style="margin: 16px 0; padding: 24px; background:#EEEEEE; border-radius:8px;">
    <table cellpadding="0" border="0" align="center" cellspacing="0" class="mobile-full">
      <tbody>
        <tr>
          <td width="auto" valign="middle" align="center"  style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000A2C; font-weight: bold; padding-left: 14px; padding-right: 14px; border-radius: 5px;">
            <h3 style="text-align:center;margin-top:0;">
              <a href="{{ event_page_link }}" style="color:#571aff;color:#571aff;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://agir-preprod.franceinsoumise.org/evenements/7223f75c-094c-42c3-994f-db9ef65bd81d/&amp;source=gmail&amp;ust=1677323837259000&amp;usg=AOvVaw1bQNLXjHLTrRGI2isN_tOA">
                {{ event.name }}
              </a>
            </h3>
            <p style="margin:1em 0px;margin-bottom:0px;text-align:center">
              {{ event.get_display_date }}
              <br>
              {{ event.location_name }}
              <br>
              {{ event.short_address }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <br />

    <table cellpadding="0" border="0" align="center" cellspacing="0" class="mobile-full">
      <tbody>
        <tr>
          <td width="auto" valign="middle" bgcolor="#F4ED0F" align="center" height="50"
            style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #000A2C; font-weight: bold; padding-left: 14px; padding-right: 14px; background-color: #F4ED0F; border-radius: 5px;">
            <a target="_new" href="{{ event_page_link }}" style="text-decoration: none; color: #000A2C; font-weight: bold;">
              Voir l'événement
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {% if speakers %}
    <div bgcolor="#EEEEEE" style="margin: 16px 0; padding: 24px; background:#EEEEEE; border-radius:8px;">
      <table cellpadding="0" border="0" align="center" cellspacing="0" class="mobile-full">
        <tbody>
          <tr>
            <td width="auto" valign="middle" align="center"  style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000A2C; font-weight: bold; padding-left: 14px; padding-right: 14px; border-radius: 5px;">
              <h3 style="text-align:center;margin:0 0 0.5rem;">
              {% with speaker_count=speakers|length %}
                  Coordonnées {{ speaker_count|pluralize:"de l'intervenant·e,des intervenant·es" }}
              {% endwith %}
              </h3>
              {% for speaker in speakers %}
                <p style="margin:0;text-align:center;font-weight:500;">
                  <strong>{{ speaker.person.get_full_name }}</strong>
                  {% if speaker.description %}
                    <br>
                    {{ speaker.description|capfirst }}
                  {% endif %}
                  <br>
                  <a href="mailto:{{ speaker.person.display_email }}">
                    {{ speaker.person.display_email }}
                  </a>
                </p>
                {% if not forloop.last %}<br />{% endif %}
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if organizer %}
    <div bgcolor="#EEEEEE" style="margin: 16px 0; padding: 24px; background:#EEEEEE; border-radius:8px;">
      <table cellpadding="0" border="0" align="center" cellspacing="0" class="mobile-full">
        <tbody>
          <tr>
            <td width="auto" valign="middle" align="center" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000A2C; font-weight: bold; padding-left: 14px; padding-right: 14px; border-radius: 5px;">
              <h3 style="text-align:center;margin:0 0 0.5rem;">
                Coordonnées de l'organisateur·ice
              </h3>
              <p style="margin:0;text-align:center;font-weight:500;">
                <strong>{{ organizer.person.get_full_name }}</strong>
                <br>
                <a href="mailto:{{ organizer.person.display_email }}">
                  {{ organizer.person.display_email }}
                </a>
                {% if organizer.as_group %}
                  <br>
                  <em>{{ organizer.as_group.name }}<em>
                {% endif %}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
  <p>
    Si vous avez un problème ou une incompréhension, vous pouvez écrire à <a href="mailto:{{ email_from }}">{{ email_from }}</a>.
  </p>
  <p>Amitiés<br>L'équipe d'Action Populaire</p>
{% endblock %}
