{% extends 'donations/personal_information.html' %}
{% load display_lib %}

{% block title %}
  Donnez à la caisse de grève insoumise
{% endblock %}

{% block donation_headline %}
  Mon don à la caisse de grève insoumise
{% endblock %}

{% block donation_reminder %}
  Je souhaite donner <strong>{{  amount | display_price_in_cent }}</strong> à la caisse de grève insoumise.
{% endblock %}

{% block legal %}
  <p>
  Dans le cadre de la caisse de grève insoumise, vous effectuez un don à l'association de financement de la
    France insoumise. <em>La France insoumise</em>, bénéficiaire de votre don, <em>s'engage à reverser l'intégralité des sommes
    collectées au titre de la caisse de grève insoumise à des syndicats</em>.
  </p>
  <p>
  Cela signifie que votre don suit les règles habituelles des dons à une organisation politique :
  </p>
  <ul>
  <li>Vous devez être une personne physique de nationalité française ou résidente fiscale en France ;</li>
  <li>Vous êtes limités à un total de dons annuels de 7 500 € au bénéfice de partis politiques ;</li>
  <li>Votre don ouvre le droit à une réduction d'impôt égale à 66 % de la somme donnée.</li>
  </ul>
  <div style="font-size: small">
    {% include "donations/legal.html" %}
  </div>
{% endblock %}
