{% extends "carte/layout.html" %}

{% block title %}
  Carte des groupes d'appui
{% endblock %}

{% block map_script %}
  {{ type_config|json_script:"typesConfig" }}
  {{ subtype_config|json_script:"subtypesConfig" }}
  {{ bounds|json_script:"boundsConfig" }}
  <script>
    var types = JSON.parse(document.getElementById("typesConfig").textContent);
    var subtypes = JSON.parse(document.getElementById("subtypesConfig").textContent);
    var bounds = JSON.parse(document.getElementById("boundsConfig").textContent);

    window['carte/map'].listMap('map', {
      endpoint: '{% url "carte:group_list" %}{{ querystring }}',
      listType: 'groups',
      types,
      subtypes,
      bounds
    });
  </script>
{% endblock %}
