{% extends "carte/layout.html" %}

{% block title %}
Localisation de l'événement {{ event.name }}
{% endblock %}

{% block map_script %}
    <script>
      var subtype = {{ subtype_config }};
      var coordinates = {{ coordinates }};
      var popupContent = '<a href="{{ FRONT_DOMAIN }}{% url "view_event" event.id %}" style="color:' + subtype.color +
          ';" target="_blank">{{ event.name }}</a><br />{{ event.get_display_date }}';

      window['carte/map'].itemMap('map', coordinates, subtype, popupContent);
    </script>
{% endblock %}
