{% extends "carte/layout.html" %}

{% block title %}
Localisation du groupe {{ group.name }}
{% endblock %}

{% block map_script %}
    <script>
      var subtype = {{ subtype_config }};
      var coordinates = {{ coordinates }};
      var popupContent = '<a href="{{ FRONT_DOMAIN }}{% url "view_group" group.id %}" style="color:' + subtype.color +
          ';" target="_blank">{{ group.name }}</a>';

      window['carte/map'].itemMap('map', coordinates, subtype, popupContent);
    </script>
{% endblock %}
