{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Mes préférences" %}{% endblock %}

{% block main %}
    <h2 class="headline">Mes préférences</h2>
    <div>
        <div class="intro">
            <p>Vous pouvez régler ci-dessous vos préférences concernant les emails que vous recevez
                et votre participation au mouvement.</p>
        </div>
        {% crispy form %}
    </div>
    <hr />
    <h3>Supprimer mon compte</h3>
    <p>Si vous souhaitez complètement supprimer votre compte et que la France insoumise efface toute donnée vous
        concernant, vous pouvez le faire <a href="{%  url 'delete_account' %}">en suivant ce formulaire</a>.</p>
{% endblock %}
