{% load global_urls %}
{% load crispy_forms_tags %}
{% load display_lib %}

<h4>Les animateur⋅rice⋅s et autres gestionnaires du groupe</h4>

<div class="padtop padbottom">
  <h5>Les animateur⋅rices⋅s du groupe</h5>

  <ul class="list-group">
    {% for membership in referents %}
      {% with person=membership.person %}
        <li class="list-group-item list-group-item-success">
          {% if person.first_name and person.last_name %}
            {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
          {% else %}
            {{ person.email }}
          {% endif %}
        </li>
      {% endwith %}
    {% endfor %}
  </ul>

  {% if referents|length == 1 and supportgroup in perms.groups.add_referent_to_supportgroup %}
    <div>
      <p class="alert alert-warning">
        Vous êtes à l'heure actuelle l'unique animatrice ou animateur enregistré de ce groupe.
      </p>
      {% if not supportgroup.is_2022 %}
        <p>
          La charte des groupes d'action de la France insoumise prévoit que les groupes d'action
        </p>
        <blockquote>
          sont animés par deux personnes de genres différents, n’appartenant pas, le cas échéant, toutes les deux
          à une
          même formation politique qui soutient la France insoumise.
        </blockquote>
      {% endif %}
      <p>
        Si vous souhaitez ne plus être animatrice ou animateur de ce groupe, il vous faut d'abord indiquer une autre personne, car un groupe ne peut se trouver sans animation.
      </p>
      <p>
        Vous pouvez nous indiquer ici qui est l'autre animatrice ou animateur au sein du groupe. </p>
      {% crispy add_referent_form %}
    </div>
  {% endif %}
</div>
<hr />

<div class="padtop padbottom">
  <h5>Les autres gestionnaires du groupe</h5>

  {% if not managers %}
    <p class="alert alert-warning">
      Il n'y a pas de membres gestionnaires dans le groupe pour le moment !
    </p>
  {% endif %}

  <p>Les autres gestionnaires ont accès à la liste des membres, peuvent modifier les informations du groupe, et créer des évènements au nom du groupe. Ils peuvent ainsi assister les animateurs pour la gestion technique au quotidien du groupe sur la plateforme.</p>

  {% if managers %}
    <ul class="list-group">
      {% for membership in managers %}
        {% with person=membership.person %}
          <li class="list-group-item list-group-item-info">
            {% if person.first_name and person.last_name %}
              {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
            {% else %}
              {{ person.email }}!
            {% endif %}
            <a href="{% url 'remove_manager' pk=membership.pk %}" aria-label="Retirer ce gestionnaire"> <i
                class="fa fa-remove" aria-hidden="true" title="Retirer ce gestionnaire"></i> </a>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if supportgroup in perms.groups.add_manager_to_supportgroup %}
    <p>Ajouter un membre gestionnaire :</p>
    {% crispy add_manager_form %}
  {% endif %}
</div>
<hr />

{% if not group.is_2022 %}
<div class="padtop padbottom">
  <h5>Autres opérations</h5>
  <div class="row">
    {% if supportgroup in perms.groups.change_group_name %}
      <div class="col-xs-12 marginbottom">
        <a
          class="btn btn-block btn-default"
          href="https://agir.lafranceinsoumise.fr/formulaires/demande-changement-nom-ga/">
          Changer le nom du groupe
        </a>
      </div>
    {% endif %}
    {% if supportgroup in perms.groups.change_supportgroup %}
      <div class="col-xs-12 marginbottom">
        <a
          class="btn btn-block btn-default btn-wrap"
          href="https://agir.lafranceinsoumise.fr/formulaires/demande-changement-animation-ga/">
          Changer l'animation du groupe
        </a>
      </div>
    {% endif %}
    {% if supportgroup in perms.groups.delete_supportgroup %}
      <div class="col-xs-12 marginbottom">
        <a
          class="btn btn-block btn-danger"
          href="https://agir.lafranceinsoumise.fr/formulaires/demande-suppression-ga/">
          Supprimer le groupe
        </a>
      </div>
    {% endif %}
  </div>
</div>
{% endif %}
