{% load global_urls %}
{% load crispy_forms_tags %}
{% load display_lib %}

{% if not supportgroup.is_certified and certifiable %}
  <h4>Certification de votre groupe</h4>

  <p>
    La certification de votre groupe vous permettra d'accéder à du matériel (affiche, tracts, autocollants...)
    gratuit, et d'utiliser les outils de financement pour vos actions.
  </p>

  {% if satisfy_requirements %}
    <p>
      Votre groupe n'est pas encore certifié. Vous pouvez en demander la certification en cliquant sur le bouton
      ci-dessous.
    </p>
    <p class="padtop padbottom">
      <a
        class="btn btn-block btn-primary"
        href="https://lafranceinsoumise.fr/groupes-appui/demande-de-certification/?group-id={{ supportgroup.pk }}&email={{ user.person.email }}&animateur={{ user.person.get_full_name }}">
        Demander la certification
      </a>
    </p>
  {% else %}
    <p>
      Pour pouvoir demander la certification, vous devez nous indiquer l'identité du deuxième animateur du groupe.
      Il doit s'agir d'une personne d'un genre différent, qui n'appartient pas, le cas échéant, à la même
      formation politique.
    </p>
  {% endif %}
{% endif %}
