{% load global_urls %}
{% load crispy_forms_tags %}
{% load display_lib %}


<div class="padtop padbottom">
  <h4>Solliciter des dons pour mon groupe</h4>
  <div>
    Pour solliciter des dons pour votre groupe, vous pouvez utiliser le lien ci-dessous.

    <div class="form-inline">
      <div class="form-group">
        <label for="donation_link">Le lien de don pour mon groupe :</label>
        <div class="input-group">
          <input id="donation_link" class="form-control copybox" size="40" type="text" value="{% front_url "donation_amount" %}?group={{ supportgroup.pk }}" readonly>
        </div>
      </div>
    </div>
  </div>
</div>
{% if supportgroup.is_certified %}
  <div class="padtop padbottom">
    <h4>Dons alloués aux actions de mon groupe</h4>
    {% if allocation_balance > 0 %}
      <p>
        La somme allouée à vos actions est de {{ allocation_balance | display_price }}. Vous pouvez créer une nouvelle demande de dépense si vous avez des dépenses à effectuer pour le groupe. Pour des petites sommes (impressions, achat de petit matériel ou de consommables...), vous pouvez demander des remboursement de dépenses déjà effectuées.
      </p>
    {% else %}
      <p>
        Personne n'a encore alloué de dons à vos actions. Vous pouvez le faire <a href="{% url "donation_amount" %}">sur
        la page de dons</a>.
      </p>
      <p>
        Vous pouvez déjà créer une demande, mais vous ne pourrez la faire valider que lorsque votre allocation sera suffisante.
      </p>
    {% endif %}

    <div class="margintop marginbottom">
      <a href="{% url "create_spending_request" supportgroup.pk %}" class="btn btn-block btn-primary hidden-md hidden-lg">
        Je crée une demande de dépense
      </a>
      <a href="{% url "create_spending_request" supportgroup.pk %}" class="btn btn-primary hidden-sm hidden-xs">
        Je crée une demande de dépense
      </a>
    </div>
  </div>

  {% if spending_requests %}
    <div class="padtop padbottom">
      <h4>Les demandes de mon groupe en cours de traitement</h4>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>Titre</th>
            <th>Statut</th>
            <th>Gérer la demande</th>
          </tr>
          </thead>
          <tbody>
          {% for spending_request in spending_requests %}
            <tr>
              <td>{{ spending_request.title }}</td>
              <td>{{ spending_request.get_status_display }}</td>
              <td><a href="{% url "manage_spending_request" spending_request.pk %}" class="btn btn-default">
                Gérer </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endif %}
