{% load global_urls %}
{% load crispy_forms_tags %}
{% load display_lib %}

{% if promo_code_delay or has_promo_code %}
  <h4 class="margintopmore">Codes matériels</h4>
  {% if promo_code_delay %}
    <p style="padding: 0; margin: 0.5rem 0;">
      <em>
        Les codes promos seront disponibles le {{ promo_code_delay|date }}
      </em>
    </p>
  {% else %}
    <ul style="padding: 0; margin: 0.5rem 0;">
      {% for promo_code in group_promo_codes %}
      <li style="list-style: none;">
        <strong>
          {{ promo_code.0 }}
        </strong>
        &ensp;
        <span style="font-weight: 400;">
          (expire le {{ promo_code.1|date }})
        </span>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}


<h4 class="margintopmore">Les informations de mon groupe</h4>
<div class="panel panel-default marginbottommore">
  <div class="panel-heading">
    <strong>{{ supportgroup.name }}</strong>
    {% for subtype in supportgroup.subtypes.all %}
      {% if not subtype.hide_text_label %}
        <span class="badge pull-right">
          {{ subtype.description }}
        </span>
      {% endif %}
    {% endfor %}
    <br />
    <small>{{ supportgroup.get_type_display }}</small>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 marginbottommore">
        <h4>
          <i class="fa fa-map-marker"></i> Lieu
        </h4>
        <p>
          {{ supportgroup.html_full_address|default:"Pas d'adresse enregistrée." }}
        </p>
        <div>
          {% if supportgroup.coordinates_type == None %}
            <div class="alert alert-info">
              Localisation sur la carte en cours... Si cela dure trop longtemps, essayez <a
              href="{% url "change_group_location" supportgroup.pk %}">d'indiquer manuellement la position</a>.
            </div>
          {% elif supportgroup.coordinates_type == supportgroup.COORDINATES_NO_POSITION %}
            <div class="alert alert-info">
              Ce groupe n'a pas d'adresse, ni de positionnement manuel sur le carte.
            </div>
          {% elif supportgroup.coordinates_type == supportgroup.COORDINATES_NOT_FOUND %}
            <div class="alert alert-danger">
              Localisation sur la carte à partir de l'adresse non réussie. Merci de <a
                href="{% url "edit_group" supportgroup.pk %}">préciser l'adresse</a> ou <a
                href="{% url "change_group_location" supportgroup.pk %}">d'indiquer manuellement la position</a>.
            </div>
          {% elif supportgroup.coordinates == None %}
            <div class="alert alert-danger">
              Il semble y avoir un problème avec les coordonnées de votre groupe. Essayez <a
                href="{% url "change_group_location" supportgroup.pk %}">d'indiquer manuellement la position</a>.
            </div>
          {% else %}
            <iframe
              title="Carte"
              class="col-sm-6"
              src="{{ MAP_DOMAIN }}{% url "carte:single_group_map" supportgroup.id %}"
              height="300"
              style="width: 100%; background-color: #F4F4F4;"
              scrolling="no"
              frameBorder="0">
            </iframe>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6 marginbottommore">
        {% if supportgroup.html_full_contact|length > 0 %}
          <h4>Contact</h4>
          <p>{{ supportgroup.html_full_contact|default:"Pas de contact enregistré." }}</p>
        {% endif %}
      </div>
      <div class="col-xs-12 margintopmore">
        {% if supportgroup.description %}
          <h4>Description</h4>
          <p class="intro">
            {{ supportgroup.html_description }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-4 margintop marginbottom">
        <a class="btn btn-block btn-primary" href="{% url "edit_group" supportgroup.pk %}">
          Modifier ces informations
        </a>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 margintop marginbottom">
        <a class="btn btn-block btn-default" href="{% url "change_group_location" supportgroup.pk %}">
          Corriger la localisation
        </a>
      </div>
    </div>
  </div>
</div>
