{% load global_urls %}
{% load crispy_forms_tags %}
{% load display_lib %}

<h4>Aider des personnes à rejoindre votre groupe</h4>

<p>
  Ce formulaire vous permet d'envoyer une invitation à rejoindre {% if not supportgroup.is_2022 %}la France insoumise et {% endif %}votre groupe d'action.
</p>
<p>
  Compte tenu des obligations en matière de protection des données qui nous incombent, cette fonctionnalité ne
  doit être utilisée <strong>qu'avec des personnes dont vous avez préalablement obtenu le consentement
  explicite</strong> (par exemple en les rencontrant à une diffusion de tract, ou lors d'une action).
</p>
<p>
  <strong>En cas d'abus, cette possibilité vous sera retirée.</strong>
</p>
<div class="padtop padbottom">
  {% crispy invitation_form %}
</div>
