<li role="presentation"{% if not active or active == "informations" %} class="active"{% endif %}>
  <a href="#informations" role="tab" data-toggle="pill">
    Informations
  </a>
</li>
<li role="presentation"{% if active == "membership" %} class="active"{% endif %}>
  <a href="#membership" role="tab" data-toggle="pill">
    Membres
  </a>
</li>
<li role="presentation"{% if active == "animation" %} class="active"{% endif %}>
  <a href="#animation" role="tab" data-toggle="pill">
    Animation
  </a>
</li>
{% if has_promo_code or is_pressero_enabled %}
<li role="presentation" {% if active == "materiel" %} class="active"{% endif %}>
  <a href="#materiel" role="tab" data-toggle="pill">
    Materiel
  </a>
</li>
{% endif %}
{% if supportgroup.is_certified %}
<li role="presentation" {% if active == "financement" %} class="active"{% endif %}>
  <a href="#financement" role="tab" data-toggle="pill">
    Financement
  </a>
</li>
{% endif %}
{% if not supportgroup.is_certified and certifiable %}
<li role="presentation" {% if active == "certification" %} class="active"{% endif %}>
  <a href="#certification" role="tab" data-toggle="pill">
    Certification
  </a>
</li>
{% endif %}
<li role="presentation"{% if active == "invitation" %} class="active"{% endif %}>
  <a href="#invitation" role="tab" data-toggle="pill">
    Inviter
  </a>
</li>
