<ul class="nav nav-pills nav-stacked hidden-sm hidden-xs" role="tablist">
  <li role="presentation">
    <a class="menu-title" href="#" disabled>
      Gérer mon groupe
    </a>
  </li>
  {% include "groups/includes/manage_menu.html" %}
</ul>
<ul class="nav nav-pills hidden-md hidden-lg">
  <li class="dropdown">
    <a
      href="#"
      class="dropdown-toggle text-info"
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="fa fa-bars" aria-hidden="true"></span>
      &nbsp;
      <span class="text-primary" id="dropdown_nav_active">
        {% if active == "informations" %}
          Informations
        {% elif active == "membership" %}
          Membres
        {% elif active == "animation" %}
          Animation
        {% elif active == "materiel" %}
          Materiel
        {% elif active == "financement" %}
          Financement
        {% elif active == "certification" %}
          Certification
        {% elif active == "invitation" %}
          Inviter
        {% else %}
          Informations
        {% endif %}
      </span>
      <span class="text-primary caret"></span>
    </a>
    <ul class="dropdown-menu nav nav-pills nav-stacked" role="tablist">
      {% include "groups/includes/manage_menu.html" %}
    </ul>
  </li>
</ul>

{% if has_static_menu %}
{% else %}
  <script>
    $(function() {
      $('a[data-toggle="pill"]').on("show.bs.tab", function (e) {
        $("#dropdown_nav_active").text(e.target.innerText);
      });
      $('a[data-toggle="pill"]').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
    });
  </script>
{% endif %}
