{% load global_urls %}
{% load crispy_forms_tags %}
{% load display_lib %}

{% if has_promo_code %}
  <div class="padbottom padtop">
    <h4>Mes codes promo</h4>

    {% if promo_code_delay %}
      <div class="alert alert-info">Dans l'attente d'un nouveau matériel que nous vous inviterons à commander, le
        code promo sera disponible à partir du {{ promo_code_delay|date }}.
      </div>
    {% else %}
      <div class="form-inline">
        <div class="form-group">
          <label for="promo_code">Le code promo actuel de mon groupe :</label>
          <div class="input-group">
            <input
              id="promo_code"
              class="form-control copybox"
              size="14"
              type="text"
              value="{{ group_promo_codes.0.0 }}"
              readonly>
          </div>
          <p class="help-block">
            Ce code peut être utilisé sur le <a href="https://materiel.lafranceinsoumise.fr">site d'achat de matériel</a> jusqu'au {{ group_promo_codes.0.1|date:"SHORT_DATE_FORMAT" }}.
          </p>
        </div>
      </div>


      <div class="form-inline">
        <div class="form-group">
          <label for="promo_code">Le code promo du mois dernier :</label>
          <div class="input-group">
            <input
              id="promo_code"
              class="form-control copybox"
              size="14"
              type="text"
              value="{{ group_promo_codes.0 }}"
              readonly>
          </div>
          <p class="help-block">
            Ce code du mois dernier est valable jusqu'au {{ gorup_promo_codes.1.1|date:"SHORT_DATE_FORMAT" }} si vous ne l'avez pas encore utilisé.
          </p>
        </div>
      </div>

    {% endif %}
  </div>
{% endif %}

{% if is_pressero_enabled %}
  <div class="padbottom padtop">
    <h4>Matériel à imprimer pour les événements avec candidat⋅e⋅s aux élections européennes</h4>
    <p>
      Si vous organisez des événements impliquant des candidat⋅e⋅s aux élections européennes, nous mettons à votre
      disposition une application vous permettant de réaliser facilement vos propres affiches à partir de modèles et
      d'en commander l'impression.
    </p>
    <p class="padbottom padtop">
      <a
        href="{% url "redirect_to_pressero" supportgroup.pk %}"
        class="btn btn-default hidden-sm hidden-xs">
        Je crée mon matériel
      </a>
      <a
        href="{% url "redirect_to_pressero" supportgroup.pk %}"
        class="btn btn-block btn-default hidden-md hidden-lg">
        Je crée mon matériel
      </a>
    </p>
  </div>
{% endif %}
