{% load global_urls %}
{% load crispy_forms_tags %}
{% load display_lib %}

<h4>Liste des membres</h4>

<p class="alert alert-info">
  <i class="fa fa-info-circle"></i> Cette liste peut etre copiée-collée directement dans votre logiciel de messagerie !
</p>

<p>
  Votre groupe comprend à l'heure actuelle <strong>{{ members|length }} membre{% if members|length > 1 %}s{% endif %}</strong>.
</p>

<ul class="list-group row">
  {% for membership in members %}
    {% with person=membership.person %}
      <li class="list-group-item col-sm-6">
        {% if person.first_name and person.last_name %}
          {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
        {% else %}
          {{ person.email }}
        {% endif %}
        {% if not forloop.last %}<span style="font-size: 0; color: rgba(255,255,255,0);">,</span>{% endif %}
      </li>
    {% endwith %}
  {% endfor %}
</ul>

{% if members|length > 1 %}
  <p class="margintopmore text-center" style="clear: both;">
    <a class="btn btn-primary btn-wrap" href={% url "transfer_group_members" supportgroup.pk %}>
      Transférer des membres vers un autre groupe
    </a>
  </p>
{% endif %}
