{% extends "donations/personal_information.html" %}
{% load display_lib %}

{% block donation_reminder %}Je souhaite prêter <strong>{{ amount | display_price_in_cent }}</strong> à
  {{ campagne.nom_liste }}{% endblock %}

{% block legal %}{% include "loans/legal.html" %}{% endblock %}

{% block script %}
  <script>
    var countryOfBirth = document.getElementById("id_country_of_birth");
    var departementOfBirth = document.getElementById("id_departement_of_birth");

    function updateDepartementOfBirth() {
      if (countryOfBirth.value === "FR") {
        departementOfBirth.required = true;
        departementOfBirth.disabled = false;
      } else {
        departementOfBirth.required = false;
        departementOfBirth.disabled = true;
      }

    }

    countryOfBirth.addEventListener("change", updateDepartementOfBirth);
    updateDepartementOfBirth();

  </script>
{% endblock %}
