{% load static %}
<!doctype html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% firstof meta_title "Action Populaire" %}{% endblock %}</title>
  <link rel="manifest" href="{% static "front/manifest.json" %}" />
  <meta name="theme-color" content="#F4ED0F">


  {% include "front/includes/favicon.html" %}

  {% block opengraph %}
    {% if show_opengraph %}
      <meta name="title" content="{{ meta_title }}"/>
      <meta name="description" content="{{ meta_description }}">
      <link rel="canonical" href="https://actionpopulaire.fr{{ request.path }}"/>
      <meta property="og:locale" content="fr_FR"/>
      <meta property="og:type" content="{{ meta_type }}"/>
      <meta property="og:title" content="{{ meta_title }}"/>
      <meta property="og:description"
            content="{{ meta_description }}"/>
      <meta property="og:url" content="https://actionpopulaire.fr{{ request.path }}"/>
      <meta property="og:site_name" content="Action Populaire"/>
      <meta property="fb:app" content="399717914004198"/>
      {% if meta_image %}
        <meta property="og:image" content="{{ meta_image }}">
        <meta property="og:image:secure_url" content="{{ meta_image }}">
        <meta name="twitter:image"
              content="{{ meta_image }}"/>
      {% else %}
        <meta
          property="og:image"
          content="{% static "front/assets/og_image_LFI.jpg" %}"
        />
        <meta
          property="og:image:secure_url"
          content="{% static "front/assets/og_image_LFI.jpg" %}"
        />
        <meta
          name="twitter:image"
          content="{% static "front/assets/og_image_LFI.jpg" %}"
        />
      {% endif %}
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:description" content="{{ meta_description }}"/>
      <meta name="twitter:title" content="{{ meta_title }}"/>
    {% endif %}
  {% endblock %}

  {% block css %}{% endblock %}
  {% block cdn_assets %}{% endblock %}

  {% block extra_scripts %}{% endblock %}
  {% block additional_headers %}{% endblock %}

</head>
<body class="home archive">
<!--[if IE]>
      <div class="alert alert-warning">
        Vous utilisez une version obsolète de votre navigateur. Veuillez le  <a href="http://browsehappy.com/">mettre à jour</a> pour visionner votre site correctement.      </div>
    <![endif]-->
{% block whole_page %}
  {% if hide_feedback_button %}
    <script>
      window.Agir = window.Agir || {};
      window.Agir.hideFeedbackButton = true;
    </script>
  {% endif %}
  {% include "front/legacyPages.bundle.html"%}
  {% block full_width %}
    <div class="wrap container" role="document">
      <main class="main marginbottommore">
        {% if messages %}
          <div style="margin-top: 1em;">
            {% for message in messages %}
              <div class="alert alert-{{ message.level_tag }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% block main %}
          <div class="row">
            <div class="col-responsive">
              {% block main_column %}{% endblock %}
            </div>
          </div>
        {% endblock %}
      </main>
    </div>
  {% endblock %}
{% endblock %}

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  {% block matomo_extra_tracking %}{% endblock %}
  (function() {
    var u="https://matomo.lafranceinsoumise.fr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '10']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.rel="preconnect"; g.type='text/javascript'; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img rel="preconnect" src="https://matomo.lafranceinsoumise.fr/matomo.php?idsite=10&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
</body>
</html>
