{% load static %}

{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ calendar.name }}</title>

  {% render_bundle 'theme' 'css' attrs='data-turbolinks-track="reload"' %}
  <link rel="icon" href="{% static "front/images/cropped-cropped-phi-32x32.png" %}" sizes="32x32"/>
  <link rel="icon" href="{% static "front/images/cropped-cropped-phi-192x192.png" %}" sizes="192x192"/>
  <link rel="apple-touch-icon-precomposed" href="{% static "front/images/cropped-cropped-phi-180x180.png" %}"/>
  <meta name="msapplication-TileImage" content="{% static "front/images/cropped-cropped-phi-270x270.png" %}"/>
  <base target="_parent">
</head>
<body class="home archive">
<!--[if IE]>
      <div class="alert alert-warning">
        Vous utilisez une version obsolète de votre navigateur. Veuillez le  <a href="http://browsehappy.com/">mettre à jour</a> pour visionner votre site correctement.      </div>
    <![endif]-->
{% block body %}
{% endblock %}

</body>
</html>
