{% extends "front/layout.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}Connexion{% endblock %}

{% block full_width %}
  <div id="login-page" class="wrap container-fluid" role="document">
    <main class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <div id="login-widget">
          {% if type == "I" %}
            <h2>Vous n'êtes pas membre de la France insoumise</h2>
            <div>
              <strong>
                Vous devez être membre de la France insoumise pour participer à ses groupes et ses événements.
              </strong>
            </div>

            <p>
              <a class="btn btn-primary btn-block" href="https://lafranceinsoumise.fr">Rejoindre la France insoumise</a>
              {% if not user.is_authenticated %}
                <a class="btn btn-default btn-block" href="{% url "short_code_login" %}">Je suis déjà membre</a>
              {% endif %}
            </p>
          {% elif type == "2" %}
            <h2>Vous n'avez pas parrainé la candidature de Jean-Luc Mélenchon pour 2022</h2>

            <div>
              <strong>
                Vous devez parrainer la candidature sur «&nbsp;<strong>Nous sommes pour !</strong>&nbsp;» pour rejoindre
                la campagne 2022 sur Action Populaire
              </strong>
            </div>

            <p>
              <a class="btn btn-primary btn-block" href="https://noussommespour.fr/">Parrainer la candidature</a>
              {% if not user.is_authenticated %}
                <a class="btn btn-default btn-block" href="{% url "short_code_login" %}">J'ai déjà parrainé</a>
              {% endif %}
            </p>

          {% else %}

            <h2>Rejoindre Action Populaire</h2>

            <p>
              <strong>Action Populaire</strong> est la plateforme d'action de la campagne de Jean-Luc Mélenchon pour
              2022
              et de la France insoumise.
            </p>
            <p>Inscrivez-vous d'une de ces façons :</p>

            <div class="mobile-vertical">
              <a class="btn btn-primary" href="https://noussommespour.fr/">Parrainer la candidature</a>
              <span class="or">ou</span>
              <a class="btn btn-default" href="https://lafranceinsoumise.fr">Rejoindre la France insoumise</a>
            </div>

          {% endif %}

          {% if not user.is_authenticated %}
            <p>
              Vous pourrez ensuite vous connecter à <strong>Action Populaire</strong> en utilisant la même adresse
              email.
            </p>
          {% else %}
            <p>
              Inscrivez-vous avec la même adresse email (<em>{{ user.person.email }}</em>) pour être automatiquement connecté.
            </p>

          {% endif %}

        </div><!-- login-widget -->

        <p id="sign-in-link">
          Déjà inscrit·e&nbsp;?
          <a href="{% url "short_code_login" %}">
            Connectez-vous à Action Populaire
          </a>
        </p>

      </div>
    </main>
  </div>
{% endblock %}
