{% load static %}
<!doctype html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{{ meta_title }}{% endblock %}</title>

  {% include 'theme.bundle.html' %}

  {% include "front/includes/favicon.html" %}

  {% block additional_headers %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  {% include "front/includes/fontawesome.html" %}
  <style>
    .main .alert.alert-info {
      display:none;
    }
  </style>
</head>
<body class="home archive">
<!--[if IE]>
      <div class="alert alert-warning">
        Vous utilisez une version obsolète de votre navigateur. Veuillez le  <a href="http://browsehappy.com/">mettre à jour</a> pour visionner votre site correctement.      </div>
    <![endif]-->
<header class="banner" style="text-align: center;">
  <img src="{% static "front/images/melenchon2022.svg" %}" alt="Logo Mélenchon 2022" style="margin:auto; max-width: 258px; width: 100%;"/>
</header>
<div class="wrap container" role="document">
  <div class="content row">
    <main class="main">
      {% if messages %}
        <div style="margin-top: 1em;">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message|safe }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% block main %}
      {% endblock %}
    </main>
  </div>
</div>
</body>
</html>
