{% extends "front/base_layout.html" %}

{% block additional_headers %}

  {% if page_schema %}
    <script type="application/ld+json">
      {{ page_schema }}
    </script>
  {% endif %}

  <link rel="preconnect" href="https://erreurs.lafranceinsoumise.fr" />
  {% include "front/includes/fontawesome.html" %}
  <link rel="preload" href="{% url "api_session" %}" as="fetch" type="application/json"></link>
  {% for href in api_preloads %}
    <link rel="preload" href="{{ href }}" as="fetch" type="application/json"></link>
  {% endfor %}

{% endblock %}

{% block whole_page %}
  {% block page_loader %}
    {% include "front/includes/loader.html" %}
  {% endblock %}
  {% block app_mount_target %}
    <div id="{{ app_mount_id }}"></div>
  {% endblock %}
  {% if export_data %}
    {{ export_data|json_script:data_script_id }}
  {% endif %}
  {% include bundle_name|add:".bundle.html" %}
{% endblock %}


{% block matomo_extra_tracking %}
  _paq.push(['HeatmapSessionRecording::disable']);
{% endblock %}
