{% extends "front/base_layout.html" %}

{% block extra_scripts %}
  {% include bundle_name|add:".bundle.html" %}
{% endblock %}

{% block additional_headers %}
<link rel="preload" href="{% url "api_session" %}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block whole_page %}
  <div id="{{ app_mount_id }}">
    {% include "front/includes/loader.html" %}
  </div>
  {% if export_data %}
    {{ export_data|json_script:data_script_id }}
  {% endif %}
{% endblock %}


{% block matomo_extra_tracking %}
  _paq.push(['HeatmapSessionRecording::disable']);
{% endblock %}
