{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Annuler «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px;">
    <a
      class="btn btn-sm btn-default"
      href="{% url "manage_event" event.pk %}">
      <i class="fa fa-cog"></i> Gestion de l'événement
    </a>
    <a
      class="btn btn-sm btn-default"
      href="{% url "view_event" event.pk %}">
      <i class="fa fa-external-link"></i> Page publique de l'événement
    </a>
  </div>
  <div class="col-xs-12">
    <h2 class="headline">
      {{ event.name }}
    </h2>
    <hr />
    <h3>Annuler l'événement «&nbsp;{{ event.name }}&nbsp;»</h3>
    <div class="form-group">
      <p>
        Souhaitez vous rééllement annuler l'événement <strong>«&nbsp;{{ event.name }}&nbsp;»</strong> ?
      </p>
      <form method="POST">
        {% csrf_token %}
        <div class="row padtop">
          <div class="col-sm-12 col-md-3 padbottom">
            <a
              href="{% url "manage_event" event.pk %}"
              class="btn btn-block btn-default">
              Retour
            </a>
          </div>
          <div class="col-sm-12 col-md-4 padbottom">
            <button class="btn btn-block btn-danger" type="submit">
              Annuler l'événement
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
