{% extends "front/layout.html" %}

{% block title %}«&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block additional_headers %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ event.location_city }}",
          "postalCode": "{{ event.location_zip }}",
          "streetAddress": "{{ event.location_address1 }} {{ event.location_address2 }}",
          "addressCountry": "{{ event.location_country }}"
        },
        "name": "{{ event.location_name }}"
      },
      "name": "{{ event.name }}",
      "startDate": "{{ event.start_time.isoformat }}",
      "endDate": "{{ event.end_time.isoformat }}"
      {% if meta_image %},"image": "{{ meta_image }}"{% endif %}
    }


    </script>
{% endblock %}

{% block main %}
    <header>
        {% if event.image %}
            <img src="{{ event.image.banner.url }}" class="img-responsive center-block">
        {% endif %}
        <h1>{{ event.name }}
            <small>{{ event.subtype.get_type_display }}</small>
            {% if not event.subtype.hide_text_label %}
                <span class="badge">{{ event.subtype.description }}</span>
            {% endif %}
            {% if event.is_past %}
                <small>(événement terminé)</small>{% endif %}</h1>
        <div class="text-right">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="btn btn-default" href="{{ API_DOMAIN }}{% url "admin:events_event_change" event.pk %}">Administration</a>
                {% endif %}
                {% if is_organizer %}
                    <a class="btn btn-default" href="{% url "manage_event" event.pk %}">Gérer l'événement</a>
                {% endif %}
                {% if not event.is_past %}
                    {% if rsvp %}
                        <span class="dropdown">
                            <button class="btn btn-primary" data-toggle="dropdown">
                                Inscription validée{% if rsvp.guests > 0 %} ({{ rsvp.guests|add:1 }} participant⋅e⋅s){% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% if event.subscription_form %}
                                    <li><a href="{% url "rsvp_event" event.pk %}">Voir ma participation</a></li>
                                {% endif %}
                                {% if event.is_free%}
                                    <li><a href="{% url "quit_event" event.pk %}">Annuler ma participation</a></li>
                                {% endif %}
                                {% if event.allow_guests %}
                                    <li>
                                        {% if event.subscription_form is None %}
                                            <form id="add-guest" style="display:none;" action="{% url "rsvp_event" event.pk %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="guests" value="{{ rsvp.guests|add:1 }}"/>
                                            </form>
                                            <a data-turbolinks="false"
                                               href="#"
                                               onclick="$('#add-guest').submit()">
                                        {% else %}
                                            <a href="{% url "rsvp_event" event.pk %}">
                                        {% endif %}
                                            Ajouter un invité</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </span>
                    {% else %}
                        {% if event.max_participants and event.participants >= event.max_participants %}
                            <span class="btn btn-primary">Évènement complet</span>
                        {% else %}
                            <form style="display:inline;" action="{% url "rsvp_event" event.pk %}" method="{% if event.subscription_form is None %}post{% else %}get{% endif %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                    Participer à cet événement{% if event.price_display %} ({{ event.price_display }}){% endif %}
                                </button>
                            </form>
                            <p class="help-block"><small>Votre adresse email sera communiquée à l'organisateur⋅rice.</small></p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                <a class="btn btn-primary" title="Connexion" href="{% url "oauth_redirect_view" %}?next={{ request.get_full_path|urlencode }}">Se connecter pour
                    participer à l'événement</a>
            {% endif %}
        </div>
    </header>
    <div class="row">
        <div class="col-md-6">
            {% if event.participants %}
                <h4>
                    Nombre de participant⋅e⋅s&nbsp;: {{ event.participants }}
                </h4>
            {% endif %}
            <div class="intro">
                {% if event.description %}
                    {{ event.html_description }}
                {% else %}
                    <i>Cet événement n'a pas encore de description.</i>
                {% endif %}
                <hr/>
            </div>

            {% if event.is_past %}
                <div>
                    <h3>Compte-rendu</h3>
                    {% if is_organizer %}
                        <a class="btn btn-default pull-right" href="{% url "edit_event_report" event.pk %}">Rédiger le
                            compte-rendu</a>
                    {% endif %}
                    {% if event.report_content %}
                        {% if event.report_image %}
                            <img src="{{ event.report_image.banner.url }}"
                                 class="img-responsive center-block marginbottom">
                        {% endif %}
                        {{ event.html_report_content }}
                    {% else %}
                        <p>
                            <em>Les organisateurs de cet événement n'ont pas encore posté de compte-rendu.</em>
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="col-md-6">
            <div class="row marginbottom">
                <div class="col-xs-6">
                    <h4><i class="fa fa-clock-o" aria-hidden="true"></i></h4>
                    {{ event.get_display_date }}
                </div>
                <div class="col-xs-6">
                    <h4><i class="fa fa-map-marker"></i></h4>
                    <p>{{ event.html_full_address|default:'Pas de lieu.' }}</p>
                </div>
            </div>

            {% spaceless %}
                {% if organizers_groups|length > 0 %}
                    <p>
                        L'événement {% if event.is_past %}était organisé{% else %}est organisé{% endif %}
                        {% if organizers_group|length > 1 %}par les groupes d'action{% else %}par le groupe
                            d'action{% endif %}
                        {% for supportgroup in event.organizers_groups.all.distinct %}
                            <a href="{% url "view_group" supportgroup.pk %}"><i
                                    class="fa fa-group"></i> {{ supportgroup.name }}</a>
                            {% if not forloop.last %}{% if forloop.revcounter0 == 1 %} et {% else %}
                                , {% endif %}{% else %}.
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endspaceless %}

            {% if event.coordinates %}
                <iframe title="Carte" class="col-sm-6"
                        src="{{ MAP_DOMAIN }}{% url "carte:single_event_map" event.id %}"
                        height="300" scrolling="no" frameBorder="0"
                        style="width: 100%; margin: 1em 0; padding:0;"></iframe>
            {% endif %}

            {% if event.is_past %}
                <h4>Photos</h4>
                {% if event_images %}
                    <div class="row">
                        {% for image in event_images %}
                            <div class="col-xs-2 col-sm-4">
                                <a href="{{ image.image.url }}">
                                    <img class="img-responsive marginbottom" src="{{ image.image.thumbnail.url }}"
                                         title="&copy; {{ image.author.first_name }} {{ image.author.last_name }} &mdash; {{ image.legend }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    Aucun participant n'a encore ajouté de photo de cet événement !
                {% endif %}
                {% if has_rsvp %}
                    <div>
                        <a class="btn btn-default" href="{% url "upload_event_image" event.pk %}">Ajouter une image</a>
                    </div>
                {% endif %}
            {% else %}
                <h4>Contact</h4>
                <p>{{ event.html_full_contact }}</p>
            {% endif %}
        </div>
    </div>

    <hr>
{% endblock %}
