{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Ajouter un compte-rendu pour l'événement «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px;">
    <a
      class="btn btn-sm btn-default"
      href="{% url "manage_event" event.pk %}">
      <i class="fa fa-cog"></i> Gestion de l'événement
    </a>
    <a
      class="btn btn-sm btn-default"
      href="{% url "view_event" event.pk %}">
      <i class="fa fa-external-link"></i> Page publique de l'événement
    </a>
  </div>
  <div class="col-xs-12">
    <h2 class="headline">
      {{ event.name }}
    </h2>
    <hr />
    <h3>Ajouter un compte-rendu pour l'événement</h3>
    <div class="padtop padbottom form-group">
      <div>
        <p class="alert alert-warning">
          Attention&nbsp;! Ce compte-rendu est public. N'y faites pas figurer des informations
          que vous ne souhaitez pas rendre publiques. En particulier, assurez-vous de ne donner
          le nom des personnes présentes qu'avec leur accord.
        </p>
        <div class="form-group">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
