{% extends "front/layout.html" %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load l10n %}

{% block title %}Rechercher des événements{% endblock %}

{% block main %}
    <h1>Rechercher des événements</h1>

    <div>
        <div>
            <p>Sur cette page, vous trouverez l'ensemble des événements locaux organisés par les groupes d'action de la
                France insoumise.</p>

            <p>Si aucun événement n'est organisé près de chez vous, vous pouvez en créer un vous-même.</p>

            <p>Vous pouvez aussi rechercher des événements en utilisant
                <a href="https://lafranceinsoumise.fr/groupes-appui/carte/">la carte.</a></p>
        </div>

        <p class="text-center">
            <a class="btn btn-info" href="{% url "create_event" %}"><i class="fa fa-plus"></i> Créer un événement</a>
            <a class="btn btn-default" href="https://lafranceinsoumise.fr/groupes-appui/carte/">Accéder à la carte des
                événements</a>
        </p>
    </div>

    <div>
        <form>
            {{ form.lon }}
            {{ form.lat }}
            <div class="form-group">
                <div class="input-group">
                    {{ form.q }}
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-primary" data-toggle="dropdown" value="Rechercher">
                    </div>
                </div>
            </div>
        </form>

        {% render_bundle "lib/locationSearchField" %}
        <script>
          locationSearchField(document.querySelector('input[name="q"]'));
        </script>
    </div>

    <div>
        {% if events %}
            {% if form.q.value %}
                <h2>Les événements près de l'adresse &laquo;&nbsp;<small>{{ form.q.value }}</small>&nbsp;&raquo;</h2>
            {% else %}
                <h2>Les événements locaux près de chez vous</h2>
            {% endif %}
            <div class="list-group">
                {% for event in events %}
                    <div class="list-group-item ">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <a href="{% url "view_event" event.pk %}">{{ event.name }}</a>
                        <a class="btn btn-default pull-right" href="{% url "view_event" event.pk %}">Voir
                            l'événement</a>
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-map-marker"></i> {{ event.location_name }}
                                ({{ event.location_city }})
                            </li>
                            {% if event.distance %}
                                <li>
                                    <i class="fa fa-long-arrow-right"></i> à {{ event.distance.km|floatformat:0 }}
                                    km
                                </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-clock-o"></i> {{ event.get_display_date }}
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Vous ne nous avez pas indiqué votre adresse. Pour rechercher un événement, utilisez soit la boîte de
            recherche ci-dessus, soit <a href="{% url "change_profile" %}">remplissez le formulaire d'informations</a>
            pour nous indiquer où vous habitez.
        {% endif %}
    </div>
{% endblock %}
