{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Gérer l'événement «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block main %}
  <h2><a href="{% url "view_event" event.pk %}">{{ event.name }}</a></h2>
  <ol class="breadcrumb">
    <li><a href="{% url "view_event" event.pk %}">Page publique de l'événement</a></li>
    <li>Gestion de l'événement</li>
  </ol>

    <h3>Les informations de mon événement</h3>


    <div class="panel panel-default">
        <div class="help-dialog" data-hint="Les informations de votre événement">
            Vous trouverez ici le rappel des informations de votre événement.
        </div>
        <div class="panel-heading"><strong>{{ event.name }}</strong>{% if event.is_past %} (cet événement est
            terminé){% endif %}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    {% spaceless %}
                        {% if event.organizers_groups.all|length > 0 %}
                            <p>
                                Organisé par le(s) groupe(s) d'action
                                {% for supportgroup in event.organizers_groups.all.distinct %}
                                    <a href="{% url "view_group" supportgroup.pk %}">{{ supportgroup.name }}</a>
                                    {% if not forloop.last %}{% if forloop.revcounter0 == 1 %} et {% else %}
                                        , {% endif %}{% else %}.{% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endspaceless %}

                    <h6 class="subhead">Quand</h6>
                    <p>{{ event.get_display_date }}</p>

                    <h6 class="subhead">Où</h6>
                    <p>
                        {{ event.html_full_address }}
                    </p>

                    <h6 class="subhead">Contact</h6>
                    <p>{{ event.html_full_contact }}</p>

                </div>
                <div class="col-md-6">
                    {% if event.coordinates_type == None %}
                        <div class="alert alert-info">Localisation sur la carte en cours, merci de patienter.</div>
                    {% elif event.coordinates_type == 255 %}
                        <div class="alert alert-danger">
                            Localisation sur la carte à partir de l'adresse non réussie. Merci de
                            <a href="{% url "edit_event" event.pk %}">préciser l'adresse</a> ou
                            <a href="{% url "change_event_location" event.pk %}">d'indiquer manuellement la position</a>.
                        </div>
                    {% else %}
                        <iframe title="Carte" class="col-sm-6"
                                src="{{ MAP_DOMAIN }}{% url "carte:single_event_map" event.id %}"
                                height="300" scrolling="no" frameBorder="0"
                                style="width: 100%; margin: 1em 0; padding:0;"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <ul class="list-inline">
                {% if not event.is_past %}
                    <li>
                        <div class="help-dialog">Vous pouvez les modifier en cliquant sur ce bouton.</div>
                        <a class="btn btn-default" href="{% url "edit_event" event.pk %}" data-turbolinks="false">Modifier
                            ces informations</a>
                    </li>
                    <li>
                        <div class="help-dialog">Vous pouvez aussi changer l'endroit où votre événement apparaît sur la
                            carte
                            si celui-ci n'était pas correct.
                        </div>
                        <a class="btn btn-default" href="{% url "change_event_location" event.pk %}">Corriger la
                            localisation de l'événement</a>
                    </li>
                    <li>
                        <div class="help-dialog">Vous pouvez enfin annuler votre événement. Un message sera envoyé à
                            tous les participants
                            pour leur signaler.
                        </div>
                        <a class="btn btn-default" href="{% url "cancel_event" event.pk %}">Annuler l'événement</a></li>
                {% else %}
                    <li>
                        <div class="help-dialog">Une fois l'événement terminé, vous pouvez seulement rédiger ou modifier
                            son compte-rendu.
                        </div>
                        <a class="btn btn-default" href="{% url "edit_event_report" event.pk %}">
                            {% if event.report_content %}Modifier{% else %}Rédiger{% endif %} le compte-rendu</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div>
        <div class="help-dialog">
            Apparaissent ici la liste des organisateur de votre événement.
        </div>
        <h3>Les organisateurs de l'événement</h3>

        <ul class="list-group">
            {% for organizer in organizers %}
                <li class="list-group-item list-group-item-success">
                    {% if organizer.first_name and organizer.last_name %}
                        {{ organizer.first_name }} {{ organizer.last_name }} &lt;{{ organizer.email }}&gt;
                    {% else %}
                        {{ organizer.email }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <div>
            <div class="help-dialog">
                Utilisez ce formulaire pour sélectionner d'autres organisateurs. Pour pouvoir les sélectionner,
                elles doivent s'êtres inscrites comme participants.
            </div>
            <p>
                Vous pouvez sélectionner d'autres personnes pour co-organiser l'événement avec vous parmi celles qui
                ont
                indiqué participer à l'événement.
            </p>
            {% crispy add_organizer_form %}
        </div>
    </div>
    {% if rsvps|length < 50 %}
    <div>
        <div class="help-dialog">
            Finalement, voici la liste des participants.
        </div>
        <h3>Liste des participants</h3>

        <p>{{ rsvps|length }} personne{% if rsvps|length > 1 %}s ont{% else %} a{% endif %} indiqué souhaiter participer
            à
            votre événement pour le moment.</p>

        <p>Cette liste peut etre copiée-collée directement dans votre logiciel de messagerie !</p>

        <ul class="list-group">
            <div class="help-dialog">
                Copiez/collez simplement cette section dans votre logiciel de messagerie pour envoyer un message à tous
                les participants à votre événement.
            </div>
            {% for rsvp in rsvps %}
                {% with person=rsvp.person %}
                    <li class="list-group-item">
                        {% if person.first_name and person.last_name %}
                            {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
                        {% else %}
                            {{ person.email }}
                        {% endif %}
                        {% if not forloop.last %}<span style="font-size: 0; color: rgba(255,255,255,0);">,</span>{% endif %}
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
