{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}Gérer l'événement «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "list_events" %}">
        <i class="fa fa-arrow-left"></i>&emsp;Retour à l'accueil
      </a>
    </div>
    <div class="pull-right">
      <a
        class="btn btn-sm btn-default"
        href="{% url "view_event" event.pk %}">
        Page publique de l'événement
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12">
    <h2 class="headline">
      {{ event.name }}
    </h2>
    <hr />
    <h3>Gestion de l'événément</h3>
    {% include "events/includes/visibility.html" %}
    <div class="padtop padbottom">
      <h4>Les informations de mon événement</h4>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{ event.name }}</strong>{% if event.is_past %} (cet événement est
          terminé){% endif %}
          <br />
          {% if organizing_groups %}
            Organisé par {% if organizing_groups.length > 1 %}les groupes{% else %}le groupe{% endif %}
            {% for supportgroup in organizing_groups %}
              <a href="{% url "view_group" supportgroup.pk %}">{{ supportgroup.name }}</a>
              {% if not forloop.last %}{% if forloop.revcounter0 == 1 %} et {% else %}
                , {% endif %}{% else %}.{% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6 marginbottommore">
              <h5 class="subhead">Où</h5>
              <p>{{ event.html_full_address }}</p>
              {% if event.online_url %}
                <h5 class="subhead">Visio-conférence</h5>
                <p>
                  <a href="{{ event.online_url }}" target="_blank" rel="noopener noreferrer">{{ event.online_url }}</a>
                </p>
              {% endif %}
              <h5 class="subhead">Quand</h5>
              <p>{{ event.get_display_date }}</p>
              <h5 class="subhead">Contact</h5>
              <p>{{ event.html_full_contact }}</p>
            </div>
            <div class="col-sm-6 marginbottommore">
              {% if event.coordinates_type == None %}
                <p class="alert alert-info">
                  Localisation sur la carte en cours... Si cela dure trop longtemps, essayez <a href="{% url "change_event_location" event.pk %}">d'indiquer manuellement la position</a>.
                </p>
              {% elif event.coordinates_type == event.COORDINATES_NO_POSITION %}
                <p class="alert alert-info">
                  Ce événement n'a pas d'adresse, ni de positionnement manuel sur le carte.
                </p>
              {% elif event.coordinates_type == event.COORDINATES_NOT_FOUND %}
                <p class="alert alert-danger">
                  Localisation sur la carte à partir de l'adresse non réussie. Merci de <a href="{% url "edit_event" event.pk %}">préciser l'adresse</a> ou <a href="{% url "change_event_location" event.pk %}">d'indiquer manuellement la position</a>.
                </p>
              {% elif event.coordinates == None %}
                <p class="alert alert-danger">
                  Il semble y avoir un problème avec les coordonnées de votre événement. Essayez <a href="{% url "change_event_location" event.pk %}">d'indiquer manuellement la position</a>.
                </p>
              {% else %}
                <iframe
                  title="Carte"
                  class="col-sm-6"
                  src="{{ MAP_DOMAIN }}{% url "carte:single_event_map" event.id %}"
                  height="300"
                  scrolling="no"
                  frameBorder="0"
                  style="width: 100%; margin: 1em 0; padding:0; background-color: #F4F4F4;"></iframe>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            {% if not event.is_past %}
              <div class="col-md-4 margintop marginbottomless">
                <a class="btn btn-block btn-wrap btn-primary" href="{% url "edit_event" event.pk %}">
                  Modifier ces informations
                </a>
              </div>
              <div class="col-md-4 margintop marginbottomless">
                <a class="btn btn-block btn-wrap btn-default" href="{% url "change_event_location" event.pk %}">
                  Corriger la localisation de l'événement
                </a>
              </div>
              <div class="col-md-4 margintop marginbottomless">
                <a class="btn btn-block btn-wrap btn-default" href="{% url "cancel_event" event.pk %}">
                  Annuler l'événement
                </a>
              </div>
            {% else %}
              <div class="col-md-6 margintop marginbottomless">
                <a class="btn btn-block btn-default" href="{% url "edit_event_report" event.pk %}">
                  {% if event.report_content %}Modifier{% else %}Rédiger{% endif %} le compte-rendu
                </a>
              </div>
              {% if event.report_content %}
                  {% if event.report_summary_sent or report_is_sent %}
                    <div class="col-md-6 margintop marginbottomless">
                      <button class="btn btn-block btn-default" disabled>
                        Ce compte-rendu a déjà été envoyé.
                      </button>
                    </div>
                  {% else %}
                    <div class="col-md-6 margintop marginbottomless">
                      <form action="{% url "send_event_report" event.pk %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-block btn-default" type="submit" value="Envoyer le compte-rendu">
                        <p class="col-xs-12 help-block text-center" style="font-size: 11px;">
                          Attention : l'envoi de mail ne peut être effectué qu'une seule fois par événement.
                        </p>
                      </form>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    {% if True in event.legal.values %}
      <div class="padtop padbottom">
        <h4 id="section-legal">Formalités légales</h4>
        <div class="row">
          <div class="col-md-6">
            <p>
              Afin que votre événement soit approuvé, vous devez remplir les informations suivantes.
            </p>
            <p>
              {% for section in legal_sections %}
                <span class="text-{% if section in incomplete_sections %}danger{% else %}success{% endif %}">
                  <i class="fa fa-{% if section in incomplete_sections %}exclamation-circle{% else %}check{% endif %}"></i> {{ section.0 }}
                </span>
                {% if not forloop.last %}<br/>{% endif %}
              {% endfor %}
            </p>
          </div>
          <div class="col-md-6">
            <p>
              {% if event.legal.candidat or event.legal.materiel_campagne %}
                Lorsque tous les documents sont remplis, le secrétariat général de la campagne peut valider votre événement. Ceci ne nécesssite pas d'action de votre part et prend habituellement deux à trois jours ouvrés.
                <a href="{% url "event_legal_form" event.pk %}" class="btn btn-block btn-default margintopmore">
                  Mettre à jour les informations légales
                </a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="padtop padbottom">
      <h4>Les organisateurs de l'événement</h4>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            {% for supportgroup in organizing_groups %}
              <li class="list-group-item list-group-item-success">
                {{ supportgroup.name }}
              </li>
            {% endfor %}
          </ul>
          <ul class="list-group">
            {% for organizer in organizers %}
              <li class="list-group-item list-group-item-success">
                {% if organizer.first_name and organizer.last_name %}
                  {{ organizer.first_name }} {{ organizer.last_name }} &lt;{{ organizer.email }}&gt;
                {% else %}
                  {{ organizer.email }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <p>
            Vous pouvez sélectionner d'autres personnes pour co-organiser l'événement avec vous parmi celles qui ont indiqué participer à l'événement.
          </p>
          {% crispy add_organizer_form %}
        </div>
      </div>
    </div>
    {% if event.visibility == "P" %}
      <div class="padtop padbottom">
        <h3>Liste des participants</h3>

        <p class="alert alert-info">
          <i class="fa fa-info-circle"></i> Cette liste peut etre copiée-collée directement dans votre logiciel de messagerie !
        </p>

        <p>
          <strong>{{ rsvps|length }} personne{% if rsvps|length > 1 %}s{% endif %}</strong> {% if rsvps|length > 1 %}ont{% else %}a{% endif %} indiqué souhaiter participer à votre événement pour le moment.
        </p>

        <ul class="list-group">
          {% for rsvp in rsvps %}
            {% with person=rsvp.person %}
              <li class="list-group-item col-sm-6">
                {% if person.first_name and person.last_name %}
                  {{ person.first_name }} {{ person.last_name }} &lt;{{ person.email }}&gt;
                {% else %}
                  {{ person.email }}
                {% endif %}
                {% if not forloop.last %}<span style="font-size: 0; color: rgba(255,255,255,0);">,</span>{% endif %}
              </li>
            {% endwith %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
