{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Modifier «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block main %}
  <h2><a href="{% url "view_event" event.pk %}">{{ event.name }}</a></h2>
  <ol class="breadcrumb">
    <li><a href="{% url "view_event" event.pk %}">Page publique de l'événement</a></li>
    <li><a href="{% url "manage_event" event.pk %}">Gestion de l'événement</a></li>
    <li>Modification des informations</li>
  </ol>
  <div class="row">
    <div class="col-sm-12 form-group">
      {% crispy form %}
    </div>
  </div>

  {% include "events/time_picker_script.html" %}
{% endblock %}
