{% extends "front/layout.html" %}
{% load static %}

{% block title %}«&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block extra_scripts %}
  <script src="https://{{ rsvp.jitsi_meeting.domain }}/external_api.min.js"></script>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px;">
      <a
        class="btn btn-sm btn-default"
        href="{% url "view_event" event.pk %}">
        <i class="fa fa-external-link"></i> Page publique de l'événement
      </a>
    </div>
    <div class="col-xs-12 margintopmore">
      <h2 class="headline">
        {{ event.name }}
      </h2>
      <hr />
      <h3>Participation en ligne</h3>
      <div>
        {{ content }}
      </div>
    </div>
  </div>
{% endblock %}
