{% extends "front/layout.html" %}

{% block title %}Inscription pour «&nbsp;{{ event.name }}&nbsp;» confirmée{% endblock %}

{% block main %}
  <div class="col-responsive">
    <h2><a href="{% url "view_event" event.pk %}">{{ event.name }}</a></h2>
    <ol class="breadcrumb">
      <li><a href="{% url "view_event" event.pk %}">Page publique de l'évènement</a></li>
      <li>Confirmation d'inscription</li>
    </ol>
    <p>
      {{ payment.first_name }} {{ payment.last_name }}, votre paiement de {{ payment.get_price_display }} pour
      l'évènement «&nbsp;{{ event.name }}&nbsp;» a bien été reçu. Votre inscription est confirmée.
    </p>
    <a href="{% url 'homepage' %}">Retour à la page d'accueil</a>
  </div>

{% endblock %}
