{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}S'inscrire pour «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block additional_headers %}
    <style>
        fieldset legend {
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            line-height: 1.1;
            color: #0098b6;
            font-size: 28px;
        }

        fieldset {
            margin-top: 2em;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row"><div class="col-responsive">
        <h2 class="headline">{{ event.subscription_form.title }}</h2>
        {% if rsvp %}
            <h3>{{ rsvp.get_status_display }}</h3>
            {% if rsvp.payment %}
                <ul>
                    <li><strong>Prix</strong> : {{ rsvp.payment.get_price_display }}</li>
                    <li><strong>Numéro de transaction</strong> : {{ rsvp.payment.pk }}</li>
                    <li><strong>Mode de paiement</strong> : {{ rsvp.payment.get_mode_display }}</li>
                    <li>
                        <strong>Status</strong> : {{ rsvp.payment.get_status_display }}
                        {% if rsvp.payment.can_retry %}
                            <form method="post" action="{% url "payment_retry" rsvp.payment.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-info" value="Retenter le paiement">
                            </form>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
            <p>
                Voici les informations que vous avez donné :
            </p>

            <ul>
                {% for item in submission_data %}
                    {% if item.value %}
                        <li><strong>{{ item.label }}</strong>&nbsp;: {{ item.value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if guests_submission_data %}
                <p>Vous avez inscrit d'autre personnes :</p>
                {% for status, submission_data in guests_submission_data %}
                    <h4>Invité {{ forloop.counter }}</h4>
                    <ul>
                        <li><strong>{{ status }}</strong></li>
                    {% for item in submission_data %}
                        {% if item.value %}
                            <li><strong>{{ item.label }}</strong>&nbsp;: {{ item.value }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
            {% if event.allow_guests %}
                <h3>Inscrire un⋅e autre participant⋅e</h3>
                <div class="alert alert-info">
                <p>
                    Vous pouvez inscrire un⋅e participant⋅e supplémentaire avec votre compte. Cela est utile si cette
                    personne ne dispose pas d'adresse email ou de compte sur lafranceinsoumise.fr. Il sera de votre
                    responsabilité de transmettre les éventuelles informations ou billets d'entrée qui vous seront envoyés
                    avant l'événement.
                </p>
                <p>
                    Si la personne dispose d'une adresse email, préférez plutôt une inscription via son propre compte.
                    <a href="{% url 'oauth_disconnect' %}">Cliquez ici pour vous connecter avec un autre compte</a>.
                </p>
                </div>
            {% endif %}
        {% endif %}
        {% if not rsvp or event.allow_guests %}
            {% if event.subscription_form.is_open %}
                <div class="intro">
                    {{ event.subscription_form.html_description }}
                </div>
                {% crispy form %}
            {% else %}
                <div class="intro">
                    {{ event.subscription_form.html_closed_message }}
                </div>
            {% endif %}
        {% endif %}
    </div></div>
{% endblock %}
