{% extends "front/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}S'inscrire pour «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block additional_headers %}
    <style>
        fieldset legend {
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            line-height: 1.1;
            color: #0098b6;
            font-size: 28px;
        }

        fieldset {
            margin-top: 2em;
        }
    </style>
{% endblock %}

{% block main %}
    {% if event.subscription_form is not None %}
        <div class="row"><div class="col-responsive">
            <h2 class="headline">{{ event.subscription_form.title }}</h2>
            {% if event.subscription_form.is_open %}
                <div class="intro">
                    {{ event.subscription_form.html_description }}
                </div>
                {% crispy form %}
            {% else %}
                <div class="intro">
                    {{ event.subscription_form.html_closed_message }}
                </div>
            {% endif %}
        </div></div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Je m'inscris à cet événement</button>
        </form>
    {% endif %}
{% endblock %}
