{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Ajouter une image pour «&nbsp;{{ event.name }}&nbsp;»{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px;">
    <a
      class="btn btn-sm btn-default"
      href="{% url "view_event" event.pk %}">
      <i class="fa fa-external-link"></i> Page publique de l'événement
    </a>
  </div>
  <div class="col-xs-12">
    <h2 class="headline">
      {{ event.name }}
    </h2>
    <hr />
    <h3>Ajouter un image pour l'événement</h3>
    <div class="padtop padbottom form-group">
      <div>
        <div class="form-group">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy author_form %}
            {% crispy form %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
